@import "../../variables";

/* Combo Button */

table.dijitComboButtonRtl .dijitStretch  {
	border-radius: 0 $button-border-radius $button-border-radius 0;
}

table.dijitComboButtonRtl .dijitArrowButton {
	border-radius: $button-border-radius 0 0 $button-border-radius;
	border-left-width: 1px;
	border-right-width: 0;
}