<table class="content-table">
	<thead>
		<tr>
			<th>Dijit Name</th>
			<th>Normal</th>
			<th>Working progress</th>
		</tr>
	</thead>
	<tbody>
		<!-- map1 -->
		<tr>
			<td><span class="secondary">esri/</span>map<br /><span class="secondary">(with large zoom slider, pan buttons and info popup)</span>
			</td>
			<td rowspan="3">
				<div data-dojo-attach-point="map1" style="width:650px;height:100%;position:relative">
					<div data-dojo-attach-point="basemapGallery">
					</div>
				</div>	
			</td>
			<td class="in-progress" width="10%">
				<span>in progress</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="secondary">esri/dijit/</span>Scalebar
			</td>
			<td class="completed" width="10%">
				<span>completed (no changes)</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="secondary">esri/dijit/</span>BasemapGallery<br />
				<span class="secondary">(the dropdown button is NOT part of the BasemapGallery widget)</span>
			</td>
			<td class="completed" width="10%">
				<span>completed</span>
			</td>
		</tr>
		<!-- map2 -->
		<tr>
			<td><span class="secondary">esri/</span>map<br /><span class="secondary">(with simple(default) zoom slider and info popup)</span>
			</td>
			<td rowspan="3">
				<div data-dojo-attach-point="map2" dojo-data-props="'class': 'dojo-btn-primary'" style="width:650px;height:100%;position:relative">
					<div data-dojo-attach-point="legend">
					</div>
				</div>	
			</td>
			<td class="completed" width="10%">
				<span>completed</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="secondary">esri/dijit/</span>Legend
			</td>
			<td class="completed" width="10%">
				<span>completed (no changes)</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="secondary">esri/dijit/</span>OverviewMap
			</td>
			<td class="completed" width="10%">
				<span>completed</span>
			</td>
		</tr>
		
		<!-- esri/dijit/Bookmarks -->
		<tr>
			<td><span class="secondary">esri/dijit/</span>Bookmarks</td>
			<td>
				<div data-dojo-attach-point="mapBookmarks" style="width: 300px" class="dojo-btn-success"></div>
			</td>
			<td class="completed">
				<span>completed</span>
			</td>
		</tr>

		<!-- esri/dijit/Bookmarks -->
		<tr>
			<td><span class="secondary">esri/dijit/</span>Measurement</td>
			<td  class="dojo-btn-info">
				<div data-dojo-attach-point="mapMeasurement"></div>
			</td>
			<td class="completed">
				<span>completed</span>
			</td>
		</tr>

	</tbody>
</table>
