icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
/* .{$theme-name} .dijitCalendarRtl .dijitCalendarIncrease{
	background-position: 0 0;
}
.{$theme-name} .dijitCalendarRtl .dijitCalendarDecrease {
	background-position: -18px 0
}
.{$theme-name} .dijitCalendarRtl .dijitCalendarArrowHover .dijitCalendarIncrease {
	background-position: -36px 0
}
.{$theme-name} .dijitCalendarRtl .dijitCalendarArrowHover .dijitCalendarDecrease {
	background-position: -55px 0
}
.{$theme-name} .dijitCalendarRtl .dijitCalendarArrowActive .dijitCalendarIncrease {
	background-position: -72px 0
}
.{$theme-name} .dijitCalendarRtl .dijitCalendarArrowActive .dijitCalendarDecrease {
	background-position: -91px 0
}

*/
