/* Calendar
 * 
 * Styling Calendar mainly includes:
 * 
 * 1. Calendar container
 * 		.dijitCalendar - main container
 * 		.dijitCalendarHover / .dijitCalendarActive - states e.g. hover,active
 * 
 * 2. Month
 * 		.dijitCalendarMonthContainer
 * 		.dijitCalendarMonthLabel
 *      .dijitCalendarDecrease / .dijitCalendarDecrease - icons for switching to previous/next month
 *      .dijitCalendarArrowActive .dijitCalendarDecrease - states e.g. hover,active
 * 
 * 3. Date
 * 		.dijitCalendarDayLabelTemplate - week day column header e.g. S M T W T F S
 * 		.dijitCalendarDateTemplate - date label wrapper
 * 		.dijitCalendarPreviousMonth .dijitCalendarDateLabel - special labels for previous or next month
 *      .dijitCalendarSelectedDate .dijitCalendarDateLabel - styles for selected date
 * 		.dijitCalendarDisabledDate .dijitCalendarDateLabel - styles for disabled date
 * 		.dijitCalendarActiveDate .dijitCalendarDateLabel - states e.g. hover,active
 * 
 * 4. Year
 * 		.dijitCalendarYearContainer
 * 		.dijitCalendarYearLabel
 * 		.dijitCalendarPreviousYear /.dijitCalendarNextYear
 *      .dijitCalendarNextYearHover / .dijitCalendarPreviousYearHover - states e.g. hover,active
 *      
 * 5. Dropdown Month Menu
 * 		.dijitCalendarMonthMenu - menu container     
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabel - month label in menu item
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabelHover - menu item hover state
 */
icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.flat .dijitCalendar {
  background: #fff;
  padding: 6px 5px 3px 5px;
  border: 1px solid #b4b4b4;
  border-collapse: separate;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  color: text-color;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}
.flat .dijitCalendarMonthContainer th {
  text-align: center;
  vertical-align: middle;
  margin: 5px 0;
}
.flat .dijitCalendarMonthLabel {
  padding: 0 4px;
}
/* next/previous month arrows */
.flat .dijitCalendarIncrementControl {
  border-bottom: 4px solid transparent;
  border-right: 4px solid #2b2e34;
  border-top: 4px solid transparent;
}
.flat .dijitCalendarIncrease {
  border-bottom: 4px solid transparent;
  border-left: 4px solid #2b2e34;
  border-top: 4px solid transparent;
  border-right: 0;
}
.flat .dijitCalendarArrowHover,
.flat .dijitCalendarArrow:hover,
.flat .dijitCalendarNextYearHover,
.flat .dijitCalendarNextYear:hover,
.flat .dijitCalendarPreviousYearHover,
.flat .dijitCalendarPreviousYear:hover {
  border: 1px solid rgba(0,0,0,0.15);
  padding: 4px 12px;
  color: #2b2e34;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: linear-gradient(#fcfcfc, #f5f5f5);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: pointer;
  padding: 1px 6px 2px 6px;
}
.flat .dijitCalendarArrowActive,
.flat .dijitCalendarArrow:active,
.flat .dijitCalendarNextYearActive,
.flat .dijitCalendarNextYear:active,
.flat .dijitCalendarPreviousYearActive,
.flat .dijitCalendarPreviousYear:active {
  color: #2b2e34;
  border: 1px solid rgba(0,0,0,0.15);
  background: linear-gradient(#fff 0%, #f0f0f0 100%);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  transition: none;
  outline: none;
}
.flat .dijitA11ySideArrow {
/* text +/- labels instead of arrow icons, for high contrast mode */
  display: none;
}
.flat .dijitCalendarDayLabelTemplate {
  padding-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #b4b4b4;
  padding: 8px 3px 5px;
}
/* day */
.flat .dijitCalendarDayLabel {
  background: none;
  border: 0 none;
  color: #2b2e34;
  padding: 0 4px 0 4px;
  font-weight: bold;
  text-align: center;
}
/* date */
.flat .dijitCalendarDateTemplate {
  text-align: center;
  background: #fff;
  border-bottom: 0;
  padding-top: 0;
  font-size: 0.909em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
}
.flat .dijitCalendarPreviousMonth,
.flat .dijitCalendarNextMonth {
  background: #fff;
  border-bottom: 0;
}
.flat .dijitCalendarDateTemplate .dijitCalendarDateLabel {
  text-decoration: none;
  display: block;
  background: #fff;
  padding: 2px;
  border: 1px solid #fff;
  color: #2b2e34;
  text-shadow: none;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  -o-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.flat .dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.flat .dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: #a7acb7;
  border: 0;
}
.flat .dijitCalendarYearContainer {
  vertical-align: middle;
}
.flat .dijitCalendarYearControl {
  padding: 1px 2px 2px 2px;
}
.flat .dijitCalendarYearLabel {
  padding: 4px 0 0 0;
  margin: 0;
  font-size: 1.17em;
}
.flat .dijitCalendarYearLabel span {
/* trying to center next/current/previous year vertically, doesn't work on IE6/7 though */
  vertical-align: middle;
}
.flat .dijitCalendarSelectedYear {
  padding: 0 3px;
}
.flat .dijitCalendarNextYear,
.flat .dijitCalendarPreviousYear {
  padding: 1px 6px 2px 6px;
  color: #a7acb7;
  border: 1px solid transparent;
  line-height: 20px;
  font-size: 90%;
}
.flat .dijitCalendarSelectedYear {
  color: #2b2e34;
}
/* End Normal Calendar Style */
/* Hovered Calendar Style */
.flat .dijitCalendarHoveredDate .dijitCalendarDateLabel,
.flat .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
  background-color: #007ac2;
  color: #fff;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: solid 1px #007ac2;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
/* End Hovered Calendar Style */
/* Active Calendar Style */
.flat .dijitCalendarActiveDate .dijitCalendarDateLabel,
.flat .dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
  background-color: #0068a5;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.dj_ie6 .flat .dijitCalendarActiveDate .dijitCalendarDateLabel {
  background-image: none;
}
/* End Active Calendar Style */
/* Selected Calendar Style */
.flat .dijitCalendarSelectedDate .dijitCalendarDateLabel {
  color: #fff;
  background-color: #007ac2;
  border: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
/* End Selected Calendar Style */
/* Disabled Calendar Style*/
.flat .dijitCalendarDisabledDate .dijitCalendarDateLabel {
  color: #969696;
  text-decoration: line-through;
}
/* End Disabled Calendar Style */
/* Styling for month DropDownButton */
.flat .dijitCalendar .dijitDropDownButton {
  margin: 0;
}
.flat .dijitCalendar .dijitDropDownButton .dijitButtonNode {
  padding: 1px #fff #949494;
}
/* Styling for month drop down list */
.flat .dijitCalendarMonthMenu {
  border-color: #b4b4b4;
  background-color: $menu-background-color;
  text-align: center;
  background-image: none;
  padding: 5px 0;
}
.flat .dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  padding: 4px;
}
.flat .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover,
.flat .dijitCalendarMonthMenu .dijitCalendarMonthLabel:hover {
  color: #2b2e34;
  background: #eee;
}
