/* ========= Styling rules to affect widgets ========= */
icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.flat .dijitPopup {
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.flat .dijitTooltipDialogPopup {
/* exception popups: do not use a shadow on these because they aren't rectangular */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* TODO: Drag and Drop */
.flat .dojoDndItem {
  border-color: rgba(0,0,0,0);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}
.flat .dojoDndItemOver {
  background-color: $hovered-background-color;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  _background-image: none;
  padding: 1px;
  border: solid 1px $hovered-border-color;
  color: $hovered-text-color;
}
.flat .dojoDndItemAnchor,
.flat .dojoDndItemSelected {
  background-color: $selected-background-color;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  _background-image: none;
  padding: 1px;
  border: solid 1px $selected-border-color;
  color: #fff;
}
.flat .dojoDndItemBefore,
.flat .dojoDndItemAfter {
  border-color: $dnd-dropseparator-color;
}
.flat table.dojoDndAvatar {
  border: 1px solid #b4b4b4;
  border-collapse: collapse;
  background-color: $dnd-avatar-background-color;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}
.flat .dojoDndAvatarHeader td {
  height: 20px;
  padding-left: 21px;
}
.flat.dojoDndMove .dojoDndAvatarHeader,
.flat.dojoDndCopy .dojoDndAvatarHeader {
  background-image: url("images/dnd.png");
  background-repeat: no-repeat;
  background-position: 2px -122px;
}
.flat .dojoDndAvatarItem td {
  padding: 5px;
}
.flat.dojoDndMove .dojoDndAvatarHeader {
  background-color: $dnd-avatar-header-background-color;
  background-position: 2px -103px;
}
.flat.dojoDndCopy .dojoDndAvatarHeader {
  background-color: $dnd-avatar-header-background-color;
  background-position: 2px -68px;
}
.flat.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: $dnd-avatar-candrop-header-background-color;
  background-position: 2px -33px;
}
.flat.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: $dnd-avatar-candrop-header-background-color;
  background-position: 2px 2px;
}
