/* Dialog */

@import "../variables"

.{$theme-name} .dijitDialogRtl .dijitDialogCloseIcon {
	right: auto
	left: $dialog-padding * 1.5
}

.{$theme-name} .dijitDialogRtl .dijitDialogPaneActionBar {
	text-align: left
}
