/* Dialog 
 * 
 * Styling Dialog includes two sections: Dialog and Tooltip & TooltipDialog
 * 
 * Dialog:
 * 1. Dialog (default styling): 
 * 		.dijitDialog - styles for dialog's bounding box
 *
 * 2. Dialog title 
 * 		.dijitDialogTitleBar - styles for the title container at the top of dialog
 * 		.dijitDialogTitle - the text container in dialog title
 * 
 * 3. Dialog content 
 * 		.dijitDialogPaneContent - main container for content area and action bar
 * 		.dijitDialogPaneContentArea - styles for content container
 * 
 * 4. Dialog action bar 
 * 		.dijitDialogPaneActionBar - styles for action buttons lie at the bottom of dialog pane content
 * 
 * 5. Dialog underlay 
 * 		.dijitDialogUnderlay - div under the dialog which used for separate dialog and page content
 * 
 * 
 * Tooltip & TooltipDialog:
 * 1. tooltip content container: 
 * 		.dijitTooltipContainer - tooltip content container
 *
 * 2. tooltip connector: 
 * 		.dijitTooltipConnector - tooltip anchor includes 4 direction(up, down, left, right)
 */

@import "../variables"

.{$theme-name} .dijitDialog {
	background: $dialog-background
	border: $dialog-border
	border-radius: $dialog-border-radius
	box-shadow: $dialog-box-shadow
}

/* content pane */

.{$theme-name} .dijitDialogPaneContent {
	background: $dialog-content-background
	border-top: $dialog-content-border-top
	border-radius: 0 0 $dialog-border-radius $dialog-border-radius
	padding: $dialog-padding
	color: $dialog-text-color
	text-shadow: $dialog-text-shadow
	position: relative
}

/* content pane: the area that is contains the main content (above the action bar) */

.{$theme-name} .dijitDialogPaneContentArea {
	/* trick to get action bar (gray bar at bottom with OK/cancel buttons) to span from
	 * left to right but still indent dialog content
	 */ 
	margin: - $dialog-padding
	padding: $dialog-padding
}

/* content pane: action bar */

.{$theme-name} .dijitDialogPaneActionBar {
	/* gray bar at bottom of dialog with OK/Cancel buttons */
	background: $dialog-actionbar-background
	padding: $dialog-padding
	text-align: right
	border-top: 1px solid $dialog-actionbar-separator-top-color
	margin: $dialog-padding  (- $dialog-padding)  (- $dialog-padding)
	position: relative
}

/* create an additional top border to the action bar using :after */
.{$theme-name} .dijitDialogPaneActionBar:after {
    background: $dialog-actionbar-separator-bottom-color
    content: ""
    display: block
    height: 1px
    left: 0
    position: absolute
    top: 1px
    width: 100%
}

.{$theme-name} .dijitTooltipDialog .dijitDialogPaneActionBar {
	border-radius: 0 0 $dialog-border-radius $dialog-border-radius
	margin: $dialog-padding  (- $tooltip-padding * 2)  (- $tooltip-padding)  // tooltip's padding is used here since the tooltip dialog is wrapped in a tooltip
}

.{$theme-name} .dijitDialogPaneActionBar .dijitButton {
	float: none
}

/* title bar */

.{$theme-name} .dijitDialogTitleBar {
	/* outer container for the titlebar of the dialog */
	border-bottom: 1px solid $dialog-titlebar-border-color
	background: $dialog-titlebar-background-color
	padding: $dialog-padding $dialog-padding * 1.5
	line-height: $line-height
	border-radius: $dialog-border-radius $dialog-border-radius 0 0
}

.{$theme-name} .dijitDialogTitle {
	/* typography and styling of the dialog title */
	color: $dialog-titlebar-text-color
	font-size: $dialog-titlebar-font-size
	text-shadow: $dialog-titlebar-text-shadow
	font-weight: bold
}

.{$theme-name} .dijitDialogCloseIcon {
	/* the default close icon for the dialog */
	background: url($image-dialog-close) no-repeat 0 0
	position: absolute
	top: ($line-height + $dialog-padding * 2 - 17px ) * 0.5
	right: $dialog-padding * 1.5
	height: 17px
	width: 12px
	opacity: 0.65
}

.{$theme-name} .dijitDialogCloseIconHover,
.{$theme-name} .dijitDialogCloseIconActive {
	opacity: 1
}

.{$theme-name} .dijitDialogCloseIcon .closeText{
	display: none
}

.{$theme-name} .dijitDialogUnderlay {
	background: $dialog-underlay-color
	opacity: $dialog-underlay-opacity
}

/* Tooltip and TooltipDialog */

.{$theme-name} .dijitTooltip,
.{$theme-name} .dijitTooltipDialog {
	/* the outermost dom node, holding the connector and container */
	background: transparent	/* make the area on the sides of the arrow transparent */
}
.dijitTooltipBelow {
	/* leave room for arrow above content */
	padding-top: $tooltip-arrow-thickness
}

.dijitTooltipAbove {
	/* leave room for arrow below content */
	padding-bottom: $tooltip-arrow-thickness
}

.{$theme-name} .dijitTooltipContainer {
	/* the part with the text */
	background: $tooltip-background
	opacity: $tooltip-opacity
	border: $tooltip-border
	padding: $tooltip-padding $tooltip-padding * 2
	color: $tooltip-text-color
	text-shadow: $tooltip-text-shadow
	border-radius: $tooltip-border-radius
	box-shadow: $tooltip-box-shadow
} 

.{$theme-name} .dijitTooltipConnector {
	/* the arrow piece */
	z-index: 2
	width:auto
	height:auto
	opacity: $tooltip-opacity
}

.{$theme-name} .dijitTooltipABRight .dijitTooltipConnector {
	/* above or below tooltip, but the arrow appears on the right,
		and the right edges of target and tooltip are aligned rather than the left */
	left: auto !important
	right: $tooltip-padding * 2
}

.{$theme-name} .dijitTooltipBelow .dijitTooltipConnector {
	/* the arrow piece for tooltips below an element */
	top: 0
	left: $tooltip-padding * 2
	border-bottom: $tooltip-arrow-thickness solid $tooltip-arrow-color
	border-left: $tooltip-arrow-thickness solid transparent
	border-right: $tooltip-arrow-thickness solid transparent
	border-top: 0
}

.{$theme-name} .dijitTooltipAbove .dijitTooltipConnector {
	/* the arrow piece for tooltips above an element */
	bottom: 0;
	left: $tooltip-padding * 2
	border-top: $tooltip-arrow-thickness solid $tooltip-arrow-color
	border-left: $tooltip-arrow-thickness solid transparent
	border-right: $tooltip-arrow-thickness solid transparent
	border-bottom: 0
}

.{$theme-name} .dijitTooltipLeft {
	padding-right: $tooltip-arrow-thickness
}
.{$theme-name} .dijitTooltipLeft .dijitTooltipConnector {
	/* the arrow piece for tooltips to the left of an element, bottom borders aligned */
	right: 0
	border-left: $tooltip-arrow-thickness solid $tooltip-arrow-color
	border-bottom: $tooltip-arrow-thickness solid transparent
	border-top: $tooltip-arrow-thickness solid transparent
	border-right: 0
}

.{$theme-name} .dijitTooltipRight {
	padding-left: $tooltip-arrow-thickness
}
.{$theme-name} .dijitTooltipRight .dijitTooltipConnector {
	/* the arrow piece for tooltips to the right of an element, bottom borders aligned */
	left: 0
	border-bottom: $tooltip-arrow-thickness solid transparent
    border-top: $tooltip-arrow-thickness solid transparent
    border-right: $tooltip-arrow-thickness solid $tooltip-arrow-color
}

/* dijitTooltipDialog */

.{$theme-name} .dijitTooltipDialog .dijitTooltipContainer{
	background: $dialog-background
	border: $dialog-border
	border-radius: $dialog-border-radius
	box-shadow: $dialog-box-shadow
	color: $dialog-text-color
	text-shadow: $dialog-text-shadow
	opacity:1
}

.{$theme-name} .dijitTooltipDialog.dijitTooltipBelow{
	padding-top: $dialog-arrow-thickness
}
.{$theme-name} .dijitTooltipDialog.dijitTooltipAbove{
	padding-bottom: $dialog-arrow-thickness
}
.{$theme-name} .dijitTooltipDialog.dijitTooltipLeft{
	padding-right: $dialog-arrow-thickness
}
.{$theme-name} .dijitTooltipDialog.dijitTooltipRight{
	padding-left: $dialog-arrow-thickness
}

/* The tooltip dialog's connector itself serves as the "border" of the arrows,*/
/* then using :after to overlay the connector to "fill" the arrows with the same color as the container. */
.{$theme-name} .dijitTooltipDialog .dijitTooltipConnector {
	height: 0
	width: 0
	position: absolute
	z-index: 2
	opacity: 1
}
.{$theme-name} .dijitTooltipDialog .dijitTooltipConnector:after {
	content: ""
	height: 0
	width: 0
	position: absolute
}
.{$theme-name} .dijitTooltipDialog.dijitTooltipAbove .dijitTooltipConnector {
	border-color: $dialog-arrow-border-color transparent transparent
	border-width: $dialog-arrow-thickness + 1px $dialog-arrow-thickness + 1px 0 /* one extra pixel is added as the border of the arrows */;
	border-style: solid
}
.{$theme-name} .dijitTooltipDialog.dijitTooltipAbove .dijitTooltipConnector:after {
	border-color: $dialog-arrow-background transparent transparent
	border-width: $dialog-arrow-thickness $dialog-arrow-thickness 0
	border-style: solid
	left: - $dialog-arrow-thickness
	top: - $dialog-arrow-thickness - 1px
}
.{$theme-name} .dijitTooltipDialog.dijitTooltipBelow .dijitTooltipConnector {
	border-color: transparent transparent $dialog-arrow-border-color
	border-width: 0 $dialog-arrow-thickness + 1px $dialog-arrow-thickness + 1px
	border-style: solid
}
.{$theme-name} .dijitTooltipDialog.dijitTooltipBelow .dijitTooltipConnector:after {
	border-color: transparent transparent $dialog-arrow-background
	border-width: 0 $dialog-arrow-thickness $dialog-arrow-thickness
	border-style: solid
	left: - $dialog-arrow-thickness
	bottom: - $dialog-arrow-thickness - 1px
}
.{$theme-name} .dijitTooltipDialog.dijitTooltipLeft .dijitTooltipConnector {
	border-color: transparent transparent transparent $dialog-arrow-border-color
	border-width: $dialog-arrow-thickness + 1px 0 $dialog-arrow-thickness + 1px $dialog-arrow-thickness + 1px
	border-style: solid
}
.{$theme-name} .dijitTooltipDialog.dijitTooltipLeft .dijitTooltipConnector:after {
	border-color: transparent transparent transparent $dialog-arrow-background
	border-width: $dialog-arrow-thickness 0 $dialog-arrow-thickness $dialog-arrow-thickness
	border-style: solid
	top: - $dialog-arrow-thickness
	left: - $dialog-arrow-thickness - 1px
}
.{$theme-name} .dijitTooltipDialog.dijitTooltipRight .dijitTooltipConnector {
	border-color: transparent $dialog-arrow-border-color transparent transparent
	border-width: $dialog-arrow-thickness + 1px $dialog-arrow-thickness + 1px $dialog-arrow-thickness + 1px 0
	border-style: solid
}
.{$theme-name} .dijitTooltipDialog.dijitTooltipRight .dijitTooltipConnector:after {
	border-color: transparent $dialog-arrow-background transparent transparent
	border-width: $dialog-arrow-thickness $dialog-arrow-thickness $dialog-arrow-thickness 0
	border-style: solid
	top: - $dialog-arrow-thickness
	right: - $dialog-arrow-thickness - 1px
}