/* Menu 

There are three areas of styling for the Menu:  
 
 1. The menu 
 	There are three types of menus:
 	i) Context Menu
 	ii) Drop down Menu
 	iii) Navigation Menu
 	All three types of menus are affected by the .dijitMenu class in which you can set the background-color, padding and border
 	.dijitMenu affects the drop down menu in TimeTextBox, Calendar, ComboBox and FilteringSelect
  .dijitMenuTable - for padding - also affects Select widget 	
  	
 2. The menu bar
 	.dijitMenuBar - for border, margins, padding, background-color of the menu bar
 	.dijitMenuBar .dijitMenuItem - for padding, text color of menu items in the menu bar (overrides .dijitMenuItem) 
 	
 3. Menu items - items in the menu.  
 	.dijitMenuItem - for color
 	.dijitMenuItemHover, .dijitMenuItemSelected - for background-color, border, text color, padding of a menu item or menubar item that has been hovered over or selected	
 	.dijitMenuItemActive - for background-color of an active (mousedown) menu item
	td.dijitMenuItemIconCell - for padding around a  menu item's icon
	td.dijitMenuItemLabel - for padding around a menu item's label	
	.dijitMenuSeparatorTop - for border, top border, of the separator
	.dijitMenuSeparatorBottom - for bottom margin of the separator
	
	Styles specific to ComboBox and FilteringSelect widgets: 
	.dijitComboBoxMenu .dijitMenuItem - for padding and border of a menu item in a ComboBox or FilteringSelect widget's menu
	.dijitComboBoxMenu .dijitMenuItemSelected- for text color, background-color and border of a menu item in a ComboBox or FilteringSelect widget's menu

*/
icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.flat .dijitMenu {
  background: #fff;
  border: 0 none;
  -moz-border-radius: 2px;
  border-radius: 2px;
/* so adjoining borders of MenuBar/ComboBox and Menu overlap, avoiding double border */
  margin: 0;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}
.flat .dijitMenuTable,
.flat .dijitComboBoxMenu {
  padding: 8px 0;
}
.flat .dijitComboBoxMenu {
  margin-left: 0;
  background-image: none;
}
.flat .dijitMenuTable {
/* this prevents jiggling upon hover of a menu item */
  border-collapse: separate;
  border-spacing: 0 0;
}
/* Menu Item */
.flat .dijitMenuItem,
.flat .dijitMenuItem td {
  color: #2b2e34;
  text-shadow: none;
  line-height: 20px;
  padding: 4px;
  background: transparent;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  white-space: nowrap;
}
/* Menu Item: Hover */
.flat .dijitMenuItemHover td,
.flat .dijitMenuItemHover {
  color: #fff;
  text-shadow: none;
  background: #007ac2;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Menu Item: Active */
.flat .dijitMenuItemSelected td,
.flat .dijitMenuItemSelected {
  color: #fff;
  text-shadow: none;
  background: #007ac2;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Menu Item: Selected */
.flat .dijitMenuItemSelected td,
.flat .dijitMenuItemSelected {
  color: #fff;
  text-shadow: none;
  background: #007ac2;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Menu Item Separator */
.flat .dijitMenuSeparatorTop {
  height: auto;
  margin-top: 1px;
/* prevents spacing above/below separator */
  border-bottom: 1px solid #b4b4b4;
}
.flat .dijitMenuSeparatorBottom {
  height: auto;
  margin-bottom: 1px;
  border-top: 0 none;
}
/* TODO: Menu Item Icon */
.flat td.dijitMenuItemIconCell {
  padding: 4px;
  margin: 0 0 0 4px;
}
/*.{$theme-name} .dijitMenuExpand {
	width: 7px
	height: 7px
	background-image: url($image-arrow-sprite)
	background-position: -14px 0
	margin-right:$padding-1
}*/
.flat .dijitMenuItemDisabled .dijitMenuItemIconCell {
  opacity: 1;
}
/* the checked icon */
.flat .dijitCheckedMenuItemIconChar {
  display: none;
}
.flat .dijitCheckedMenuItemIcon {
  background-image: url("form/images/checkboxRadioButtonStates.png");
  background-repeat: no-repeat;
  background-position: -15px 50%;
  width: 15px;
  height: 16px;
}
.flat .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
  background-position: 0 50%;
}
.flat .dijitMenuPreviousButton,
.flat .dijitMenuNextButton {
  font-style: italic;
}
/* Menu Bar */
.flat .dijitMenuBar {
  border: 0 none;
  margin: 0;
  padding: 0;
  background: transparent;
}
.flat .dijitMenuBar .dijitMenuItem {
  padding: 5px 25px 0;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 45px;
  margin: 0;
  border-bottom: 0 none;
}
.flat .dijitMenuBar .dijitMenuItemHover {
  background: #0068a5;
  border-bottom: 0 none;
}
.flat .dijitMenuBar .dijitMenuItemActive {
  background: #0068a5;
  border-bottom: 0 none;
}
.flat .dijitMenuBar .dijitMenuItemSelected,
.flat .dijitMenuBar .dijitMenuItemHover.dijitMenuItemSelected,
.flat .dijitMenuBar .dijitMenuItemActive.dijitMenuItemSelected {
  color: #fff;
  background: #0068a5;
  border-bottom: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flat .dijitMenuBar .dijitMenuItem.hasSubMenu {
  padding-right: 35px;
  position: relative;
}
.flat .dijitMenuBar .dijitMenuItem.hasSubMenu:after {
  position: absolute;
  top: 18px;
  right: 10px;
  content: "";
  background: url("images/glyphicons-halflings-white.png") no-repeat -313px -119px;
  width: 14px;
  height: 14px;
}
.flat .dijitMenuBar .dijitMenuItemSelected.hasSubMenu:after {
  background-image: url("images/glyphicons-halflings-white.png");
}
/* MenuBar Dropdown */
.flat .dijitMenuPopup {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.flat .dijitMenuPopup .dijitMenu {
  border-top: 0 none;
  margin-top: 0;
/*min-width: $menubar-popup-min-width*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.flat .dijitMenuPopup .dijitMenuItem,
.flat .dijitMenuPopup .dijitMenuItem td {
  padding: 8px;
}
