icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.flat .dijitMenuItemRtl .dijitMenuExpand {
  background-position: -7px 0;
  margin-right: 0;
  margin-left: 3px;
}
.flat .dijitMenuItemRtl .dijitMenuItemIcon {
  margin: 0 4px 0 0;
}
