.dijitRtl .dijitPlaceHolder {
  left: auto;
  right: 0;
}
.dijitMenuItemRtl {
  text-align: right;
}
.dj_iequirks .dijitComboButtonRtl button {
  float: left;
}
.dj_ie .dijitTextBoxRtl .dijitInputContainer {
  clear: right;
}
.dijitTextBoxRtl .dijitValidationContainer,
.dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijitComboBoxRtl .dijitArrowButtonContainer {
  border-right-width: 1px !important;
  border-left-width: 0 !important;
}
.dijitSpinnerRtl .dijitSpinnerButtonContainer .dijitArrowButton {
  right: 0;
  left: auto;
}
.dijitSelectRtl .dijitButtonText {
  float: right;
}
.dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijitValidationTextBoxRtl .dijitValidationContainer,
.dijitTextBoxRtl .dijitArrowButtonContainer {
  float: left;
}
div.dijitNumberTextBoxRtl {
  text-align: right;
}
.dijitCalendarRtl .dijitCalendarNextYear {
  margin: 0 0.55em 0 0;
}
.dijitCalendarRtl .dijitCalendarPreviousYear {
  margin: 0 0 0 0.55em;
}
.dijitSliderRtl .dijitSliderImageHandleV {
  left: auto;
}
.dijitSliderRtl .dijitSliderImageHandleH {
  left: -50%;
}
.dijitSliderRtl .dijitSliderMoveableH {
  right: auto;
  left: 0;
}
.dijitSliderRtl .dijitRuleContainerV {
  float: right;
}
.dj_ie .dijitSliderRtl .dijitRuleContainerV {
  text-align: right;
}
.dj_ie .dijitSliderRtl .dijitRuleLabelV {
  text-align: left;
}
.dj_ie .dijitSliderRtl .dijitRuleLabelH {
  zoom: 1;
}
.dijitSliderRtl .dijitSliderProgressBarH {
  float: right;
  right: 0;
  left: auto;
}
.dijitRtl .dijitContentPaneLoading .dijitIconLoading,
.dijitRtl .dijitContentPaneError .dijitIconError {
  margin-right: 0;
  margin-left: 9px;
}
.dijitTabControllerRtl .nowrapTabStrip {
  text-align: right;
}
.dijitTabRtl .dijitTabCloseButton {
  margin-left: 0;
  margin-right: 1em;
}
.dj_ie6 .dijitTabRtl .tabLabel,
.dj_ie6 .dijitTabContainerRight-tabs .dijitTabRtl,
.dj_ie6 .dijitTabContainerLeft-tabs .dijitTabRtl,
.dj_ie7 .dijitTabContainerRight-tabs .dijitTabRtl,
.dj_ie7 .dijitTabContainerLeft-tabs .dijitTabRtl {
  zoom: 1;
}
.dj_ie6 .dijitTabContainerRight-tabs .dijitTabRtl,
.dj_ie7 .dijitTabContainerRight-tabs .dijitTabRtl {
  left: 0;
}
.dj_ie6 .dijitTabContainerRightRtl .dijitTabContainerRight-tabs,
.dj_ie6 .dijitTabContainerLeftRtl .dijitTabContainerLeft-tabs {
  width: 1%;
}
.dj_ie .dijitTimePickerRtl .dijitTimePickerItem {
  width: 100%;
}
.dijitColorPaletteRtl .dijitColorPaletteUnder {
  left: auto;
  right: 0;
}
.dijitSelectRtl .dijitButtonContents {
  border-style: none none none solid;
  text-align: right;
}
.dijitTreeRtl .dijitTreeContainer {
  float: right;
}
.dijitRtl .dojoDndHorizontal .dojoDndItemBefore {
  border-width: 0 2px 0 0;
  padding: 2px 0 2px 2px;
}
.dijitRtl .dojoDndHorizontal .dojoDndItemAfter {
  border-width: 0 0 0 2px;
  padding: 2px 2px 2px 0;
}
.bootstrap .dijitTextBoxRtlError .dijitValidationContainer {
  border-left-width: 0;
  border-right-width: 1px;
}
.bootstrap .dijitComboButtonRtl .dijitStretch {
  -moz-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.bootstrap .dijitComboButtonRtl .dijitArrowButton {
  -moz-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  padding: 3px 0 4px;
  border-left-width: 1px;
  border-right-width: 0;
}
.bootstrap .dijitTabContainerTop-tabs .dijitTabRtl,
.bootstrap .dijitTabContainerBottom-tabs .dijitTabRtl {
  margin-right: 0;
  margin-left: 1px;
}
.bootstrap .dijitSliderRtl .dijitSliderProgressBarH,
.bootstrap .dijitSliderRtl .dijitSliderRemainingBarH,
.bootstrap .dijitSliderRtl .dijitSliderLeftBumper,
.bootstrap .dijitSliderRtl .dijitSliderRightBumper,
.bootstrap .dijitSliderRtl .dijitSliderTopBumper {
  background-position: top right;
}
.bootstrap .dijitSliderRtl .dijitSliderProgressBarV,
.bootstrap .dijitSliderRtl .dijitSliderRemainingBarV,
.bootstrap .dijitSliderRtl .dijitSliderBottomBumper {
  background-position: bottom right;
}
.bootstrap .dijitSliderRtl .dijitSliderLeftBumper {
  border-left-width: 0;
  border-right-width: 1px;
}
.bootstrap .dijitSliderRtl .dijitSliderRightBumper {
  border-left-width: 1px;
  border-right-width: 0;
}
.bootstrap .dijitSliderRtl .dijitSliderIncrementIconH {
  background-position: -357px 50%;
}
.bootstrap .dijitSliderRtl .dijitSliderDecrementIconH {
  background-position: -251px 50%;
}
.bootstrap .dijitDialogRtl .dijitDialogCloseIcon {
  right: auto;
  left: 5px;
}
.bootstrap .dijitDialogRtl .dijitDialogPaneActionBar {
  text-align: left;
  padding: 3px 7px 2px 5px;
}
.bootstrap .dijitEditorRtl .dijitEditorIFrameContainer {
  padding: 3px 10px 1px 3px;
}
.dj_ie6 .bootstrap .dijitEditorRtl .dijitEditorIFrameContainer,
.dj_ie7 .bootstrap .dijitEditorRtl .dijitEditorIFrameContainer,
.dj_ie8 .bootstrap .dijitEditorRtl .dijitEditorIFrameContainer {
  padding: 3px 0px 1px 10px;
  margin-right: 0px;
  border: 0px solid #d3d3d3;
}
.dijitEditorRtl .dijitEditorIcon {
  background-image: url("../../icons/images/editorIconsEnabled_rtl.png");
}
.dijitEditorRtlDisabled .dijitEditorIcon {
  background-image: url("../../icons/images/editorIconsDisabled_rtl.png");
}
.dijitToolbarRtl .dijitToolbarSeparator {
  background-image: url("../../icons/images/editorIconsEnabled_rtl.png");
}
.dijitRtl .dijitIconSave,
.dijitRtl .dijitIconPrint,
.dijitRtl .dijitIconCut,
.dijitRtl .dijitIconCopy,
.dijitRtl .dijitIconClear,
.dijitRtl .dijitIconDelete,
.dijitRtl .dijitIconUndo,
.dijitRtl .dijitIconEdit,
.dijitRtl .dijitIconNewTask,
.dijitRtl .dijitIconEditTask,
.dijitRtl .dijitIconEditProperty,
.dijitRtl .dijitIconTask,
.dijitRtl .dijitIconFilter,
.dijitRtl .dijitIconConfigure,
.dijitRtl .dijitIconSearch,
.dijitRtl .dijitIconApplication,
.dijitRtl .dijitIconBookmark,
.dijitRtl .dijitIconChart,
.dijitRtl .dijitIconConnector,
.dijitRtl .dijitIconDatabase,
.dijitRtl .dijitIconDocuments,
.dijitRtl .dijitIconMail,
.dijitRtl .dijitLeaf,
.dijitRtl .dijitIconFile,
.dijitRtl .dijitIconFunction,
.dijitRtl .dijitIconKey,
.dijitRtl .dijitIconPackage,
.dijitRtl .dijitIconSample,
.dijitRtl .dijitIconTable,
.dijitRtl .dijitIconUsers,
.dijitRtl .dijitFolderClosed,
.dijitRtl .dijitIconFolderClosed,
.dijitRtl .dijitFolderOpened,
.dijitRtl .dijitIconFolderOpen,
.dijitRtl .dijitIconError {
  background-image: url("../../icons/images/commonIconsObjActEnabled_rtl.png");
  width: 16px;
  height: 16px;
}
.dj_ie6 .dijitRtl .dijitIconSave,
.dj_ie6 .dijitRtl .dijitIconPrint,
.dj_ie6 .dijitRtl .dijitIconCut,
.dj_ie6 .dijitRtl .dijitIconCopy,
.dj_ie6 .dijitRtl .dijitIconClear,
.dj_ie6 .dijitRtl .dijitIconDelete,
.dj_ie6 .dijitRtl .dijitIconUndo,
.dj_ie6 .dijitRtl .dijitIconEdit,
.dj_ie6 .dijitRtl .dijitIconNewTask,
.dj_ie6 .dijitRtl .dijitIconEditTask,
.dj_ie6 .dijitRtl .dijitIconEditProperty,
.dj_ie6 .dijitRtl .dijitIconTask,
.dj_ie6 .dijitRtl .dijitIconFilter,
.dj_ie6 .dijitRtl .dijitIconConfigure,
.dj_ie6 .dijitRtl .dijitIconSearch,
.dj_ie6 .dijitRtl .dijitIconApplication,
.dj_ie6 .dijitRtl .dijitIconBookmark,
.dj_ie6 .dijitRtl .dijitIconChart,
.dj_ie6 .dijitRtl .dijitIconConnector,
.dj_ie6 .dijitRtl .dijitIconDatabase,
.dj_ie6 .dijitRtl .dijitIconDocuments,
.dj_ie6 .dijitRtl .dijitIconMail,
.dj_ie6 .dijitRtl .dijitLeaf,
.dj_ie6 .dijitRtl .dijitIconFile,
.dj_ie6 .dijitRtl .dijitIconFunction,
.dj_ie6 .dijitRtl .dijitIconKey,
.dj_ie6 .dijitRtl .dijitIconPackage,
.dj_ie6 .dijitRtl .dijitIconSample,
.dj_ie6 .dijitRtl .dijitIconTable,
.dj_ie6 .dijitRtl .dijitIconUsers,
.dj_ie6 .dijitRtl .dijitFolderClosed,
.dj_ie6 .dijitRtl .dijitIconFolderClosed,
.dj_ie6 .dijitRtl .dijitFolderOpened,
.dj_ie6 .dijitRtl .dijitIconFolderOpen,
.dj_ie6 .dijitRtl .dijitIconError {
  background-image: url("../../icons/images/commonIconsObjActEnabled8bit_rtl.png");
}
.dijitRtl .dijitDisabled .dijitIconSave,
.dijitRtl .dijitDisabled .dijitIconPrint,
.dijitRtl .dijitDisabled .dijitIconCut,
.dijitRtl .dijitDisabled .dijitIconCopy,
.dijitRtl .dijitDisabled .dijitIconClear,
.dijitRtl .dijitDisabled .dijitIconDelete,
.dijitRtl .dijitDisabled .dijitIconUndo,
.dijitRtl .dijitDisabled .dijitIconEdit,
.dijitRtl .dijitDisabled .dijitIconNewTask,
.dijitRtl .dijitDisabled .dijitIconEditTask,
.dijitRtl .dijitDisabled .dijitIconEditProperty,
.dijitRtl .dijitDisabled .dijitIconTask,
.dijitRtl .dijitDisabled .dijitIconFilter,
.dijitRtl .dijitDisabled .dijitIconConfigure,
.dijitRtl .dijitDisabled .dijitIconSearch,
.dijitRtl .dijitDisabled .dijitIconApplication,
.dijitRtl .dijitDisabled .dijitIconBookmark,
.dijitRtl .dijitDisabled .dijitIconChart,
.dijitRtl .dijitDisabled .dijitIconConnector,
.dijitRtl .dijitDisabled .dijitIconDatabase,
.dijitRtl .dijitDisabled .dijitIconDocuments,
.dijitRtl .dijitDisabled .dijitIconMail,
.dijitRtl .dijitDisabled .dijitLeaf,
.dijitRtl .dijitDisabled .dijitIconFile,
.dijitRtl .dijitDisabled .dijitIconFunction,
.dijitRtl .dijitDisabled .dijitIconKey,
.dijitRtl .dijitDisabled .dijitIconPackage,
.dijitRtl .dijitDisabled .dijitIconSample,
.dijitRtl .dijitDisabled .dijitIconTable,
.dijitRtl .dijitDisabled .dijitIconUsers,
.dijitRtl .dijitDisabled .dijitFolderClosed,
.dijitRtl .dijitDisabled .dijitIconFolderClosed,
.dijitRtl .dijitDisabled .dijitFolderOpened,
.dijitRtl .dijitDisabled .dijitIconFolderOpen,
.dijitRtl .dijitDisabled .dijitIconError {
  background-image: url("../../icons/images/commonIconsObjActDisabled_rtl.png");
}
.bootstrap .dijitTitlePaneRtl .dijitClosed .dijitArrowNode {
  background-position: -7px 0;
}
.bootstrap .dijitMenuItemRtl .dijitMenuExpand {
  background-position: -7px 0;
  margin-right: 0;
  margin-left: 3px;
}
.bootstrap .dijitMenuItemRtl .dijitMenuItemIcon {
  margin: 0 4px 0 0;
}
.bootstrap .dijitCalendarRtl .dijitCalendarIncrease {
  background-position: 0 0;
}
.bootstrap .dijitCalendarRtl .dijitCalendarDecrease {
  background-position: -18px 0;
}
.bootstrap .dijitCalendarRtl .dijitCalendarArrowHover .dijitCalendarIncrease {
  background-position: -36px 0;
}
.bootstrap .dijitCalendarRtl .dijitCalendarArrowHover .dijitCalendarDecrease {
  background-position: -55px 0;
}
.bootstrap .dijitCalendarRtl .dijitCalendarArrowActive .dijitCalendarIncrease {
  background-position: -72px 0;
}
.bootstrap .dijitCalendarRtl .dijitCalendarArrowActive .dijitCalendarDecrease {
  background-position: -91px 0;
}
.dj_ie .bootstrap .dijitTimePickerRtl .dijitTimePickerTickHover,
.dj_ie .bootstrap .dijitTimePickerRtl .dijitTimePickerMarkerHover,
.dj_ie .bootstrap .dijitTimePickerRtl .dijitTimePickerMarkerSelected,
.dj_ie .bootstrap .dijitTimePickerRtl .dijitTimePickerTickSelected {
  margin-left: -6px;
  margin-right: -8px;
  width: 114%;
}
.bootstrap .dijitToolbar .dijitComboButtonRtl .dijitButtonNode {
  border-width: 0;
  padding: 2px;
}
.bootstrap .dijitToolbar .dijitComboButtonRtlHover .dijitButtonNode,
.bootstrap .dijitToolbar .dijitComboButtonRtlActive .dijitButtonNode {
  border-width: 1px;
  padding: 1px;
}
.bootstrap .dijitToolbar .dijitComboButtonRtl .dijitStretch {
  -moz-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.bootstrap .dijitToolbar .dijitComboButtonRtl .dijitArrowButton {
  -moz-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.bootstrap .dijitToolbar .dijitComboButtonRtlHover .dijitArrowButton,
.bootstrap .dijitToolbar .dijitComboButtonRtlActive .dijitArrowButton {
  border-left-width: 1px;
  border-right-width: 0;
  padding-left: 1px;
  padding-right: 2px;
}
.bootstrap .dijitProgressBarRtl .dijitProgressBarFull {
  border-left-width: 1px;
  border-right-width: 0px;
}
