/* Tree 
 * 
 * Styling Tree mostly means styling the TreeRow (dijitTreeRow)
 * There are 4 basic states to style:
 * 
 * Tree Row:
 * 1. tree row (default styling): 
 * 		.dijitTreeRow - styles for each row of the tree
 *
 * 2. hovered tree row (mouse hover on a tree row)
 * 		.dijitTreeRowHover - styles when mouse over on one row
 * 
 * 3. active tree row (mouse down on a tree row)
 * 		.dijitTreeRowActive - styles when mouse down on one row
 * 
 * 4. selected tree row
 * 		dijitTreeRowSelected - style when the row has been selected
 * 
 * Tree Expando:
 * 	    dijitTreeExpando - the expando at the left of the text of each tree row
 * 
 * Drag and Drop on TreeNodes: (insert line on dijitTreeContent node so it'll aligned w/ target element)
 * 		.dijitTreeNode .dojoDndItemBefore/.dojoDndItemAfter - use border style simulate a separate line
 */
icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.flat .dijitTreeNode {
  zoom: 1;
/* force layout on IE (TODO: may not be needed anymore) */
}
.flat .dijitTreeIsRoot {
  background: none;
}
/* Styling for basic tree node (unhovered, unselected)
 * Also use this styling when dropping between items on the tree (in other words, don't
 * use hover effect)
 */
.flat .dijitTreeRow,
.flat .dijitTreeNode .dojoDndItemBefore,
.flat .dijitTreeNode .dojoDndItemAfter {
/* so insert line shows up on IE when dropping after a target element */
  padding: 8px 0;
  background-color: none;
  background-color: transparent;
  background-color: rgba(171,214,255,0);
  background-position: 0 0;
  background-repeat: repeat-x;
  border: 1px solid none;
  color: #2b2e34;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.flat .dijitTreeRowSelected,
.flat .dijitTreeRowHover.dijitTreeRowSelected,
.flat .dijitTreeRowActive.dijitTreeRowSelected {
  padding: 8px 0;
  border: 1px solid none;
  color: #2b2e34;
}
.flat .dijitTreeRowSelected {
  background: transparent;
}
.flat .dijitTreeRowHover.dijitTreeRowSelected {
  background: #f5f5f5;
}
.flat .dijitTreeRowActive.dijitTreeRowSelected {
  background: #f5f5f5;
}
.flat .dijitTreeRowHover {
  background: #f5f5f5;
  padding: 8px 0;
  border: 1px solid none;
  color: #2b2e34;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.flat .dijitTreeRowActive {
  background: #f5f5f5;
  padding: 8px 0;
  border: 1px solid none;
  color: #2b2e34;
}
.flat .dijitTreeRowFocused {
  background-repeat: repeat;
}
/* expando (open/closed) icon */
.flat .dijitTreeExpando {
  font-family: FontAwesome;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  opacity: 0.65;
  margin-left: 4px;
}
.flat .dijitTreeExpandoOpened:before {
  content: "\f146";
  cursor: pointer;
}
.flat .dijitTreeRowHover .dijitTreeExpandoOpened {
  opacity: 0.85;
}
.flat .dijitTreeExpandoClosed:before {
  content: "\f0fe";
  cursor: pointer;
}
.flat .dijitTreeRowHover .dijitTreeExpandoClosed {
  opacity: 0.85;
}
.flat .dijitTreeExpandoLoading {
  background-image: url("images/loadingAnimation.gif");
}
/* Drag and Drop on TreeNodes
 * Put insert line on dijitTreeContent node so it's aligned w/
 * (ie, indented equally with) target element, even
 * though dijitTreeRowNode is the actual "drag object"
 */
.flat .dijitTreeNode .dojoDndItemBefore .dijitTreeContent {
  border-top: 2px solid $dnd-dropseparator-color;
}
.flat .dijitTreeNode .dojoDndItemAfter .dijitTreeContent {
  border-bottom: 2px solid $dnd-dropseparator-color;
}
