@import "../../../../variables"

/* OVERWRITE TABLE LAYOUTS */

.esriFormTable,
.esriFormTable > tbody,
.esriFormTable > tbody > tr {
  display: block;
  position: relative;
}
.esriFormTable > tbody > tr > td {
  display: block;
}

.analysisTitle .esriFormTable > tbody > tr > td {
	display: inline-block;
}

html[dir='rtl'] caption, html[dir='rtl'] th {
	text-align: right;
}

.esriRtl {
	direction: rtl;
}

.esriAlignTrailing {
	text-align: right;
}

.esriAlignLeading {
	text-align: left;
}

.esriTdAlignTrailing {
	align: right;
}

.esriTdAlignLeading {
	align: left;
}

.esriFloatTrailing {
    position: absolute;
    right: 0;
    top: $padding*4;	
	float: right;
	margin-right: $esri-analysis-default-spacing;
}

.esriFloatLeading {
	float: left;
}

.esriLtr .esriFloatLeading {
	float: left !important;
}

.esriRtl .esriAlignTrailing {
	text-align: left;
}

.esriRtl .esriAlignLeading {
	text-align: right;
}

.esriRtl .esriTdAlignTrailing {
	align: left;
}

.esriRtl .esriTdAlignLeading {
	align: right;
}

.esriRtl .esriFloatTrailing {
	float: left;
}

.esriRtl .esriFloatLeading {
	float: right;
}

.esriLeadingMargin0 {
	margin-left: 0;
}

.esriLeadingMargin025 {
	margin-left: 0.25em;
}

.esriLeadingMargin05 {
	margin-left: 0.5em;
}

.esriLeadingMargin1 {
	margin-left: 4%;
}

.esriLeadingMargin2 {
	margin-left: 2em;
}

.esriLeadingMargin3 {
	margin-left: 3em;
}

.esriLeadingMargin35 {
	margin-left: 3.5em;
}

.esriLeadingMargin4 {
	margin-left: 4em;
}

.esriLeadingMargin5 {
	margin-left: 5em;
}

.esriLeadingMargin6 {
	margin-left: 6em;
}

.esriLeadingMargin7 {
	margin-left: 7em;
}

.esriLeadingMargin10 {
	margin-left: 10em;
}

.esriLeadingMargin15 {
	margin-left: 1.5em;
}

.esriLeadingMargin27 {
	margin-left: 2.7em;
}

.esriLeadingMargin23 {
	margin-left: 2.3em;
}

.esriLeadingMargin24 {
	margin-left: 24em;
}

.esriTrailingMargin025 {
	margin-right: 0.25em;
}

.esriTrailingMargin05 {
	margin-right: 0.5em;
}

.esriTrailingMargin07 {
	margin-right: 0.7em;
}

.esriTrailingMargin1 {
	margin-right: 1em;
}

.esriTrailingMargin2 {
	margin-right: 2em;
}

.esriTrailingMargin3 {
	margin-right: 3em;
}

.esriTrailingMargin35 {
	margin-right: 3.5em;
}

.esriTrailingMargin4 {
	margin-right: 4em;
}

.esriTrailingMargin5 {
	margin-right: 5em;
}

.esriTrailingMargin6 {
	margin-right: 6em;
}

.esriTrailingMargin63 {
	margin-right: 6.3em;
}

.esriTrailingMargin12 {
	margin-right: 1.2em;
}

.esriLeadingPadding05 {
	padding-left: 0.5em;
}

.esriLeadingPadding1 {
	padding-left: 1em;
}

.esriTrailingPadding1 {
	padding-right: 1em;
}

.esriBorderRight1 {
	border-right: 1px solid #000;
}

.esriRtl .esriLeadingMargin0 {
	margin-right: 0;
}

.esriRtl .esriLeadingMargin025 {
	margin-right: 0.25em;
}

.esriRtl .esriLeadingMargin05 {
	margin-right: 0.5em;
}

.esriRtl .esriLeadingMargin1 {
	margin-right: 1em;
}

.esriRtl .esriLeadingMargin2 {
	margin-right: 2em;
	margin-left: auto;
}

.esriRtl .esriLeadingMargin3 {
	margin-right: 3em;
}

.esriRtl .esriLeadingMargin35 {
	margin-right: 3.5em;
}

.esriRtl .esriLeadingMargin4 {
	margin-right: 4em;
}

.esriRtl .esriLeadingMargin5 {
	margin-right: 5em;
}

.esriRtl .esriLeadingMargin6 {
	margin-right: 6em;
}

.esriRtl .esriLeadingMargin7 {
	margin-right: 7em;
}

.esriRtl .esriLeadingMargin10 {
	margin-right: 10em;
}

.esriRtl .esriLeadingMargin15 {
	margin-right: 1.5em;
}

.esriRtl .esriLeadingMargin27 {
	margin-right: 2.7em;
	margin-left: auto;
}

.esriRtl .esriLeadingMargin23 {
	margin-right: 2.3em;
}

.esriRtl .esriLeadingMargin24 {
	margin-right: 24em;
}

.esriRtl .esriTrailingMargin025 {
	margin-left: 0.25em;
}

.esriRtl .esriTrailingMargin05 {
	margin-left: 0.5em;
}

.esriRtl .esriTrailingMargin07 {
	margin-left: 0.7em;
}

.esriRtl .esriTrailingMargin1 {
	margin-left: 1em;
}

.esriRtl .esriTrailingMargin2 {
	margin-left: 2em;
}

.esriRtl .esriTrailingMargin3 {
	margin-left: 3em;
}

.esriRtl .esriTrailingMargin4 {
	margin-left: 4em;
}

.esriRtl .esriTrailingMargin5 {
	margin-left: 5em;
}

.esriRtl .esriTrailingMargin6 {
	margin-left: 6em;
}

.esriRtl .esriTrailingMargin63 {
	margin-left: 6.3em;
}

.esriRtl .esriLeadingPadding05 {
	padding-right: 0.5em;
}

.esriRtl .esriLeadingPadding1 {
	padding-right: 1em;
}

.esriRtl .esriTrailingPadding1 {
	padding-left: 1em;
}

.esriHelpPopup {
	position: absolute;
	z-index: 40;
	box-shadow: 0 0 0.75em #777777;
	-moz-box-shadow: 0 0 0.75em #777777;
	-webkit-box-shadow: 0 0 0.75em #777777;
	-o-box-shadow: 0 0 0.75em #777777;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}

.esriHelpPopup .esriHelpPopupWrapper {
	box-shadow: 0 0 0.75em #777777;
	-moz-box-shadow: 0 0 0.75em #777777;
	-webkit-box-shadow: 0 0 0.75em #777777;
	-o-box-shadow: 0 0 0.75em #777777;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}

.esriHelpPopup .hidden {
	display: none;
}

.esriHelpPopup .sizer {
	width: 420px;
}

.esriHelpPopup a {
	color: #336699;
	text-decoration: underline;
}

.esriHelpPopup .titlePane {
	background-color: #444444;
	color: #FFFFFF;
	line-height: 20px;
	padding-left: 6px;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	cursor: default;
	border-bottom: none;
}

.esriHelpPopup .contentPane {
	position: relative;
	max-height: none;
	overflow: visible;
	padding: 10px 6px 6px 10px;
	background-color: #F7F7F7;
	border-top: none;
	border-bottom: none;
	color: #333333;
}

.esriHelpPopup .actionsPane {
	padding: 2px 10px 4px 10px;
	background-color: #F7F7F7;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
	border-top: none;
}

.esriHelpPopup .actionsPane .action {
	margin-right: 10px;
}

.esriHelpPopup .dijitTooltipConnector {
	display: none;
}

.esriHelpPopup .dijitTooltipContainer {
	box-shadow: 0 0 0.75em #777777;
	-moz-box-shadow: 0 0 0.75em #777777;
	-webkit-box-shadow: 0 0 0.75em #777777;
	-o-box-shadow: 0 0 0.75em #777777;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 0px;
}

.analysisTitle {
	font-weight: bold;
}

.toolContainer {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	display: block;
	width: 95%;
	height: 4.5em;
	margin: .75em .25em;
	border: .1em solid grey;
}

.esriToolContainerDisabled {
	background-color: #ddd;
}

.esriTransparentNode {
	opacity: 0.6;
}

.esriToolContainerDisabled .helpIcon {
	z-index: 900;
}

.helpContentIcon {
	width: 45px;
	height: 45px;
	margin: 10px;
}

.comingSoonIcon {
	color: #006400;
}

.esriToolContainerDisabled .comingSoonIcon {
	z-index: 900;
}

.aggregateIcon {
	background-image: url("../images/AggregatePoints32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.sumNearbyIcon {
	background-image: url("../images/SummarizeNearby32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.sumWithinIcon {
	background-image: url("../images/SummarizeWithin32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}


.buffersIcon,
.overlayLayersIcon,
.extractDataIcon {
	background-image: url("../images/CreateBuffers32.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 105%;
	width: $esri-analysis-title-image-width;
	height: $esri-analysis-title-image-height;
	border: $esri-analysis-title-image-border;
	border-radius: $esri-analysis-title-image-border-radius;
	box-shadow: $esri-analysis-title-image-box-shadow;
}

.driveIcon {
	background-image: url("../images/CreateDriveTimeAreas32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.findLocationsIcon {
	background-image: url("../images/FindExistingLocations32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.findNewLocationsIcon {
	background-image: url("../images/FindNewLocations32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.geoenrichLayerIcon {
	background-image: url("../images/GeoenrichFeatures32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.findClosestFacilityIcon {
	background-image: url("../images/FindNearest32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.extractDataIcon {
	background-image: url("../images/ClipAndShip32.png");
}

.findHotSpotsIcon {
	background-image: url("../images/FindHotSpots32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.createDensitySurfaceIcon {
	background-image: url("../images/CreateDensitySurface32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.correlationReporterIcon {
	background-image: url("../images/CorrelationFinder32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.createInterpolatedSurfaceIcon {
	background-image: url("../images/CreateInterpolatedSurface32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.attributeCalculatorIcon {
	background-image: url("../images/AttributeCalculator32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.overlayLayersIcon {
	background-image: url("../images/OverlayLayers32.png");
}

.eraseLayersDisabledIcon {
	background-image: url("../images/EraseDisabled32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 1px;
}

.intersectLayersDisabledIcon {
	background-image: url("../images/IntersectDisabled32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 1px;
}

.unionLayersDisabledIcon {
	background-image: url("../images/UnionDisabled32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 1px;
}

.eraseLayersIcon {
	background-image: url("../images/Erase32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 1px;
}

.intersectLayersIcon {
	background-image: url("../images/Intersect32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
}

.unionLayersIcon {
	background-image: url("../images/Union32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 1px;
}

.mergeLayersIcon {
	background-image: url("../images/MergeLayers32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.dissolveBoundariesIcon {
	background-image: url("../images/DissolveBoundaries32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.esriCloseIcon {
	background-image: url("../images/close.gif");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 16x;
	height: 16x;
	margin: 1px;
}

.djie8 .helpIcon, .djie7 .helpIcon {
}

.esriAnalysis .helpIcon,
.esriAnalysis .closeIcon {
	font-family: "FontAwesome";
	font-size: $esri-analysis-icon-size;
	width: $esri-analysis-icon-width;
	height: $esri-analysis-icon-height;
	line-height: @height;
	color: $esri-analysis-icon-color;
	opacity: $esri-analysis-icon-opacity;
	text-decoration: none;
	margin-left: $esri-analysis-icon-spacing;
	font-weight: normal;
}

.esriAnalysis .helpIcon:before{
	content: "\f059";
}

.esriAnalysis .circleIcon {
	width: 20px;
	height: 20px;
	-webkit-border-radius: 99px;
	-moz-border-radius: 99px;
	border-radius: 99px;
	background-color: #E0DCE3;
}

.esriAnalysis .closeIcon:before {
	content: "\f00D";
}

.esriAnalysis .closeIcon img {
	display: none;
}

.helpWindow {
	background-color: #D7D7D7;
	width: 350px;
}

.helpHeader {
	font-size: 1.15em;
	text-decoration: underline;
	font-weight: bolder;
	text-align: center;
	margin: 0.5em;
}

.helpContent {
	font-size: 1em;
	margin: 0.5em;
	text-indent: 0.05em;
	text-align: justify;
	letter-spacing: 0.01em;
}

.helpFooter {
	font-size: 1em;
	margin: 0.5em;
}

.esriSmallLabel,
.esriSmallFont {
	color: $esri-analysis-small-label-color;
	font-size:$esri-analysis-small-label-font-size;

}

.esriFormTable, .esriServiceEditorTable {
	width: $esri-analysis-width;
}

.esriFormTable label {
	margin-top: $esri-analysis-default-spacing;
	display: inline-block;
}

.esriFormTable tr td {
	padding: $esri-analysis-default-spacing*0.5 $esri-analysis-default-spacing !important;
}

.esriServiceEditorTable > tbody > tr > td {
	padding: 0.2em;
}

.esriServicesEditor div.sectionHeader, .esriServiceEditorTable td.sectionHeader, .esriFormTable td.sectionHeader {
	padding: $esri-analysis-section-padding;
	position:relative;
	display: block;
	margin: 0;
}

.esriFormTable td.sectionHeader:after {
	background: $esri-analysis-section-divider-background;
	height: $esri-analysis-section-divider-height;
	box-shadow: $esri-analysis-section-divider-box-shadow;
	position: absolute;
	width: 100%;
	left: 0;
	content: "";
    display: block;
	margin-top: $esri-analysis-section-padding; 
}

.esriFormTable td.sectionHeader b {
	background: $esri-analysis-section-header-bold-text-background;
	color: $esri-analysis-section-header-bold-text-color;
	padding: $esri-analysis-section-header-bold-text-padding;
	border-radius: $esri-analysis-section-header-bold-text-border-radius;
	margin: 0 $esri-analysis-default-spacing;
    display: inline-block;
}

.esriFormTable table {
	/*margin:0 auto;*/ 
}

.esriFormTable table .esriSmallLabel {
	margin: 26px 20px 0;
}

.esriFormTable table .dijitSelect .dijitButtonContents {
	padding: 0 !important;
	border-radius: 0;
}

.esriFormTable table .dijitSelect .dijitButtonContents .dijitButtonText {
	float: none;
}

.esriFormTable table .esriAnalysisSelect  {
    right: 40px;
	left: auto;
    width: 35% !important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	display:inline-block;
}

.esriFormTable table .dijitTextBox .dijitInputInner {
	text-align:center;
	color: $esri-analysis-dijit-highlight-color;
	font-weight: bold;
}

td.subsectionLineDivider {
	margin-left: 2em;
	border-bottom: 1px solid #ccc;
	color: #000;
	padding-top: 2em;
}

.esriServicesEditor div.subsectionHeaderTop, .esriServiceEditorTable td.subsectionHeaderTop {
	margin-left: 2em;
	border-bottom: 1px solid #ccc;
	color: #000;
	padding-top: 1em;
}

.esriServicesEditor div.subsectionHeaderBottom, .esriServiceEditorTable td.subsectionHeaderBottom {
	margin-left: 2em;
	border-top: 1px solid #ccc;
	color: #000;
	padding-top: 1em;
}

.esriAnalysis {
	padding: $esri-analysis-padding;
}

.esriAnalysis .dijitContentPane {
	background: $esri-analysis-title-background;
	margin: 0 !important;
}

.esriAnalysis .dijitContentPane:after { /* this is a separator for the title of the analysis tool*/
	background: $esri-analysis-separator-top-color;
    border-bottom: 1px solid $esri-analysis-separator-bottom-color;
    content: "";
    display: block;
    height: 1px;
    margin-top: -1px; /* this is to cover the inline css of the original separator */
    width: 100%;
}

.esriAnalysis .numberInput {
	width: 92px;
}

.esriAnalysis .shortNumberInput {
	width: 4em;
}

.esriAnalysis .shortTextInput {
	width: 5%;
}

.esriAnalysis .longTextInput {
	width: 90%;
}

.esriAnalysis .shortInput {
	width: 5%;
}

.esriAnalysis .mediumInput {
	width: 49%;
}

.esriAnalysis .longInput {
	width: 99%;
}

.esriAnalysis .attrSelect, .esriAnalysis .statsSelect {
	width: 100%;
}

.esriServiceEditorTableBody {
	position: relative;
}

.esriServiceEditorTableBody > tr > td {
	width: 50%;
}

.esriServiceEditorTableBody > tr > td > label {
	text-align: left;
}

.dijitContentPane.esriSelectorPane, .dijitContentPane.esriSelectorPaneLabel {
	padding: 0px;
}

.esriSimpleForm table td {
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.esriSimpleForm table > tbody > tr > td.esriFormFieldLabelTop {
	padding: 0.5em 0.5em 0 0.5em;
}

.esriSimpleForm .esriStackSelect {
	font-size: 80%;
}

.esriSimpleForm .esriPagedList {
	padding: 3px;
	border: 0px solid #a6a6a6;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 80%;
}

.esriSimpleForm .dijitButtonNode {
}

.esriSimpleForm table.esriFormTable {
	width: 100%;
}

.esriSimpleForm table.esriFormTable .shortNumberInput {
	width: 4em;
}

.esriAnalysis td.dijitReset.dijitRight.dijitButtonNode.dijitArrowButton.dijitDownArrowButton.dijitArrowButtonContainer {
	width: 15px;
	vertical-align: middle;
}

.esriAnalysis .attrSelect div.dijitReset.dijitInputField.dijitButtonText, .esriAnalysis .statsSelect div.dijitReset.dijitInputField.dijitButtonText {
	width: 99%;
	overflow: hidden;
	text-align: left;
}

.esriRtl .esriAnalysis .attrSelect div.dijitReset.dijitInputField.dijitButtonText, .esriRtl .esriAnalysis .statsSelect div.dijitReset.dijitInputField.dijitButtonText {
	text-align: right;
}

.esriAnalysis .attrSelect span.dijitReset.dijitInline.dijitSelectLabel.dijitValidationTextBoxLabel, .esriAnalysis .statsSelect span.dijitReset.dijitInline.dijitSelectLabel.dijitValidationTextBoxLabel {
	width: 99%;
	overflow: hidden;
}

.esriAnalysis div.optionsClose {
	border: none;
}

.esriAnalysis div.optionsClose.disabled {
	border: none;
	color: #808077;
}

.esriAnalysis div.optionsOpen {
}

.esriAnalysis .dijitTreeExpando {
	background-image: url("../images/treeExpandImages.png");
	width: 16px;
	height: 16px;
	font-family: inherit;
    opacity: 1;
	margin: $esri-analysis-expando-margin;
}

.esriAnalysis .dijitTreeExpando label {
	margin-top: 0;
}

.esriboundingButton .dijitButtonNode {
	width: 16px;
	height: 16px;
}

.esriAnalysis .optionsClose .dijitTreeExpando {
	background-position: 0 0;
	background-image: url("../images/treeExpandImages.png");
	width: 16px;
	height: 16px;
}

.esriAnalysis .optionsClose.disabled div.dijitTreeExpando:hover {
	background-position: 0 0;
	background-image: url("../images/treeExpandImages.png");
	cursor: default;
}

.esriAnalysis .optionsClose.disabled div.dijitTreeExpando label:hover {
	cursor: default;
}

.esriAnalysis .optionsClose div.dijitTreeExpando:hover {
	background-position: -17px 0;
	background-image: url("../images/treeExpandImages.png");
	cursor: pointer;
}

.esriAnalysis div.dijitTreeExpando label:hover {
	cursor: pointer;
}

.esriAnalysis .optionsOpen .dijitTreeExpando {
	background-position: -52px 0;
	cursor: pointer;
}

.esriAnalysis .dijitSelectLabel {
	/*overflow: hidden;*/
	text-overflow: ellipsis;
	max-width: 185px;
}

.esriAnalysis .esriLongLabel .dijitSelectLabel {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

.esriAnalysis .esriMediumlabel .dijitSelectLabel {
	text-overflow: ellipsis;
	max-width: 150px;
}

.esriAnalysis .esriShortlabel .dijitSelectLabel {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
}

.esriAnalysis .optionsTable {
	width: 100%;
}

.esriAnalysis .optionsTable .esriFloatLeading {
	width: 100%;
}

.esriAnalysis .optionsClose .optionsTable {
	display: none;
}

.esriAnalysis .optionsOpen .optionsTable {
	display: table;
	background: $esri-analysis-option-table-background;
	box-shadow: $esri-analysis-option-table-box-shadow;
	border-bottom: $esri-analysis-option-table-box-border-bottom;
}

.esriAnalysis .esriFormTable tr[data-dojo-attach-point="_optionsRow"] {
    display: block;
}

.esriAnalysis .esriFormTable tr[data-dojo-attach-point="_optionsRow"]:after {
    background: $esri-analysis-section-divider-background;
    box-shadow: $esri-analysis-section-divider-box-shadow;
    content: "";
    display: block;
    height: $esri-analysis-section-divider-height;
    left: 0;
    position: absolute;
    width: 100%;
}

.esriAnalysis .esriFormTable tr[data-dojo-attach-point="_optionsRow"] .optionsOpen {
	width: 100% !important;
}

.esriAnalysis .esriFormTable tr[data-dojo-attach-point="_optionsRow"] > td {
	display: block;
	padding: 0 !important;
	margin-bottom: $padding;
}

.esriAnalysis .esriFormTable tr[data-dojo-attach-point="_optionsRow"] .helpIcon {
    margin-top: 0 !important;
    position: absolute !important;
    right: 0 !important;
	left: auto !important;
    top: $padding*0.5 !important;
}

.esriAnalysis div[data-dojo-attach-point="_bufferToolContentButtons"],
.esriAnalysis div[data-dojo-attach-point="_overlaylayersToolContentButtons"],
.esriAnalysis div[data-dojo-attach-point="_aggregateToolContentButtons"] {
	position: relative;
	border-top: 0 none !important;
}

.esriAnalysis div[data-dojo-attach-point="_bufferToolContentButtons"]:after,
.esriAnalysis div[data-dojo-attach-point="_overlaylayersToolContentButtons"]:after,
.esriAnalysis div[data-dojo-attach-point="_aggregateToolContentButtons"]:after {
	background: $esri-analysis-section-divider-background;
    box-shadow: $esri-analysis-section-divider-box-shadow;
    content: "";
    display: block;
    height: $esri-analysis-section-divider-height;
	top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.esriAnalysis div[data-dojo-attach-point="_bufferToolContentButtons"] .dijitButton,
.esriAnalysis div[data-dojo-attach-point="_overlaylayersToolContentButtons"] .dijitButton,
.esriAnalysis div[data-dojo-attach-point="_aggregateToolContentButtons"] .dijitButton {
	display: block;
    text-align: center;
	margin-left: 0;
}

.esriAnalysis .esriFormTable div[data-dojo-attach-point="_chooseFolderRow"] label {
	width: 37% !important;
}

.esriGroupButton .esriGroupChecked {
}

.esriRoundedBox {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}

.esriFormInfo {
	border-color: #c2e5b8;
	background-color: #D6FFC9;
	border: 1px solid #e6e5b7;
	padding: 1.2em;
	margin: 0.7em 0;
}

.esriFormError {
	background-color: #ffffcd;
	border: 1px solid #e6e5b7;
	padding: 1.2em;
	margin: 0.7em 0;
}

.esriFormWarning {
	padding: 1.2em;
	margin: 0.7em 0;
	border: 1px solid #e6e5b7;
	border-color: #e6e5b7;
	background-color: #ffffcb;
	position: relative;
}

.bufferIcon {
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 1px;
	border-radius: 2px;
}

.bufferSelector {
	text-align: center;
	margin: 0;
}

.bufferSelector.selected {
	font-weight: bold;
	color: $esri-analysis-buffer-icon-selected-color;
}

.bufferSelector .bufferIcon {
	border: 2px solid #FFF;
	margin: $esri-analysis-buffer-icon-margin;
	border: $esri-analysis-buffer-icon-border;
	box-shadow: $esri-analysis-buffer-icon-box-shadow;
}

.bufferSelector .bufferIcon:hover {
	cursor: pointer;
	border: $esri-analysis-buffer-icon-hover-border;
}

.bufferSelector.selected .bufferIcon {
	border: $esri-analysis-buffer-icon-selected-border;
}

.bufferSelector.selected .bufferIcon:hover {
	border: $esri-analysis-buffer-icon-selected-border;
}

.bufferDistanceIcon {
	background-image: url("../images/BufferDistance32.png");
}

.bufferAttributeIcon {
	background-image: url("../images/BufferAttribute32.png");
}

.bufferOverlapIcon {
	background-image: url("../images/Overlap32.png");
}

.bufferDissolveIcon {
	background-image: url("../images/Dissolve32.png");
}

.bufferDisksIcon {
	background-image: url("../images/Disks32.png");
}

.bufferRingsIcon {
	background-image: url("../images/Rings32.png");
}

.bufferLeftIcon {
	background-image: url("../images/Left32.png");
}

.bufferRightIcon {
	background-image: url("../images/Right32.png");
}

.bufferAroundIcon {
	background-image: url("../images/Around32.png");
}

.bufferRoundIcon {
	background-image: url("../images/Round32.png");
}

.bufferFlatIcon {
	background-image: url("../images/Flat32.png");
}

.bufferIncludeIcon {
	background-image: url("../images/Include32.png");
}

.bufferExcludeIcon {
	background-image: url("../images/Exclude32.png");
}

.btn-container {
	padding: 5px 0px;
	position: relative;
	width: 100px;
	margin: auto;
}

.btn1 {
	width: 0px;
}

.btn2 {
	position: absolute;
	left: 60px;
	top: 5px;
}

.btn3 {
	position: absolute;
	left: 120px;
	top: 5px;
}

.esriContainerSelector {
	border: $esri-analysis-dijit-togglebutton-border;
	padding: $esri-analysis-dijit-togglebutton-padding;
}

.esriContainerSelector label, .esriSelectLabel {
	cursor: pointer;
}

.esriContainerSelector.esriGroupselected label {
	font-weight: bold;
}

.esriContainerSelector:hover {
	cursor: pointer;
}

.esriContainerSelector.selected {
}

.esriContainerSelector.selected:hover {
}

.{$theme-name} .esriContainerSelector .dijitToggleButton .dijitButtonNode {
	border: 2px solid #FFF;
	margin: 0;
	border: $esri-analysis-buffer-icon-border;
	box-shadow: $esri-analysis-buffer-icon-box-shadow;
	padding: 0;
	background: transparent;
	height: 32px;
}

.{$theme-name} .esriContainerSelector .dijitToggleButton.dijitHover .dijitButtonNode {
	cursor: pointer;
	border: $esri-analysis-buffer-icon-hover-border;
}

.{$theme-name} .esriContainerSelector.esriGroupselected .dijitToggleButton .dijitButtonNode {
	border: $esri-analysis-buffer-icon-selected-border;
}

.{$theme-name} .esriContainerSelector.esriGroupselected .dijitToggleButton.dijitHover .dijitButtonNode {
	border: $esri-analysis-buffer-icon-selected-border;
}

.esriGroupselected label {
	font-weight: bold;
	color: $esri-analysis-buffer-icon-selected-color;
}

.esriAnalysis .dijitCheckBox {
	margin-right: $esri-analysis-dijit-checkbox-margin-right;
}

.esriAnalysis div[data-dojo-attach-point="_bufferToolContentButtons"] .dijitButton .dijitButtonNode,
.esriAnalysis div[data-dojo-attach-point="_overlaylayersToolContentButtons"] .dijitButton .dijitButtonNode,
.esriAnalysis div[data-dojo-attach-point="_aggregateToolContentButtons"] .dijitButton .dijitButtonNode {
	background-color: $green-color;
	background-image: linear-gradient(to bottom, lighten($green-color, 3%), $green-color);
	color: $inverse-text-color;
	text-shadow: $inverse-text-shadow;
}

.esriAnalysis div[data-dojo-attach-point="_bufferToolContentButtons"] .dijitButtonHover .dijitButtonNode,
.esriAnalysis div[data-dojo-attach-point="_overlaylayersToolContentButtons"] .dijitButtonHover .dijitButtonNode,
.esriAnalysis div[data-dojo-attach-point="_aggregateToolContentButtons"] .dijitButtonHover .dijitButtonNode {
	background-image: linear-gradient(to bottom, lighten($green-color, 5%), darken($green-color, 8%));
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	color: $inverse-text-color;
	text-shadow: $inverse-text-shadow;
}

.esriAnalysis div[data-dojo-attach-point="_bufferToolContentButtons"] .dijitButtonActive .dijitButtonNode,
.esriAnalysis div[data-dojo-attach-point="_overlaylayersToolContentButtons"] .dijitButtonActive .dijitButtonNode,
.esriAnalysis div[data-dojo-attach-point="_aggregateToolContentButtons"] .dijitButtonActive .dijitButtonNode {
	background-image: linear-gradient(to bottom, lighten($green-color, 5%), darken($green-color, 8%));
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
	color: $inverse-text-color;
	text-shadow: $inverse-text-shadow;
}


/* THESE STYLES NEED CUSTOM JS SUPPORT */

.dojoxCheckedMultiSelectHidden{
	display: none;
}

/* Buffer Layer */
.assessGPWidget .esriFormTable table .dijit {
    position: absolute;
    width: 45% !important;
	height: $esri-analysis-dijit-height;
}

.esriFormTable .dijitDownArrowButton td {
	padding: 0 12px !important;
}

.esriFormTable .dijitDownArrowButton td.dijitButtonContents {
	width: 100%;
}

.step1-container:after,
.step2-content:after,
.export-content-last:after {
	background: $esri-analysis-section-divider-background;
	height: $esri-analysis-section-divider-height;
	box-shadow: $esri-analysis-section-divider-box-shadow;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	content: "";
    display: block;
}

.step1-container .dijitDownArrowButton,
.export-step2-content .dijitDownArrowButton,
.export-step3-content .dijitDownArrowButton,
.export-step4-content .dijitTextBox {
	margin: $esri-analysis-section-padding 0 0 4% !important;
	width: 95% !important;
	table-layout: auto !important;
}

.step1-container label {
	margin-top: $esri-analysis-section-padding*1.5;
}



.step2-content td {
	display: inline-block !important;
}

.step3-content-layer-name .dijitTextBox {
	margin: 0 !important;
    width: 100% !important;
}

.step3-title label {
    width: auto !important;
}

/* Export Specific */

.esriFormTable .export-step1-content,
.esriFormTable .export-step2-content.export-content-last,
.esriFormTable .export-step3-content.export-content-last,
.export-step4-content:last-child {
  padding-bottom: 8px;
}
.esriFormTable .export-step1-content .dojoxCheckedMultiSelect,
.esriFormTable .export-step1-content .dojoxCheckedMultiSelectWrapper {
  position: static;
  height: auto;
  margin: 0;
}
.esriFormTable .export-step1-content .dojoxCheckedMultiSelect {
  width: 100% !important;
  margin-top: 0 !important;
}

.esriFormTable .export-step1-content .dojoxCheckedMultiSelect .dojoxMultiSelectItem {
  margin-bottom: $padding;
}

.esriFormTable .export-step2-content > td {
	width:10%;
	display: inline-block;
	vertical-align: bottom;
}

.esriFormTable .export-step2-content > td:first-child {
	width:75%;
}

.esriFormTable .export-step2-content > td .esriboundingButton {
	margin: 0;
}

.esriFormTable .export-step2-content > td .esriboundingButton .dijitButtonNode {
	padding: 6px;
}

.export-step4-content:last-child .dijitTextBox {
  width: 100% !important;
  margin-left: 0 !important;
}
