icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.flat .dgrid {
  border: 1px solid #b4b4b4;
  border-top: 3px solid #007ac2;
  background: #fff;
  color: #2b2e34;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  -webkit-box-shadow: 0 0 2px #fff inset, 0 0 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 2px #fff inset, 0 0 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 2px #fff inset, 0 0 2px rgba(0,0,0,0.2);
}
.flat .ui-widget-header {
  font-weight: bold;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flat .dgrid-footer {
  border-top: 1px solid #b4b4b4;
}
.flat .ui-widget-header,
.flat .ui-widget-header .dgrid-cell,
.flat .dgrid-footer,
.flat .dgrid-footer .dgrid-cell {
  line-height: 20px;
  background-color: $button-background-color;
  background-repeat: repeat-x;
$button-background-image
  _background-image: none;
}
.flat .ui-widget-header .dgrid-cell {
  border-color: #b4b4b4;
}
.flat .ui-widget-header .dgrid-cell:hover {
  color: #2b2e34;
  border: 1px solid rgba(0,0,0,0.15);
  background: linear-gradient(#fff 0%, #f0f0f0 100%);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  transition: background 0.1s linear 0s;
}
.flat .ui-widget-header .dgrid-cell:active {
  color: #2b2e34;
  border: 1px solid rgba(0,0,0,0.15);
  background: linear-gradient(#fff 0%, #f0f0f0 100%);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  transition: none;
  outline: none;
}
.flat .ui-state-default {
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: background-color border-color;
  -moz-transition-property: background-color border-color;
  -o-transition-property: background-color border-color;
  transition-property: background-color border-color;
}
.has-ie-6 .flat .ui-state-default {
  background-image: none;
}
.flat .ui-state-default:hover {
  background-color: #f5f5f5;
}
/* reset dijits within datagrid to their default color and text shadow when hovered over */
/* .{$theme-name} .ui-state-default:hover .dijit {
	color:$text-color;
	text-shadow:$text-shadow;
} */
.flat .ui-state-active {
  background-color: #32b3ff;
  -webkit-box-shadow: 0 0px 5px rgba(0,0,0,0.25) inset;
  -moz-box-shadow: 0 0px 5px rgba(0,0,0,0.25) inset;
  box-shadow: 0 0px 5px rgba(0,0,0,0.25) inset;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.flat .ui-state-active:hover {
  background-color: #32b3ff;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.flat .dgrid-cell {
  border-color: #c7c7c7;
  vertical-align: middle;
}
/* list view */
.flat .dgrid-list .ui-state-default {
  line-height: 20px;
  padding: 4px;
}
