@import "../../../variables";

.{$theme-name} .dgrid {
	border: 1px solid $border-color;
	border-top: 3px solid $highlight-color;
	background: $container-background-color;
	color: $text-color;
	border-radius($border-radius);
	text-shadow: $text-shadow;
	box-shadow($pane-shadow);
}

.{$theme-name} .ui-widget-header {
	font-weight: bold;
	box-shadow($button-shadow);

}
.{$theme-name} .dgrid-footer {
	border-top: 1px solid $border-color;
}

.{$theme-name} .ui-widget-header,
.{$theme-name} .ui-widget-header .dgrid-cell,
.{$theme-name} .dgrid-footer,
.{$theme-name} .dgrid-footer .dgrid-cell { 
	line-height: $line-height;
	background-color: $button-background-color;
	background-repeat: repeat-x;
	$button-background-image;
	_background-image: none;
}

.{$theme-name} .ui-widget-header .dgrid-cell {
	border-color: $border-color;
}

.{$theme-name} .ui-widget-header .dgrid-cell:hover {
	button-hover-style();
}

.{$theme-name} .ui-widget-header .dgrid-cell:active {
	button-active-style();
}

.{$theme-name} .ui-state-default { 
	transition-duration(0.1s);
	transition-property(background-color, border-color);
}
.has-ie-6 .{$theme-name} .ui-state-default {
	background-image: none;
}
.{$theme-name} .ui-state-default:hover {
	background-color: $primary-color;
}

/* reset dijits within datagrid to their default color and text shadow when hovered over */
/* .{$theme-name} .ui-state-default:hover .dijit {
	color:$text-color;
	text-shadow:$text-shadow;
} */
 
.{$theme-name} .ui-state-active {
	background-color: lighten($highlight-color, 35%);
	box-shadow(0 0px 5px rgba(0, 0, 0, 0.25) inset);
	color:$inverse-text-color;
	text-shadow:$inverse-text-shadow;
}

.{$theme-name} .ui-state-active:hover {
	background-color: lighten($highlight-color, 35%);
	color:$inverse-text-color;
	text-shadow:$inverse-text-shadow;
}

.{$theme-name} .ui-state-highlight {
}

.{$theme-name} .dgrid-cell {
	border-color: lighten($border-color, 25%);
	vertical-align: middle;
}

/* list view */

.{$theme-name} .dgrid-list .ui-state-default{
	line-height: $line-height;
	padding: $padding;
}