icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
/* Combo Button */
.flat .dijitComboButtonRtl .dijitStretch {
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.flat .dijitComboButtonRtl .dijitArrowButton {
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  padding: 3px 0 4px;
  border-left-width: 1px;
  border-right-width: 0;
}
/* End Combo Button */
