@import "../../variables";

/* Combo Button */

.{$theme-name} .dijitComboButtonRtl .dijitStretch {
	border-radius: 0 $border-radius $border-radius 0;
}

.{$theme-name} .dijitComboButtonRtl .dijitArrowButton {
	border-radius: $border-radius 0 0  $border-radius;
	padding:3px 0 4px;
	border-left-width: 1px;
	border-right-width: 0;
}

/* End Combo Button */