/* CheckBox
 * 
 * Styling CheckBox mainly includes:
 * 
 * 1. Containers
 * 		.dijitCheckBox|.dijitCheckBoxIcon - for border, padding, width|height and background image
 * 
 * 2. CheckBox within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.dijitCheckBoxChecked - for checked background-color|image
 * 		.dijitToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. Hover state
 * 		.dijitCheckBoxHover|.dijitCheckBoxCheckedHover - for background image
 * 
 * 5. Disabled state
 * 		.dijitCheckBoxDisabled|.dijitCheckBoxCheckedDisabled - for background image
 */

@import "../../variables"


.{$theme-name} .dijitCheckBoxIcon:before,
.{$theme-name} .dijitCheckBoxChecked:before,
.{$theme-name} .dijitCheckBoxCheckedDisabled:before {
	content: "\f00c"
}

.{$theme-name} .dijitCheckBoxIcon {
	icon-core-style() 
	padding: $checkbox-icon-padding
}

.{$theme-name} .dijitCheckBox {
	background-color: $checkbox-background-color
	border: $checkbox-border
	width: $checkbox-width
	height: $checkbox-height
	padding: $checkbox-padding
	box-shadow: $checkbox-box-shadow
	border-radius: $checkbox-border-radius
	text-align: center
	position: relative
}

.{$theme-name} .dijitCheckBox input {
	position: absolute
    top: 0
}

/* unchecked */

/* checked */

.{$theme-name} .dijitCheckBoxChecked:before {
	icon-core-style()
}

.{$theme-name} .dijitCheckBoxChecked {
	color:$checkbox-checked-icon-color
	background-color: $checkbox-checked-background-color
	border: $checkbox-checked-border
	box-shadow: $checkbox-checked-box-shadow
}

/* hover */

.{$theme-name} .dijitCheckBoxHover {
	/* hovering over an unchecked enabled checkbox */
	background-color: $checkbox-hover-unchecked-background-color
	border: $checkbox-hover-unchecked-border
	box-shadow: $checkbox-hover-unchecked-box-shadow
}

.{$theme-name} .dijitCheckBoxCheckedHover {
	/* hovering over an checked enabled checkbox */
	background-color: $checkbox-hover-checked-background-color
	border: $checkbox-hover-checked-border
	box-shadow: $checkbox-hover-checked-box-shadow
}

/* disabled */

.{$theme-name} .dijitCheckBoxDisabled {
	/* disabled */
	background-color: $checkbox-disabled-background-color
	border: $checkbox-disabled-border
	box-shadow: $checkbox-disabled-box-shadow
	opacity:0.65
}

.{$theme-name} .dijitCheckBoxCheckedDisabled {
	/* disabled but checked */
	opacity:0.65
}

.{$theme-name} .dijitCheckBoxCheckedDisabled:before {
	icon-core-style()
}