/* CheckBox
 * 
 * Styling CheckBox mainly includes:
 * 
 * 1. Containers
 * 		.dijitCheckBox|.dijitCheckBoxIcon - for border, padding, width|height and background image
 * 
 * 2. CheckBox within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.dijitCheckBoxChecked - for checked background-color|image
 * 		.dijitToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. Hover state
 * 		.dijitCheckBoxHover|.dijitCheckBoxCheckedHover - for background image
 * 
 * 5. Disabled state
 * 		.dijitCheckBoxDisabled|.dijitCheckBoxCheckedDisabled - for background image
 */
icon-core-style,
.flat .dijitCheckBoxIcon,
.flat .dijitCheckBoxChecked:before,
.flat .dijitCheckBoxCheckedDisabled:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.flat .dijitCheckBoxIcon:before,
.flat .dijitCheckBoxChecked:before,
.flat .dijitCheckBoxCheckedDisabled:before {
  content: "\f00c";
}
.flat .dijitCheckBoxIcon {
  padding: 0;
}
.flat .dijitCheckBox {
  background-color: #f5f5f5;
  border: 0 none;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  position: relative;
}
.flat .dijitCheckBox input {
  position: absolute;
  top: 0;
}
/* unchecked */
/* checked */
.flat .dijitCheckBoxChecked {
  color: #fff;
  background-color: #007ac2;
  border: 0 none;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
}
/* hover */
.flat .dijitCheckBoxHover {
/* hovering over an unchecked enabled checkbox */
  background-color: #f8f8f8;
  border: 0 none;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
}
.flat .dijitCheckBoxCheckedHover {
/* hovering over an checked enabled checkbox */
  background-color: #12a7ff;
  border: 0 none;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
}
/* disabled */
.flat .dijitCheckBoxDisabled {
/* disabled */
  background-color: #f5f5f5;
  border: 0 none;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  opacity: 0.65;
}
.flat .dijitCheckBoxCheckedDisabled {
/* disabled but checked */
  opacity: 0.65;
}
