icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
/* 'dijitTextBox' refers to 'dijit(TextBox|DateTextBox|CurrencyTextBox|...)' */
.flat .dijitTextBox,
.flat .dijitInputInner {
  color: #2b2e34;
  line-height: 20px;
}
.dj_gecko .flat .dijitInputInner {
  height: 20px;
}
.flat .dijitTextBox .dijitInputField .dijitPlaceHolder {
  padding: 4px;
}
.flat .dijitTextArea {
  padding: 4px 6px;
}
.flat .dijitSelect .dijitInputField,
.flat .dijitTextBox .dijitInputField {
  padding: 0 4px;
  margin: 0 2px;
}
.flat .dijitTextBox {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  -moz-border-radius: 2px;
  border-radius: 2px;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
/* hover */
.flat .dijitTextBoxHover,
.flat .dijitTextBoxHover .dijitButtonNode {
  border: 1px solid #007ac2;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* focused */
.flat .dijitTextBoxFocused,
.flat .dijitTextBoxFocused .dijitButtonNode {
  background: #fff;
  border: 1px solid rgba(0,122,194,0.8);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15) inset;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.flat .dijitTextBoxErrorFocused,
.flat .dijitTextBoxErrorFocused .dijitButtonNode {
  background: #fff;
  border: 1px solid #c4451b;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
}
/* disabled */
.flat .dijitTextBoxDisabled,
.flat .dijitTextBoxDisabled .dijitButtonNode {
  background: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flat .dijitTextBoxDisabled,
.flat .dijitTextBoxDisabled .dijitInputInner {
  color: #969696;
}
/* error */
.flat .dijitTextBoxError,
.flat .dijitTextBoxError .dijitButtonNode {
  background: #fff;
  border: 1px solid #da4d1e;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
}
/* error: icon */
.flat .dijitValidationTextBoxError .dijitValidationContainer {
  background-color: #da4d1e;
  background-image: url("../form/images/error.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 9px;
}
.flat .dijitValidationTextBoxError .dijitValidationIcon {
  width: 0;
  background-color: transparent !important;
/* so the INPUT doesn't obscure the border in rtl+a11y */
}
/*========================= Select and Combobox =========================*/
.flat .dijitSelectLabel,
.flat .dijitTextBox .dijitInputInner,
.flat .dijitValidationTextBox .dijitValidationContainer {
  padding: 4px 2px;
}
/* dropdown arrows */
.flat .dijitSelect .dijitArrowButtonInner,
.flat .dijitComboBox .dijitArrowButtonInner {
  margin: 0;
  width: 0;
  height: 0;
}
.flat .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
.flat .dijitComboBox .dijitButtonNode {
  border: 1px solid rgba(0,0,0,0.15);
  padding: 4px 12px;
  color: #2b2e34;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: linear-gradient(#fcfcfc, #f5f5f5);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: pointer;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.flat .dijitSelect .dijitButtonNode.dijitArrowButton,
.flat .dijitComboBox .dijitButtonNode.dijitArrowButton {
  padding-left: 12px;
  padding-right: 12px;
}
.flat .dijitComboBoxOpenOnClickHover .dijitButtonNode,
.flat .dijitComboBox .dijitDownArrowButtonHover {
  color: #2b2e34;
  border: 1px solid rgba(0,0,0,0.15);
  background: linear-gradient(#fff 0%, #f0f0f0 100%);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  transition: background 0.1s linear 0s;
}
/* Arrow Button change when drop down is open */
.flat .dijitComboBox .dijitHasDropDownOpen {
  color: #2b2e34;
  border: 1px solid rgba(0,0,0,0.15);
  background: linear-gradient(#fff 0%, #f0f0f0 100%);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  transition: background 0.1s linear 0s;
}
/* disabled */
.flat .dijitComboBoxDisabled .dijitButtonNode {
  color: #969696;
  border: 1px solid rgba(0,0,0,0.15);
  background: #f5f5f5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: default;
  opacity: 0.65;
}
/*========================= DateTextBox =========================*/
/* dateTextBox dijitArrowButtonInner, display a calendar icon instead of an arrow*/
.flat .dijitDateTextBox .dijitArrowButton:before {
  content: "\f073";
}
/*========================= Multiple Select =========================*/
/* (Dojo does not have any styles for multiple select by default, the flexibility of styling it is really limited) */
.flat select {
  padding: 4px 0;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
}
.flat select option {
  padding: 4px 8px;
}
