/* NumberSpinner - namespace "dijitSpinner"
 * 
 * Styling NumberSpinner mainly includes:
 * 
 * 1. Arrows
 * 		Outer containers: .dijitSpinnerButtonContainer|.dijitSpinnerButtonInner  - for border, padding and position
 * 		Arrows: .dijitArrowButton|.dijitUpArrowButton.|dijitDownArrowButton
 * 		Inner container: .dijitArrowButtonInner - for border, padding, width|height and background image
 * 
 * 2. Hover state
 * 		.dijitUpArrowButtonHover|.dijitDownArrowButtonHover .*  - for background color|image
 * 
 * 3. Active state
 * 		.dijitUpArrowButtonActive|.dijitDownArrowButtonActive .*  - for border, padding, margin and background color|image
 * 
 * 4. Focused state
 * 		.dijitSpinnerFocused .* - for background color|image
 * 
 * 5. Disabled state
 * 		.dijitSpinnerDisabled .* - for background color|image
 */
icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.flat .dijitSpinnerButtonContainer {
  overflow: hidden;
  position: relative;
  width: auto;
  padding: 0;
  border-left: 1px solid #b4b4b4;
}
.flat .dijitSpinner .dijitSpinnerButtonInner {
  width: 24px;
  padding: 4px;
  margin: 0;
}
/* button */
.flat .dijitSpinner .dijitArrowButton {
  border: 1px solid rgba(0,0,0,0.15);
  padding: 4px 12px;
  color: #2b2e34;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: linear-gradient(#fcfcfc, #f5f5f5);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: pointer;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  width: auto;
  overflow: hidden;
  left: 0;
  right: 0;
  padding: 0 8px;
}
.flat .dijitSpinner .dijitArrowButton:before {
  content: none;
}
.flat .dijitSpinner .dijitUpArrowButton {
  border-top-right-radius: 2px;
}
.flat .dijitSpinner .dijitDownArrowButton {
  border-bottom-right-radius: 2px;
  border-top: 1px solid #b4b4b4;
}
/* hover */
.flat .dijitSpinner .dijitUpArrowButtonHover,
.flat .dijitSpinner .dijitDownArrowButtonHover {
  color: #2b2e34;
  border: 1px solid rgba(0,0,0,0.15);
  background: linear-gradient(#fff 0%, #f0f0f0 100%);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  transition: background 0.1s linear 0s;
  border: 0;
}
.flat .dijitSpinner .dijitDownArrowButtonHover {
  border-top: 1px solid #b4b4b4;
}
/* active */
.flat .dijitSpinner .dijitDownArrowButtonActive,
.flat .dijitSpinner .dijitUpArrowButtonActive {
  color: #2b2e34;
  border: 1px solid rgba(0,0,0,0.15);
  background: linear-gradient(#fff 0%, #f0f0f0 100%);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  transition: none;
  outline: none;
  border: 0;
}
.flat .dijitSpinner .dijitDownArrowButtonActive {
  border-top: 1px solid #b4b4b4;
}
/* disabled */
.flat .dijitSpinnerDisabled .dijitDownArrowButton,
.flat .dijitSpinnerDisabled .dijitUpArrowButton {
  color: #969696;
  border: 1px solid rgba(0,0,0,0.15);
  background: #f5f5f5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: default;
  opacity: 0.65;
  border: 0;
}
.flat .dijitSpinnerDisabled .dijitDownArrowButton {
  border-top: 1px solid #b4b4b4;
}
/* up & down arrows */
.flat .dijitSpinner .dijitArrowButtonInner {
  height: 0;
  width: 0;
  margin-top: 4px;
/* up arrow */
  display: block;
}
.flat .dijitSpinner .dijitArrowButtonInner:before {
  content: "\f0d8";
}
.flat .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner:before {
  content: "\f0d7";
}
.flat .dijitSpinner .dijitArrowButtonInner .dijitInputField {
  padding: 0;
}
