/* RadioButton
 * 
 * Styling RadioButton mainly includes:
 * 
 * 1. Containers
 * 		.dijitRadio|.dijitRadioIcon - for border, padding, width|height and background image
 * 
 * 2. RadioButton within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.dijitRadioChecked - for checked background-color|image
 * 		.dijitToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. Hover state
 * 		.dijitRadioHover|.dijitRadioCheckedHover - for background image
 * 
 * 5. Disabled state
 * 		.dijitRadioDisabled|.dijitRadioCheckedDisabled - for background image
 */
icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.flat .dijitRadio,
.flat .dijitRadioIcon {
/* inside a toggle button */
/* background-image: url("../" + $image-form-checkbox-and-radios) */
/* checkbox sprite image */
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  -moz-border-radius: 99px;
  border-radius: 99px;
  width: 16px;
  height: 16px;
  padding: 0;
  position: relative;
}
/* normal */
/* checked */
/* the checked icon */
.flat .dijitRadioChecked:after,
.flat .dijitToggleButtonChecked .dijitRadioIcon:after,
.flat .dijitRadioCheckedDisabled:after {
  background: linear-gradient(#0087d6 0, #0067a3 100%);
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  position: absolute;
  left: 4px;
  top: 4px;
  -moz-border-radius: 99px;
  border-radius: 99px;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
}
/* hover */
.flat .dijitRadioHover {
/* hovering over an unselected enabled radio button */
/* background-position: -135px */
  background-color: #f8f8f8;
  border: 0 none;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
}
.flat .dijitRadioCheckedHover:after {
  background: linear-gradient(#26afff 0, #0098f2 100%);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
}
/* disabled */
.flat .dijitRadioCheckedDisabled {
/* selected but disabled */
/* background-position: -150px */
  opacity: 0.65;
}
.flat .dijitRadioCheckedDisabled:after,
.flat .dijitToggleButtonCheckedDisabled .dijitRadioIcon:after {
  background: linear-gradient(#fff 0, #e6e6e6 100%);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.flat .dijitRadioDisabled {
/* background-position: -165px */
  background-color: #f5f5f5;
  border: 0 none;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.35) inset;
  opacity: 0.65;
}
