/* Select
 * 
 * Styling Select mainly includes:
 * 
 * 1. Containers
 * 		.dijitSelect - for border, background-color
 * 		.dijitButtonContents - for border
 *
 * 2. Arrow
 * 		.dijitArrowButton - for border, padding and background-color|image
 * 		.dijitArrowButtonInner - for border, background-color|image, display and width|height
 * 
 * 3. Menu
 * 		.dijitSelectMenu .* - for border, padding
 * 
 * 4. Various states
 * 		.dijitSelectHover|.dijitSelectFocused|.dijitSelectDisabled .* - for border, padding and background-color|image 
 */
icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.flat .dijitSelect {
  border: 1px solid rgba(0,0,0,0.15);
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* normal */
.flat .dijitSelect .dijitButtonContents,
.flat .dijitSelect .dijitArrowButton {
  border: 1px solid rgba(0,0,0,0.15);
  padding: 4px 12px;
  color: #2b2e34;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: linear-gradient(#fcfcfc, #f5f5f5);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: pointer;
  border: 0;
  padding: 4px 12px;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flat .dijitSelect .dijitArrowButton {
  border-left: 0;
}
.flat .dijitSelect .dijitButtonContents {
  padding: 0;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
/* hover */
.flat .dijitSelectHover {
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow: $button-hover-shadow;
  -moz-box-shadow: $button-hover-shadow;
  box-shadow: $button-hover-shadow;
}
.flat .dijitSelectHover .dijitButtonContents,
.flat .dijitSelectHover .dijitArrowButton {
  color: #2b2e34;
  border: 1px solid rgba(0,0,0,0.15);
  background: linear-gradient(#fff 0%, #f0f0f0 100%);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  transition: background 0.1s linear 0s;
  border: 0;
  padding: 4px 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flat .dijitSelectHover .dijitButtonContents {
  padding: 0;
}
/* focused */
.flat .dijitSelectFocused {
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flat .dijitSelectFocused .dijitButtonContents,
.flat .dijitSelectFocused .dijitArrowButton {
  background: linear-gradient(#fcfcfc, #f5f5f5);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
/* disable */
.flat .dijitSelectDisabled {
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}
.flat .dijitSelectDisabled .dijitButtonContents,
.flat .dijitSelectDisabled .dijitArrowButton {
  color: #969696;
  border: 1px solid rgba(0,0,0,0.15);
  background: #f5f5f5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: default;
  opacity: 0.65;
  border: 0;
  opacity: 1;
}
/* Dropdown menu styles for select (most of menu styles are defined in Menu.styl) */
.flat .dijitSelectMenu td.dijitMenuItemIconCell,
.flat .dijitSelectMenu td.dijitMenuArrowCell {
/* so that arrow and icon cells from MenuItem are not displayed */
  display: none;
}
