/* Slider 
 * 
 * Styling Slider mainly includes styling the Slider progress bar (dijitSliderProgressBar)
 * 
 * Slider progress bar:
 * 1. Slider progress bar (default styling): 
 * 		.dijitSliderProgressBarH - progress bar at the middle of horizontal slider
 * 		.dijitSliderLeftBumper - bar at the left of horizontal slider
 * 		.dijitSliderRightBumper - bar at the right of horizontal slider
 * 		.dijitSliderProgressBarV - progress bar at the middle of vertical slider
 * 		.dijitSliderTopBumper - bar at the top of vertical slider
 * 		.dijitSliderBottomtBumper - bar at the bottom of vertical slider
 * 
 * 2. hovered Slider progress bar (ie, mouse hover on progress bar)
 * 		.dijitSliderHover .dijitSliderProgressBarH(horizontal) - hovered bar style: background, border
 * 
 * 3. focused Slider progress bar (ie, mouse focused on progress bar)
 * 		.dijitSliderFocused .dijitSliderProgressBarH(horizontal) - focus bar style: background, border
 * 
 * 4. disabled/read-only Slider progress bar 
 * 		.dijitSliderDisabled .dijitSliderProgressBarH(horizontal) - bar styles when slider is disabled
 * 
 * 
 * Slider Thumbs:
 * 1. Slider Thumbs (default styling): 
 * 		.dijitSliderImageHandleH / .dijitSliderImageHandleV - styles for the controller on the progress bar
 * 
 * 2. hovered Slider Thumbs (ie, mouse hover on slider thumbs)
 * 		.dijitSliderHover .dijitSliderImageHandleH - hovered controller style
 * 
 * 3. focused Slider progress bar (ie, mouse focused on slider thumbs)
 * 		.dijitSliderFocused .dijitSliderImageHandleV - focused controller style
 * 
 * 
 * Slider Increment/Decrement Buttons:
 * 1. Slider Increment/Decrement Buttons (default styling): 
 * 		.dijitSliderDecrementIconH - decrement icon which lies at the left of horizontal slider
 * 		.dijitSliderIncrementIconH - increment icon which lies at the right of horizontal slider
 * 		.dijitSliderDecrementIconV - decrement icon which lies at the bottom of vertical slider
 * 		.dijitSliderIncrementIconV - increment icon which lies at the top of vertical slider
 * 
 * 2. hovered Slider Increment/Decrement Buttons (mouse hover on the icons)
 * 		.dijitSliderHover .dijitSliderDecrementIconH - for background, border
 * 
 * 3. active Slider Increment/Decrement Buttons (mouse down on the icons)
 * 		.dijitSliderActive .dijitSliderIncrementIconV - for background, border
 * 
 * 4. disabled/read-only Slider Increment/Decrement Buttons
 * 		.dijitSliderDisabled .dijitSliderDecrementIconH - styles for the icons in disabled slider
 * 		.dijitSliderReadOnly .dijitSliderIncrementIconV - styles for the icons in read-only slider
 */

@import "../../variables"

.{$theme-name} .dijitSlider {
	background: $slider-container-background
    border: $slider-container-border
    border-radius: $slider-container-border-radius
    box-shadow: $slider-container-box-shadow
    padding: $slider-container-padding
}

.{$theme-name} .dijitSliderDisabled {
	opacity: 0.65
}


.{$theme-name} .dijitSliderBar {
	border-style: solid
	outline: 1px
}

.{$theme-name} .dijitRuleLabelsContainer {
	color: $slider-text-color
}

/* ----- Horizontal Slider ----- */

.{$theme-name} .dijitRuleLabelsContainerH {
	padding: 0
}
/* ----- bar ----- */

.{$theme-name} .dijitSliderBarH,
.{$theme-name} .dijitSliderBumperH {
	height: $slider-bar-width
}

.{$theme-name} .dijitSlider .dijitSliderLeftBumper{
	border-radius: $slider-bar-radius 0 0 $slider-bar-radius
	border-width: 1px 0 1px 1px
	margin-left: $slider-bar-spacing
}

.{$theme-name} .dijitSlider .dijitSliderRightBumper{
	border-radius: 0 $slider-bar-radius $slider-bar-radius 0
	border-width: 1px 1px 1px 0
	margin-left: -2px
	margin-right: $slider-bar-spacing
}

/* normal */

.{$theme-name} .dijitSlider .dijitSliderProgressBarH,
.{$theme-name} .dijitSlider .dijitSliderLeftBumper {
	border-color: $slider-fullbar-border-color
	background: $slider-fullbar-background
	box-shadow: $slider-fullbar-box-shadow
}

.{$theme-name} .dijitSlider .dijitSliderRemainingBarH,
.{$theme-name} .dijitSlider .dijitSliderRightBumper {
	border-color: $slider-remainingbar-border-color
	background: $slider-remainingbar-background
	box-shadow: $slider-remainingbar-box-shadow
}

/* hover */

.{$theme-name} .dijitSliderHover .dijitSliderProgressBarH,
.{$theme-name} .dijitSliderHover .dijitSliderLeftBumper {
	border-color: $slider-hovered-fullbar-border-color
	background: $slider-hovered-fullbar-background
	box-shadow: $slider-hovered-fullbar-box-shadow
}
.{$theme-name} .dijitSliderHover .dijitSliderRemainingBarH,
.{$theme-name} .dijitSliderHover .dijitSliderRightBumper {
	border-color: $slider-hovered-remainingbar-border-color
	background: $slider-hovered-remainingbar-background
	box-shadow: $slider-hovered-remainingbar-box-shadow
}

/* focus */

.{$theme-name} .dijitSliderFocused .dijitSliderProgressBarH,
.{$theme-name} .dijitSliderFocused .dijitSliderLeftBumper{
	border-color: $slider-focused-fullbar-border-color
	background: $slider-focused-fullbar-background
	box-shadow: $slider-focused-fullbar-box-shadow
}

.{$theme-name} .dijitSliderFocused .dijitSliderRemainingBarH,
.{$theme-name} .dijitSliderFocused .dijitSliderRightBumper{
	border-color: $slider-focused-remainingbar-border-color
	background: $slider-focused-remainingbar-background
	box-shadow: $slider-focused-remainingbar-box-shadow	
}

/* disabled */

.{$theme-name} .dijitSliderDisabled .dijitSliderProgressBarH,
.{$theme-name} .dijitSliderDisabled .dijitSliderLeftBumper{
	border-color: $slider-disabled-fullbar-border-color
	background: $slider-disabled-fullbar-background
	box-shadow: $slider-disabled-fullbar-box-shadow	
}
.{$theme-name} .dijitSliderDisabled .dijitSliderRemainingBarH,
.{$theme-name} .dijitSliderDisabled .dijitSliderRightBumper{
	border-color: $slider-disabled-remainingbar-border-color
	background: $slider-disabled-remainingbar-background
	box-shadow: $slider-disabled-remainingbar-box-shadow		
}

/* ----- Vertical Slider ----- */

.{$theme-name} .dijitRuleLabelsContainerV {
	padding: 0
}

.{$theme-name} .dijitSliderBarV,
.{$theme-name} .dijitSliderBumperV {
	width: $slider-bar-width
}

.{$theme-name} .dijitSlider .dijitSliderTopBumper{
	border-radius: $slider-bar-radius $slider-bar-radius 0 0
	border-width: 1px 1px 0 1px
	margin-top: $slider-bar-spacing
	margin-bottom: -2px
}

.{$theme-name} .dijitSlider .dijitSliderBottomBumper{
	border-radius: 0 0 $slider-bar-radius $slider-bar-radius
	border-width: 0 1px 1px 1px
	margin-bottom: $slider-bar-spacing
}

/* normal */

.{$theme-name} .dijitSlider .dijitSliderProgressBarV,
.{$theme-name} .dijitSlider .dijitSliderBottomBumper{
	border-color: $slider-fullbar-vertical-border-color
	background: $slider-fullbar-vertical-background
	box-shadow: $slider-fullbar-vertical-box-shadow
}

.{$theme-name} .dijitSlider .dijitSliderRemainingBarV,
.{$theme-name} .dijitSlider .dijitSliderTopBumper{
	border-color: $slider-remainingbar-vertical-border-color
	background: $slider-remainingbar-vertical-background
	box-shadow: $slider-remainingbar-vertical-box-shadow
}

/* hover */

.{$theme-name} .dijitSliderHover .dijitSliderProgressBarV,
.{$theme-name} .dijitSliderHover .dijitSliderBottomBumper{
	border-color: $slider-hovered-fullbar-vertical-border-color
	background: $slider-hovered-fullbar-vertical-background
	box-shadow: $slider-hovered-fullbar-vertical-box-shadow
}
.{$theme-name} .dijitSliderHover .dijitSliderRemainingBarV,
.{$theme-name} .dijitSliderHover .dijitSliderTopBumper{
	border-color: $slider-hovered-remainingbar-vertical-border-color
	background: $slider-hovered-remainingbar-vertical-background
	box-shadow: $slider-hovered-remainingbar-vertical-box-shadow
}

/* focused */

.{$theme-name} .dijitSliderFocused .dijitSliderProgressBarV,
.{$theme-name} .dijitSliderFocused .dijitSliderBottomBumper{
	border-color: $slider-focused-fullbar-vertical-border-color
	background: $slider-focused-fullbar-vertical-background
	box-shadow: $slider-focused-fullbar-vertical-box-shadow
	
}
.{$theme-name} .dijitSliderFocused .dijitSliderRemainingBarV,
.{$theme-name} .dijitSliderFocused .dijitSliderTopBumper{
	border-color: $slider-focused-remainingbar-vertical-border-color
	background: $slider-focused-remainingbar-vertical-background
	box-shadow: $slider-focused-remainingbar-vertical-box-shadow
}

/* disabled */

.{$theme-name} .dijitSliderDisabled .dijitSliderProgressBarV,
.{$theme-name} .dijitSliderDisabled .dijitSliderBottomBumper{
	border-color: $slider-disabled-fullbar-vertical-border-color
	background: $slider-disabled-fullbar-vertical-background
	box-shadow: $slider-disabled-fullbar-vertical-box-shadow
}
.{$theme-name} .dijitSliderDisabled .dijitSliderRemainingBarV,
.{$theme-name} .dijitSliderDisabled .dijitSliderTopBumper {
	border-color: $slider-remainingbar-vertical-border-color
	background: $slider-remainingbar-vertical-background
	box-shadow: $slider-remainingbar-vertical-box-shadow
}

/* ------- Thumbs ------- */

.{$theme-name} .dijitSliderImageHandle {
	background: $slider-thumb-background
	box-shadow: $slider-thumb-box-shadow
	border-radius: $slider-thumb-border-radius
	border: $slider-thumb-border
	width: $slider-thumb-width
	height: $slider-thumb-height
	margin-top: -1px
	position: absolute
}

/* reflection: normal */

.{$theme-name} .dijitSliderImageHandle:after {
	background: $slider-thumb-reflection-background
	border: $slider-thumb-reflection-border
	border-radius: $slider-thumb-reflection-border-radius
	box-shadow: $slider-thumb-reflection-box-shadow
	content: ""
	display: block
	height: $slider-thumb-reflection-height
	width: $slider-thumb-reflection-width
	left: ($slider-thumb-width - $slider-thumb-reflection-width) * 0.5
	top: ($slider-thumb-height - $slider-thumb-reflection-height) * 0.5
	position: absolute
}

/* reflection: hover, focused */

.{$theme-name} .dijitSliderHover .dijitSliderImageHandle:after,
.{$theme-name} .dijitSliderFocused .dijitSliderImageHandle:after {
	background: $slider-thumb-reflection-hover-background
	border: $slider-thumb-reflection-hover-border-width
	border-style: $slider-thumb-reflection-hover-border-style	
	border-color: $slider-thumb-reflection-hover-border-color
	height: $slider-thumb-reflection-hover-height
	width: $slider-thumb-reflection-hover-width
	box-shadow: $slider-thumb-reflection-hover-box-shadow
}


/* ---- Increment/Decrement Buttons ---- */

.{$theme-name} .dijitSliderDecrementIconH,
.{$theme-name} .dijitSliderIncrementIconH,
.{$theme-name} .dijitSliderDecrementIconV,
.{$theme-name} .dijitSliderIncrementIconV {
	button-style()
	padding: 0
}
.{$theme-name} .dijitSliderDecrementIconH,
.{$theme-name} .dijitSliderIncrementIconH,
.{$theme-name} .dijitSliderDecrementIconV,
.{$theme-name} .dijitSliderIncrementIconV {
	height: $line-height
	width: $line-height
}

.{$theme-name} .dijitSliderButtonContainerV .dijitSliderDecrementButtonHover,
.{$theme-name} .dijitSliderButtonContainerH .dijitSliderDecrementButtonHover,
.{$theme-name} .dijitSliderButtonContainerV .dijitSliderIncrementButtonHover,
.{$theme-name} .dijitSliderButtonContainerH .dijitSliderIncrementButtonHover {
	/* no styles applied */
}
.{$theme-name} .dijitSliderButtonContainerV .dijitSliderDecrementButtonActive,
.{$theme-name} .dijitSliderButtonContainerH .dijitSliderDecrementButtonActive,
.{$theme-name} .dijitSliderButtonContainerV .dijitSliderIncrementButtonActive,
.{$theme-name} .dijitSliderButtonContainerH .dijitSliderIncrementButtonActive {
	button-active-style()
}

.{$theme-name} .dijitSliderButtonInner {
	font-size: 0px;
	background-image: url($bootstrap-icons-url)
	display: block
    height: 14px
    margin: ( $line-height - 14px ) * 0.5
    width: 14px
}

.{$theme-name} .dijitSliderIncrementIconH .dijitSliderButtonInner,
.{$theme-name} .dijitSliderIncrementIconV .dijitSliderButtonInner {
	background-position: -408px -96px
}

.{$theme-name} .dijitSliderDecrementIconH .dijitSliderButtonInner,
.{$theme-name} .dijitSliderDecrementIconV .dijitSliderButtonInner {
	background-position: -433px -96px
}

.{$theme-name} .dijitSliderDisabled .dijitSliderBar{
}
.{$theme-name} .dijitSliderReadOnly *,.{$theme-name} .dijitSliderDisabled * {
}
.{$theme-name} .dijitSliderReadOnly .dijitSliderDecrementIconH,
.{$theme-name} .dijitSliderDisabled .dijitSliderDecrementIconH,
.{$theme-name} .dijitSliderReadOnly .dijitSliderIncrementIconH,
.{$theme-name} .dijitSliderDisabled .dijitSliderIncrementIconH,
.{$theme-name} .dijitSliderReadOnly .dijitSliderDecrementIconV,
.{$theme-name} .dijitSliderDisabled .dijitSliderDecrementIconV,
.{$theme-name} .dijitSliderReadOnly .dijitSliderIncrementIconV,
.{$theme-name} .dijitSliderDisabled .dijitSliderIncrementIconV {
	button-disabled-style()
}

/* rule mark colors do not change across different themes */
.dijitRuleMarkH{
	border-left: 1px $slider-ruler-color solid
	border-right: 1px $slider-ruler-shadow-color solid
}

.dijitRuleMarkV{
	border-top: 1px $slider-ruler-color solid
	border-bottom: 1px $slider-ruler-shadow-color solid
}

.dijitRuleLabelContainerH{
	margin-top: $slider-ruler-padding
	margin-bottom: $slider-ruler-padding
}

.dijitRuleLabelContainerV{
	margin-left: $slider-ruler-padding
	margin-right: $slider-ruler-padding
}

.{$theme-name} .dijitSliderDisabled .dijitRuleLabelContainerH,
.{$theme-name} .dijitSliderDisabled .dijitRuleLabelContainerV {
	color: $slider-disabled-text-color
}