.dojoxGrid {
  position: relative;
  background-color: #ebeadb;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  -moz-outline-style: none;
  outline: none;
  overflow: hidden;
  height: 0;
}
.dojoxGrid table {
  padding: 0;
}
.dojoxGrid td {
  -moz-outline: none;
}
.dojoxGridMasterHeader {
  position: relative;
}
.dojoxGridMasterView {
  position: relative;
}
.dojoxGridMasterMessages {
  position: relative;
  padding: 1em;
  text-align: center;
  background-color: #fff;
}
.dojoxGridView {
  position: absolute;
  overflow: hidden;
}
.dojoxGridHeader {
  position: absolute;
  overflow: hidden;
  cursor: default;
}
.dojoxGridHeader {
  background-color: #e8e1cf;
}
.dojoxGridHeader table {
  text-align: center;
}
.dojoxGridHeader .dojoxGridCell {
  border: 1px solid;
  border-color: #f6f4eb #aca899 #aca899 #f6f4eb;
  background: url("../../dojo/dojox/grid/resources/images/grid_dx_gradient.gif") #e8e1cf top repeat-x;
  padding-bottom: 2px;
}
.dojoxGridHeader .dojoxGridCellOver {
  background-image: none;
  background-color: #fff;
  border-bottom-color: #febe47;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-width: 3px;
}
.dojoxGridHeader .dojoxGridCellFocus {
  border: 1px dashed #00f;
}
.dojoxGridHeader.dojoxGridCellFocus.dojoxGridCellOver {
  background-image: none;
  background-color: #fff;
  border-bottom-color: #febe47;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-width: 3px;
}
.dojoxGridArrowButtonNode {
  display: none;
  padding-left: 16px;
}
.dojoxGridArrowButtonChar {
  display: inline;
}
.dojoxGridArrowButtonNode:hover {
  cursor: default;
}
.dojoxGridArrowButtonChar:hover {
  cursor: default;
}
.dojoxGridSortUp:hover {
  cursor: default;
}
.dojoxGridSortDown:hover {
  cursor: default;
}
.dijit_a11y .dojoxGridArrowButtonChar {
  display: inline !important;
}
.dojoxGridScrollbox {
  position: relative;
  overflow: auto;
  background-color: #fff;
  width: 100%;
}
.dojoxGridContent {
  position: relative;
  overflow: hidden;
  -moz-outline-style: none;
  outline: none;
}
.dojoxGridRowbar {
  border: 1px solid;
  border-color: #f6f4eb #aca899 #aca899 #f6f4eb;
  border-top: none;
  background: url("../../dojo/dojox/grid/resources/images/grid_dx_gradient.gif") #e8e1cf top repeat-x;
}
.dojoxGridRowbarInner {
  border-top: 1px solid #f6f4eb;
}
.dojoxGridRowbarOver {
  background-image: none;
  background-color: #fff;
  border-top-color: #febe47;
  border-bottom-color: #febe47;
}
.dojoxGridRowbarSelected {
  background-color: #d9e8f9;
}
.dojoxGridRow {
  position: relative;
  width: 9000em;
}
.dojoxGridRow {
  border: 1px solid #e8e4d8;
  border-color: #f8f7f1;
  border-left: none;
  border-right: none;
  background-color: #fff;
  border-top: none;
}
.dojoxGridRowOver {
  border-top-color: #febe47;
  border-bottom-color: #febe47;
}
.dojoxGridRowOdd {
  background-color: #fffdf3;
}
.dojoxGridRowSelected {
  background-color: #d9e8f9;
}
.dojoxGridRowTable {
  table-layout: fixed;
  width: 0;
  empty-cells: show;
}
.dj_ie .dojoxGridRowTable {
  border-collapse: collapse;
}
.dojoxGridInvisible {
  visibility: hidden;
}
.Xdojo-ie .dojoxGridInvisible {
  display: none;
}
.dojoxGridInvisible td,
.dojoxGridHeader .dojoxGridInvisible td {
  border-top-width: 0;
  border-bottom-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  overflow: hidden;
}
.dojoxGrid .dojoxGridCell {
  border: 1px solid;
  border-color: #ebeadb;
  border-right-color: #d5cdb5;
  padding: 3px 3px 3px 3px;
  text-align: left;
  overflow: hidden;
  word-wrap: break-word;
}
.dojoxGrid .dojoxGridFixedRowHeight .dojoxGridCell {
  white-space: nowrap;
  word-break: keep-all;
  word-wrap: normal;
  text-overflow: ellipsis;
}
.dojoxGridCellFocus {
  border: 1px dashed #00f;
}
.dojoxGridCellOver {
  border: 1px dotted #febe47;
}
.dojoxGridCellFocus.dojoxGridCellOver {
  border: 1px dashed #008000;
}
.dojoxGridRowEditing td {
  background-color: #f4fff4;
}
.dojoxGridRow-inserting td {
  background-color: #f4fff4;
}
.dojoxGridRow-inflight td {
  background-color: #f2f7b7;
}
.dojoxGridRow-error td {
  background-color: #f8b8b6;
}
.dojoxGridInput,
.dojoxGridSelect,
.dojoxGridTextarea {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 100%;
  font-size: 100%;
  font-family: inherit;
}
.dojoxGridHiddenFocus {
  position: absolute;
  top: -1000px;
  height: 0;
  width: 0;
}
.dijit_a11y .dojoxGridRowbarSelected {
  border-top: 1px solid #fff;
  border-bottom: 1px dashed #000;
  border-top: 0;
  background: none;
}
.dijit_a11y .dojoxGridRowbarSelected .dojoxGridRowbarInner {
  border: 0;
  border-top: 1px solid #fff;
}
.dijit_a11y .dojoxGridRowSelected {
  border: 1px solid #000 !important;
}
.dojoxGridRowTable .dojoDndHorizontal th.dojoDndItem {
  display: table-cell;
  margin: 0;
}
.dojoxGridDndAvatar {
  font-size: 100%;
}
.dojoxGrid .dojoDndItemBefore {
  border-left-color: #f00;
}
.dojoxGrid .dojoDndItemAfter {
  border-right-color: #f00;
}
.dijit_a11y .dojoDndItemBefore {
  border-left: double;
}
.dijit_a11y .dojoDndItemAfter {
  border-right: double;
}
.dojoxGridDndAvatarItem td {
  border: 1px solid;
  border-color: #f6f4eb #aca899 #aca899 #f6f4eb;
  background: url("../../dojo/dojox/grid/resources/images/grid_dx_gradient.gif") #e8e1cf top repeat-x;
  padding: 0pt;
  margin: 0pt;
}
.dojoxGridDndAvatarItem td.dojoxGridDndAvatarItemImage {
  border: 0;
  border-color: #f6f4eb #aca899 #aca899 #f6f4eb;
  background-color: transparent;
  padding: 3px;
  padding-bottom: 2px;
  margin: 0;
}
.dojoDndMove .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
  background-image: url("../../dojo/dojo/resources/images/dndNoMove.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.dojoDndCopy .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
  background-image: url("../../dojo/dojo/resources/images/dndNoCopy.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.dojoDndMove .dojoDndAvatarCanDrop .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
  background-image: url("../../dojo/dojo/resources/images/dndMove.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
  background-image: url("../../dojo/dojo/resources/images/dndCopy.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.dojoxGridColPlaceBottom {
  background: transparent url("../../dojo/dojox/grid/resources/images/grid_sort_up.gif") no-repeat scroll left top;
}
.dojoxGridColPlaceTop {
  background: transparent url("../../dojo/dojox/grid/resources/images/grid_sort_down.gif") no-repeat scroll left top;
}
.dojoxGridColPlaceTop,
.dojoxGridColPlaceBottom {
  font-size: 1px;
  height: 6px;
  z-index: 10000;
  top: 0;
  overflow: hidden;
  position: absolute;
  line-height: 1px;
  width: 8px;
}
.dojoxGridResizeColLine {
  width: 1px;
  background-color: #777;
  position: absolute;
  cursor: col-resize;
  z-index: 10000;
}
.dojoxGridColNoResize,
.dojoxGridColNoResize .dojoDndItemOver {
  cursor: not-allowed !important;
}
.dojoxGridColResize,
.dojoxGridColResize .dojoDndItemOver,
.dojoxGridColumnResizing,
.dojoxGridColumnResizing .dojoDndItemOver,
.dojoxGridColumnResizing .dojoxGridHeader {
  cursor: col-resize !important;
}
.dojoxGridColPlaceBottom {
  background: transparent url("../../dojo/dojox/grid/resources/images/grid_sort_up.gif") no-repeat scroll left top;
}
.dojoxGridColPlaceTop {
  background: transparent url("../../dojo/dojox/grid/resources/images/grid_sort_down.gif") no-repeat scroll left top;
}
.dojoxGridColPlaceTop,
.dojoxGridColPlaceBottom {
  font-size: 1px;
  height: 6px;
  z-index: 10000;
  top: 0;
  overflow: hidden;
  position: absolute;
  line-height: 1px;
  width: 8px;
}
.dojoxGridResizeColLine {
  width: 1px;
  background-color: #777;
  position: absolute;
}
.dojoxGridExpandoCell {
  vertical-align: middle;
}
.dojoxGridSummarySpan {
  visibility: hidden;
}
.dojoxGridSummaryRow .dojoxGridSummarySpan,
.dojoxGridRowCollapsed .dojoxGridSummarySpan {
  visibility: visible;
}
.dojoxGridNoChildren .dojoxGridExpando {
  visibility: hidden !important;
  width: 0px !important;
}
