icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.map {
  overflow: hidden;
}
.map .container {
  position: relative;
  border: none;
  padding: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.map .container .layersDiv {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.map .container .layersDiv .layerTile {
  position: absolute;
  border: none;
  margin: 0px;
  padding: 0px;
}
.map .container .container {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.esriControlsBR {
  position: absolute;
  right: 4px;
  bottom: 4px;
  z-index: 30;
}
.esriControlsBR.withPanArrows {
  right: 23px;
  bottom: 8px;
}
.esriAttribution {
  font-size: 13px;
  color: #666;
  text-shadow: none;
  display: inline-block;
  text-align: right;
  vertical-align: bottom;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.esriAttributionOpen {
  white-space: normal;
  text-align: left;
  cursor: pointer;
}
.dj_ie7 .esriAttribution,
.dj_ie6 .esriAttribution {
  display: inline;
}
.esriAttributionLastItem span.esriAttributionDelim {
  display: none;
}
.map .logo-med {
  display: inline-block;
  vertical-align: bottom;
  width: 65px;
  height: 36px;
  z-index: 30;
  background-image: url("../images/map/logo-med.png");
  cursor: pointer;
  _background-image: none;
}
.map .logo-sm {
  display: inline-block;
  vertical-align: bottom;
  width: 46px;
  height: 22px;
  z-index: 30;
  background-image: url("../images/map/logo-sm.png");
  cursor: pointer;
  _background-image: none;
}
.dj_ie7 .map .logo-med,
.dj_ie7 .map .logo-sm,
.dj_ie6 .map .logo-med,
.dj_ie6 .map .logo-sm {
  display: inline;
}
.map .bingLogo-lg {
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 93px;
  height: 29px;
  z-index: 30;
  background-image: url("../images/map/bing-logo-lg.png");
  _background-image: none;
}
/* map fixed pan buttons */
.map .container .fixedPan {
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../images/map/fixed-pan-sprite.png");
  overflow: hidden;
  cursor: pointer;
  opacity: 0.35;
}
.map .container .fixedPan:hover {
  opacity: 0.8;
}
/* change to white arrows for pan buttons. a "dark" class needs to be added to the map container to use this style */
.map.dark .container .fixedPan {
  background-image: url("../images/map/fixed-pan-sprite-white.png");
}
.map .container .panUp {
  background-position: -15px 0px;
  top: 4px;
  width: 23px;
}
.map .container .panUpperRight {
  background-position: -38px 0px;
  right: 4px;
  top: 4px;
}
.map .container .panRight {
  background-position: -38px -15px;
  right: 4px;
  height: 23px;
}
.map .container .panLowerRight {
  background-position: -38px -38px;
  right: 4px;
  bottom: 4px;
}
.map .container .panDown {
  background-position: -15px -38px;
  bottom: 4px;
  width: 23px;
}
.map .container .panLowerLeft {
  background-position: 0 -38px;
  left: 4px;
  bottom: 4px;
}
.map .container .panLeft {
  background-position: -52px -15px;
  left: 4px;
  height: 23px;
}
.map .container .panUpperLeft {
  background-position: 0 0;
  left: 4px;
  top: 4px;
}
/* map tooltip */
.map .tooltip {
  min-width: 100px;
  position: absolute;
  border: 0 none;
  background: #2b2e34;
  color: #fff;
  text-shadow: none;
  padding: 4px;
  font-size: 10px;
  z-index: 9999;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.8;
}
