@import "../../variables"

.map {
	overflow: hidden
}
.map .container {
	position: relative
	border: none
	padding: 0px
	margin: 0px
	left: 0px
	top: 0px
	overflow: hidden
	width: 100%
	height: 100%
}

.map .container .layersDiv {
	position: relative
	left: 0px
	top: 0px
	width: 100%
	height: 100%
}

.map .container .layersDiv .layerTile {
	position: absolute
	border: none
	margin: 0px
	padding: 0px
}

.map .container .container {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.esriControlsBR {
	position: absolute
	right: $map-padding
	bottom: $map-padding
	z-index: 30
}

.esriControlsBR.withPanArrows {
	right: $map-padding * 2 + 15px
	bottom: $map-padding * 2
}

.esriAttribution {
	font-size: $map-attribution-font-size
	color: $map-attribution-text-color
	text-shadow: $map-attribution-text-shadow
	display: inline-block
	text-align: right
	vertical-align: bottom
	padding-right: $map-padding
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
}

.esriAttributionOpen {
	white-space: normal
	text-align: left
	cursor: pointer
}

.dj_ie7 .esriAttribution, .dj_ie6 .esriAttribution {
	display: inline
}

.esriAttributionLastItem span.esriAttributionDelim {
	display: none
}

.map .logo-med {
	display: inline-block
	vertical-align: bottom
	width: 65px
	height: 36px
	z-index: 30
	background-image: url("../images/map/logo-med.png")
	cursor: pointer
	_background-image: none
}

.map .logo-sm {
	display: inline-block
	vertical-align: bottom
	width: 46px
	height: 22px
	z-index: 30
	background-image: url("../images/map/logo-sm.png")
	cursor: pointer
	_background-image: none
}

.dj_ie7 .map .logo-med, .dj_ie7 .map .logo-sm, .dj_ie6 .map .logo-med, .dj_ie6 .map .logo-sm {
	display: inline
}

.map .bingLogo-lg {
	position: absolute
	left: $map-padding 
	bottom: $map-padding 
	width: 93px
	height: 29px
	z-index: 30
	background-image: url("../images/map/bing-logo-lg.png")
	_background-image: none
}

/* map fixed pan buttons */

.map .container .fixedPan {
	position: absolute
	width: 15px
	height: 15px
	background-image: url("../images/map/fixed-pan-sprite.png")
	overflow: hidden
	cursor: pointer
	opacity: $fixedpan-opacity
}

.map .container .fixedPan:hover {
	opacity: $fixedpan-hovered-opacity
}

/* change to white arrows for pan buttons. a "dark" class needs to be added to the map container to use this style */
.map.dark .container .fixedPan {
	background-image: url("../images/map/fixed-pan-sprite-white.png")
}

.map .container .panUp {
	background-position: -15px 0px
	top: $map-padding
	width: 23px
}

.map .container .panUpperRight {
	background-position: -38px 0px
	right: $map-padding
	top: $map-padding
}

.map .container .panRight {
	background-position: -38px -15px
	right: $map-padding
	height: 23px
}

.map .container .panLowerRight {
	background-position: -38px -38px
	right: $map-padding
	bottom: $map-padding
}

.map .container .panDown {
	background-position: -15px -38px
	bottom: $map-padding
	width: 23px
}

.map .container .panLowerLeft {
	background-position: 0 -38px
	left: $map-padding
	bottom: $map-padding
}

.map .container .panLeft {
	background-position: -52px -15px
	left: $map-padding
	height: 23px
}

.map .container .panUpperLeft {
	background-position: 0 0
	left: $map-padding
	top: $map-padding
}

/* map tooltip */

.map .tooltip {
	min-width: 100px
	position: absolute
	border: $map-tooltip-border
	background: $map-tooltip-background
	color: $map-tooltip-text-color
	text-shadow: $map-tooltip-text-shadow
	padding: $map-tooltip-padding
	font-size: $map-tooltip-font-size
	z-index: 9999
	border-radius: $map-tooltip-border-radius
	box-shadow: $map-tooltip-box-shadow
	opacity: $map-$tooltip-opacity
}