//
// Copyright 2014 Esri
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

/* ProgressBar
 * 
 * Styling of the ProgressBar consists of the following:
 * 
 * 1. the base progress bar
 *		.dijitProgressBar -	sets margins for the progress bar
 *
 * 2. the empty bar
 *		.dijitProgressBarEmpty  - sets background img and color for bar or parts of bar that are not finished yet
 *		Also sets border color for whole bar
 *
 * 3. tile mode
 * 		.dijitProgressBarTile
 *		inner container for finished portion when in 'tile' (image) mode 
 * 	
 * 4. full bar mode
 * 		.dijitProgressBarFull
 *		adds border to right side of the filled portion of bar
 *
 * 5. text for label of  bar
 *		.dijitProgressBarLabel - sets text color, which must contrast with both the "Empty" and "Full" parts. 
 * 	
 * 6. indeterminate mode
 *		.dijitProgressBarIndeterminate .dijitProgressBarTile 
 * 		sets animated gif for the progress bar in 'indeterminate' mode
 */

@import "../variables";

.dijitProgressBar {
	background: $progress-bar-empty-color;
	border: $progress-bar-border;
	box-shadow: $progress-bar-empty-box-shadow;
	border-radius: $progress-bar-border-radius; 
}

.dijitProgressBarTile {	
	background: url($progress-bar-strips-image-url) repeat-x top;
	animation: progress-bar-stripes 2s linear infinite;
} 

.dijitProgressBarFull {
	_progress-bar-color-properties($progress-bar-color);
	transition-property: width;
	transition-duration: .25s;
}

/* Create alternative progress bar colors */

for class in $progress-bar-alternative-colors {
	.dijitProgressBar.{class} .dijitProgressBarFull {
		_progress-bar-color-properties($progress-bar-alternative-colors[class]);
	}
}

.dijitProgressBarLabel {
	color: $progress-bar-text-color;
	text-shadow: $progress-bar-text-shadow;
}

/* Progress Animation */
@keyframes progress-bar-stripes {
  from { background-position: 75px 0; }
  to { background-position: 0 0; }
}