//
// Copyright 2014 Esri
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

/* Toolbar 
 * 
 * Styling Toolbar means styling the toolbar container and the widget inside toolbar  (dijitToolbar)
 * 
 * 1. toolbar (default styling): 
 * 		.dijitToolbar - styles for outer container
 *
 * 2. widget inside toolbar
 * 		.dijitToolbar .dijitButtonNode   - Button widget
 * 					  .dijitComboButton  - ComboButton widget
 * 					  .dijitDropDownButton  - DropDownButton widget
 * 					  .dijitToggleButton  - ToggleButton widget
 * 		
 * 3. hovered widget inside toolbar (ie, mouse hover on the widget inside)
 * 			.dijitToolbar .dijitButtonNodeHover  - styles for hovered Button widget
 * 
 * 4. actived widget inside toolbar (ie, mouse down on the widget inside)
 * 			.dijitToolbar .dijitButtonNodeActive  - mouse down on Button widget
 */

@import "../variables";

.dijitToolbar {
	background: $toolbar-background;
	padding: $toolbar-padding;
	zoom: 1;

	label {
		padding: $toolbar-label-padding;
	}

	.dijitToggleButton, 
	.dijitButton, 
	.dijitDropDownButton,
	.dijitComboButton {
		margin-right: $toolbar-button-spacing;
	}

	/* Override default button styles */

	.dijitButton .dijitButtonNode,
	.dijitDropDownButton .dijitButtonNode,
	.dijitComboButton .dijitButtonNode,
	.dijitToggleButton .dijitButtonNode,
	.dijitComboBox .dijitButtonNode {
		border: $toolbar-button-border;
		padding: $toolbar-button-padding;
		background: $toolbar-button-background;
		border-radius: $toolbar-button-border-radius;
		box-shadow: $toolbar-button-box-shadow;
		transition-property: background-color;
		transition-duration: .3s;
	}

	.dijitComboButton {
		.dijitStretch {
			/* no rounded border on side adjacent to arrow */
			border-radius: $toolbar-button-border-radius 0 0 $toolbar-button-border-radius;
		}
		.dijitArrowButton {
			/* no rounded border on side adjacent to button */
			border-radius: 0 $toolbar-button-border-radius $toolbar-button-border-radius 0;
		}
	}

	.dijitComboBox {
		//width: 10em;
		.dijitButtonNode {
			padding: 0 $padding*2;
		}
		.dijitInputInner {
			padding: 0;
		}
	}

	.dijitDropDownButton .dijitArrowButtonInner {
		margin-left: $padding;
	}
	
	/* Hover */

	.dijitButtonHover .dijitButtonNode,
	.dijitDropDownButtonHover .dijitButtonNode,
	.dijitToggleButtonHover .dijitButtonNode,
	.dijitComboButtonHover .dijitButtonNode {
		button-hover-style();
		border: $toolbar-hover-border;
	}

	/*
	.dijitComboButtonHover {
		.dijitButtonNode,
		.dijitDownArrowButton {
		}

		.dijitButtonNodeHover,
		.dijitDownArrowButtonHover {
		}
	}
	*/

	/* Active */
	
	.dijitButtonActive .dijitButtonNode,
	.dijitDropDownButtonActive .dijitButtonNode,
	.dijitToggleButtonActive .dijitButtonNode {
		button-active-style();
		border: $toolbar-active-border;
	}
	.dijitComboButtonActive {
		.dijitButtonNode,
		.dijitDownArrowButton {
		}
		.dijitButtonNodeActive {
		}
		.dijitDownArrowButtonActive {
		}
	}
	
	/* Toggle button checked status */
	
	.dijitToggleButtonChecked .dijitButtonNode {
		button-active-style();
		border: $toolbar-active-border;
	}
}

/* Separator */

.dijitToolbarSeparator {
	width: $toolbar-separator-width;
	height: $toolbar-separator-height;
	background: $toolbar-separator-color;
	padding: 0;
	margin: $toolbar-separator-margin;
}

/* Toolbar inside of disabled Editor */
.dijitDisabled .dijitToolbar {
	background: $toolbar-disabled-background;
	border-bottom: $toolbar-disabled-border-bottom;
}