@import "../../../variables";

.LocateButton span {
	display:none;
}

.LocateButton .zoomLocateButton {
	text-align: center;
	border: $map-simple-zoom-slider-border;
	background: $map-simple-zoom-slider-background;
	cursor: pointer;
	padding: 0;
	width: $map-simple-zoom-slider-button-width;
	height: $map-simple-zoom-slider-button-height;
	user-select: none;
	border-radius: $map-simple-zoom-slider-border-radius;
	box-shadow: $map-simple-zoom-slider-box-shadow;
	_icon-core-style();
	line-height: @height;
}

.LocateButton .zoomLocateButton:before {
  content: "\f124";
  font-size: 14px;
}

.LocateButton .zoomLocateButton:hover {
	background-color: $map-simple-zoom-slider-button-hover-background;
}

.LocateButton .zoomLocateButton:active {
	background-color: $map-simple-zoom-slider-button-active-background;
}

.LocateButton .loading:before {
	content: "\f021";
  	font-size: 14px;
  	animation: spin 2s infinite linear;
}

.LocateButton .tracking:before {
	content: "\f04d";
  	font-size: 14px;
}