/* BorderContainer 

Splitters and gutters separate panes within a BorderContainer. Splitters can be moved up and down (horizonal splitters) or left and right (vertical splitters), while Gutters are static. A "thumb" is the slit on a Splitter that indicates it is movable. 

Styling the BorderContainer widget consists of the following: 

.dijitBorderContainer - for border and padding of the entire border container

.dijitSplitContainer-child, .dijitBorderContainer-child - for border or child panes of the border container. By default borders are put on all children of BorderContainer.  

.dijitBorderContainer-dijitTabContainerTop,
.dijitBorderContainer-dijitTabContainerBottom,
.dijitBorderContainer-dijitTabContainerLeft,
.dijitBorderContainer-dijitTabContainerRight,
.dijitBorderContainer-dijitAccordionContainer   -for border of the border containers within TabContainer or AccordionContainer widget

.dijitBorderContainer-dijitBorderContainer - for border and padding of nested BorderContainers

Splitters and gutters:  

.dijitSplitterH, .dijitGutterH - for height, background, and border of a horizontal splitter and gutter 
.dijitSplitterH .dijitSplitterThumb - for color, height/width of the thumb on a horizontal splitter
.dijitSplitterV, .dijitGutterV - - for height, background, and border of a vertical splitter and gutter 
.dijitSplitterV .dijitSplitterThumb - for color, height/width of the thumb on a vertical splitter
.dijitSplitterHHover - for background-color of a hovered horizontal splitter
.dijitSplitterHHover .dijitSplitterThumb - for background-color of a hovered thumb on a horizontal splitter
.dijitSplitterVHover  - for background-color of a hovered vertical splitter
.dijitSplitterVHover .dijitSplitterThumb - for background-color of a hovered thumb on a vertical splitter
.dijitSplitterHActive - for background-color of an active horizontal splitter
.dijitSplitterVActive - for background-color of an active horizontal splitter
*/

@import "../../variables"

.{$theme-name} .dijitBorderContainer {
	/* matches the width of the splitters between panes */
	padding: $splitter-size
}

.{$theme-name} .dijitSplitContainer-child,
.{$theme-name} .dijitBorderContainer-child {
	border: $bordercontainer-border
}

.{$theme-name} .dijitBorderContainer-dijitTabContainerTop,
.{$theme-name} .dijitBorderContainer-dijitTabContainerBottom,
.{$theme-name} .dijitBorderContainer-dijitTabContainerLeft,
.{$theme-name} .dijitBorderContainer-dijitTabContainerRight,
.{$theme-name} .dijitBorderContainer-dijitAccordionContainer {
	/* except that TabContainer defines borders on it's sub-nodes (tablist and dijitTabPaneWrapper),
	 * so override rule setting border on domNode
	 */
	 border: none
}

.{$theme-name} .dijitBorderContainer-dijitBorderContainer {
	/* make nested BorderContainers look like a single big widget with lots of splitters */
	border: 0
	padding: 0
}

/* Splitters and gutters */

.{$theme-name} .dijitSplitterH,
.{$theme-name} .dijitGutterH {
	background:none
	border:0
	height: $splitter-size
}

.{$theme-name} .dijitSplitterH .dijitSplitterThumb {
	background: $splitter-color
	height: 1px
	top: isEven($splitter-size) ? half($splitter-size) : half($splitter-size - 1)
	width:19px
}

.{$theme-name} .dijitSplitterV,
.{$theme-name} .dijitGutterV {
	background:	$splitter-background
	border: 0
	width:	$splitter-size
	margin: 0
}

.{$theme-name} .dijitSplitterV .dijitSplitterThumb {
	background: $splitter-color
	height: 19px
	left: isEven($splitter-size) ? half($splitter-size) : half($splitter-size - 1)
	width: 1px
	margin: 0
}

/* hovered */
.{$theme-name} .dijitSplitterHHover,
.{$theme-name} .dijitSplitterVHover {
	font-size: 1px
	background: $splitter-hovered-background
}

.{$theme-name} .dijitSplitterHHover .dijitSplitterThumb,
.{$theme-name} .dijitSplitterVHover .dijitSplitterThumb {
	background: $splitter-hovered-color
}


/* active (dragged) */

.{$theme-name} .dijitSplitterHActive,
.{$theme-name} .dijitSplitterVActive {
	font-size: 1px
	background: $splitter-dragged-background
}

.{$theme-name} .dijitSplitterHActive .dijitSplitterThumb,
.{$theme-name} .dijitSplitterVActive .dijitSplitterThumb {
	background: $splitter-dragged-color
}
