/* ContentPane 
 *	
 * .dijitContentPane
 * 	set padding for basic content pane
 * 	
 * Nested layouts:
 * 
 * .dijitTabContainerTop-dijitContentPane,
 * .dijitTabContainerLeft-dijitContentPane,
 * .dijitTabContainerBottom-dijitContentPane,
 * .dijitTabContainerRight-dijitContentPane
 * 	set background-color and padding of ContentPanes nested within TabContainer (can do top, left, bottom, or right) or Accordion Container
 *
 * .dijitAccordionContainer-dijitContentPane
 * 	set background-color and padding of ContentPane nested within Accordion
 *
 * .dijitSplitContainer-dijitContentPane, 
 *	set background-color and padding of ContentPane nested within a SplitContainer 
 *
 * .dijitBorderContainer-dijitContentPane
 *	set background-color and padding of ContentPane nested within a BorderContainer 
 */
icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.flat .dijitContentPane {
  background: #fff;
  padding: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* contentpane in other layouts */
.flat .dijitTabContainerTop-dijitContentPane,
.flat .dijitTabContainerLeft-dijitContentPane,
.flat .dijitTabContainerBottom-dijitContentPane,
.flat .dijitTabContainerRight-dijitContentPane,
.flat .dijitAccordionContainer-dijitContentPane {
  background: #fff;
  padding: 4px;
  left: 0 !important;
  top: 0 !important;
}
