/* TabContainer 
 * 
 * Styling TabContainer means styling the TabList and Its content container  (dijitTitlePane)
 * 
 * Tab List: (including 4 kinds of tab location)
 * 		.dijitTabContainerTop-tabs     - tablist container at top
 * 		.dijitTabContainerBottom-tabs  - tablist container at bottom
 * 		.dijitTabContainerLeft-tabs    - tablist container at left
 * 		.dijitTabContainerRight-tabs   - tablist container at right
 * 
 * Tab Strip Button:
 * 		.dijitTabStripIcon - tab strip button icon
 * 		.dijitTabStripMenuIcon - down arrow icon position
 * 		.dijitTabStripSlideLeftIcon - left arrow icon position
 * 		.dijitTabStripSlideRightIcon - right arrow icon position
 * 
 * 		.tabStripButtonDisabled - styles for disabled tab strip buttons
 * 
 * Tab Button:
 * 		.dijitTabContainerTop-tabs .dijitTab     - styles for top tab button container
 * 		.dijitTabContainerBottom-tabs .dijitTab  - styles for bottom tab button container
 * 		.dijitTabContainerLeft-tabs .dijitTab    - styles for left tab button container
 * 		.dijitTabContainerRight-tabs .dijitTab   - styles for right tab button container
 * 
 * 		.dijitTabContainerTop-tabs .dijitTabChecked .dijitTab
 * 				- styles for selected status of top tab button
 * 		same to Bottom, Left, Right Tabs
 * 
 * 		.dijitTabHover .dijitTab   - styles when mouse hover on tab buttons
 * 		.dijitTabActive .dijitTab  - styles when mouse down on tab buttons
 * 		.dijitTabChecked .dijitTab  - styles when on buttons of selected tab
 * 
 * 		.dijitTabCloseButton - the close action buttons lie at the right top of each tab button on closable tabs
 * 		.dijitTabCloseButtonHover - styles when mouse hover on close action button
 * 		.dijitTabCloseButtonActive - styles when mouse down on close action button
 * 
 * Tab Button: (checked status)
 * 
 * Tab Content Container:
 * 		.dijitTabContainerTop-dijitContentPane
 * 		.dijitTabContainerBottom-dijitContentPane
 * 		.dijitTabContainerLeft-dijitContentPane
 * 		.dijitTabContainerRight-dijitContentPane - for background and padding
 * 
 * Nested Tabs:
 * 		.dijitTabContainerNested - Container for nested tabs
 * 		.dijitTabContainerTabListNested - tab list container for nested tabs
 */
icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
/************ some common features *************/
.flat .dijitTabContainer {
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.flat .dijitTabPaneWrapper {
  background: #fff;
  border: 1px solid #b4b4b4;
  margin: 0;
  padding: 0;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  -webkit-box-shadow: 0 0 2px #fff inset, 0 0 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 2px #fff inset, 0 0 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 2px #fff inset, 0 0 2px rgba(0,0,0,0.2);
}
.flat .dijitTabContainerTop-tabs,
.flat .dijitTabContainerBottom-tabs,
.flat .dijitTabContainerLeft-tabs,
.flat .dijitTabContainerRight-tabs {
  border: 0;
}
.flat .dijitTabSpacer {
  display: none;
}
/* tabs */
.flat .dijitTab {
  border: 0;
  background: transparent;
  color: #007ac2;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
/* tabs: hover */
.flat .dijitTabHover {
  border: 0;
  background: #32b3ff;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* tabs: active */
.flat .dijitTabActive {
  border: 0;
  background: #12a7ff;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
/* tabs: checked */
.flat .dijitTabChecked,
.flat .dijitTabChecked.dijitTabHover,
.flat .dijitTabChecked.dijitTabActive {
  border: 1px solid #b4b4b4;
  background: #fff;
  color: #2b2e34;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  -webkit-box-shadow: 0 0 2px #fff inset, 0 0 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 2px #fff inset, 0 0 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 2px #fff inset, 0 0 2px rgba(0,0,0,0.2);
}
/* styles only when tab container has gutter */
.flat .dijitTabChecked:after {
  background: #fff;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  width: 100%;
}
/* tabs: disabled */
.flat .dijitTabDisabled {
  opacity: 0.65;
}
.flat .tabStripButton {
  background-color: transparent;
  border: none;
}
/* tabs: close button */
.flat .dijitTabCloseButton {
  background: url("../layout/images/tabClose.png") center top no-repeat;
  width: 14px;
  height: 14px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  opacity: 0.35;
}
.flat .dijitTabCloseButtonHover {
  background-color: #007ac2;
  background-position: center bottom;
  opacity: 1;
}
.flat .dijitTabCloseButtonActive {
  opacity: 1;
  background: $darken(#007ac2, 15%);
}
/************* end common **************/
/*************** top tabs ***************/
.flat .dijitTabListContainer-top {
  margin-top: 1px;
}
.flat .dijitTabContainerTop-tabs .dijitTab {
  top: 0px;
  margin-right: 1px;
  padding: 4px 16px;
  text-align: center;
  vertical-align: bottom;
  border-top-width: 3px;
  border-bottom-width: 0;
}
.flat .dijitTabContainerTop-tabs .dijitTabChecked {
  border-top-color: #007ac2;
}
.flat .dijitTabContainerTop-tabs .dijitTabChecked:after {
  bottom: -4px;
  left: 0;
}
/*************** end top tabs **************/
/*************** bottom tabs ***************/
.flat .dijitTabListContainer-bottom {
  margin-top: -1px;
}
.flat .dijitTabPaneWrapper.dijitTabContainerBottom-container {
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.flat .dijitTabContainerBottom-tabs .dijitTab {
  top: 0;
  margin-right: 1px;
  padding: 4px 16px;
  text-align: center;
  vertical-align: top;
  border-bottom-width: 3px;
  border-top-width: 0;
}
.flat .dijitTabContainerBottom-tabs .dijitTabChecked {
  border-bottom-color: #007ac2;
}
.flat .dijitTabContainerBottom-tabs .dijitTabChecked:after {
  top: -4px;
  left: 0;
}
/************ end bottom tabs ************/
/*************** left tabs ***************/
.flat .dijitTabPaneWrapper.dijitTabContainerLeft-container {
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.flat .dijitTabContainerLeft-tabs .dijitTab {
  margin-bottom: 1px;
  padding: 8px 12px;
  text-align: center;
  vertical-align: middle;
  border-left-width: 3px;
  border-right-width: 0;
}
.flat .dijitTabContainerLeft-tabs .dijitTabChecked {
  border-left-color: #007ac2;
}
.flat .dijitTabContainerLeft-tabs .dijitTabChecked:after {
  right: -4px;
  top: 0;
  height: 100%;
  width: 4px;
}
/************** end left tabs *************/
/*************** right tabs ***************/
.flat .dijitTabPaneWrapper.dijitTabContainerRight-container {
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.flat .dijitTabContainerRight-tabs .dijitTab {
  margin-bottom: 1px;
  padding: 8px 12px;
  text-align: center;
  vertical-align: middle;
  border-right-width: 3px;
  border-left-width: 0;
}
.flat .dijitTabContainerRight-tabs .dijitTabChecked {
  border-right-color: #007ac2;
}
.flat .dijitTabContainerRight-tabs .dijitTabChecked:after {
  left: -4px;
  top: 0;
  height: 100%;
  width: 4px;
}
/************* end right tabs *************/
/************ left/right scroll buttons + menu button ***********/
.flat .tabStripButton {
  background-color: transparent;
  border: 0;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}
.flat .dijitTabListContainer-top .tabStripButton,
.flat .dijitTabListContainer-bottom .tabStripButton {
  padding: 4px 6px;
  margin-left: 1px;
  margin-right: 1px;
}
.flat .tabStripButtonHover {
  border: 0;
  background: #32b3ff;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.flat .tabStripButtonActive {
  border: 0;
  background: #12a7ff;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.flat .dijitTabStripIcon {
  margin: 0 auto;
  background-color: transparent;
  width: 0;
  height: 0;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid #2b2e34;
}
.flat .dijitTabStripSlideRightIcon {
  border-left: 4px solid #2b2e34;
  border-right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.flat .dijitTabStripMenuIcon {
  border-bottom: 0;
  border-top: 4px solid #2b2e34;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
/* hover */
.flat .tabStripButtonHover .dijitTabStripIcon {
  border-right-color: #fff;
}
.flat .tabStripButtonHover .dijitTabStripSlideRightIcon {
  border-left-color: #fff;
  border-right: 0;
}
.flat .tabStripButtonHover .dijitTabStripMenuIcon {
  border-top-color: #fff;
  border-right: 4px solid transparent;
}
/* active */
.flat .tabStripButtonActive .dijitTabStripIcon {
  border-right-color: #fff;
}
.flat .tabStripButtonActive .dijitTabStripSlideRightIcon {
  border-left-color: #fff;
  border-right: 0;
}
.flat .tabStripButtonActive .dijitTabStripMenuIcon {
  border-top-color: #fff;
  border-right: 4px solid transparent;
}
/* disabled */
.flat .dijitTabListContainer-top .tabStripButtonDisabled,
.flat .dijitTabListContainer-bottom .tabStripButtonDisabled {
  opacity: 0.65;
}
/*********** end left/right scroll buttons + menu button *********/
/*************** nested tabs ***************/
.flat .dijitTabContainerNested .dijitTabListWrapper {
  height: auto;
}
.flat .dijitTabContainerTabListNested .dijitTab {
  color: #2b2e34;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background: transparent;
  border: 0;
  margin: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.flat .dijitTabContainerTabListNested .dijitTabHover {
  color: #2b2e34;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.flat .dijitTabContainerTabListNested .dijitTabActive {
  color: #2b2e34;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.flat .dijitTabContainerTabListNested .dijitTabChecked,
.flat .dijitTabContainerTabListNested .dijitTabChecked.dijitTabHover,
.flat .dijitTabContainerTabListNested .dijitTabChecked.dijitTabActive {
  color: #007ac2;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flat .dijitTabContainerTabListNested .dijitTabChecked:after {
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
}
/************* nested top tabs *************/
.flat .dijitTabContainerTabListNested.dijitTabContainerTop-tabs .dijitTab {
  padding: 2px 12px;
  margin-right: 4px;
  border-bottom: 2px solid transparent;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerTop-tabs .dijitTabHover {
  border-bottom-color: #b4b4b4;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerTop-tabs .dijitTabActive {
  border-bottom-color: #007ac2;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerTop-tabs .dijitTabChecked {
  border-bottom-color: #007ac2;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerTop-tabs .dijitTabChecked:after {
  border-top-color: #007ac2;
  border-bottom: 0;
  left: 50%;
  margin-left: -4px;
  bottom: -6px;
}
/************* nested bottom tabs *************/
.flat .dijitTabContainerTabListNested.dijitTabContainerBottom-tabs .dijitTab {
  margin-right: 4px;
  padding: $nestedtab-bottom-paddin;
  border-top: 2px solid transparent;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerBottom-tabs .dijitTabHover {
  border-top-color: #b4b4b4;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerBottom-tabs .dijitTabActive {
  border-top-color: #007ac2;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerBottom-tabs .dijitTabChecked {
  border-top-color: #007ac2;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerBottom-tabs .dijitTabChecked:after {
  border-bottom-color: #007ac2;
  border-top: 0;
  left: 50%;
  margin-left: -4px;
  top: -6px;
}
/************* nested left tabs *************/
.flat .dijitTabContainerTabListNested.dijitTabContainerLeft-tabs .dijitTab {
  padding: 4px 12px;
  margin-bottom: 4px;
  border-right: 2px solid transparent;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerLeft-tabs .dijitTabHover {
  border-right-color: #b4b4b4;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerLeft-tabs .dijitTabActive {
  border-right-color: #007ac2;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerLeft-tabs .dijitTabChecked {
  border-right-color: #007ac2;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerLeft-tabs .dijitTabChecked:after {
  border-left-color: #007ac2;
  border-right: 0;
  top: 50%;
  margin-top: -4px;
  right: -6px;
}
/************* nested right tabs *************/
.flat .dijitTabContainerTabListNested.dijitTabContainerRight-tabs .dijitTab {
  margin-bottom: 4px;
  padding: 4px 12px;
  border-left: 2px solid transparent;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerRight-tabs .dijitTabHover {
  border-left-color: #b4b4b4;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerRight-tabs .dijitTabActive {
  border-left-color: #007ac2;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerRight-tabs .dijitTabChecked {
  border-left-color: #007ac2;
}
.flat .dijitTabContainerTabListNested.dijitTabContainerRight-tabs .dijitTabChecked:after {
  border-right-color: #007ac2;
  border-left: 0;
  top: 50%;
  margin-top: -4px;
  left: -6px;
}
.flat .dijitTabPaneWrapperNested {
  border: none;
/* prevent double border */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
