/* TabContainer 
 * 
 * Styling TabContainer means styling the TabList and Its content container  (dijitTitlePane)
 * 
 * Tab List: (including 4 kinds of tab location)
 * 		.dijitTabContainerTop-tabs     - tablist container at top
 * 		.dijitTabContainerBottom-tabs  - tablist container at bottom
 * 		.dijitTabContainerLeft-tabs    - tablist container at left
 * 		.dijitTabContainerRight-tabs   - tablist container at right
 * 
 * Tab Strip Button:
 * 		.dijitTabStripIcon - tab strip button icon
 * 		.dijitTabStripMenuIcon - down arrow icon position
 * 		.dijitTabStripSlideLeftIcon - left arrow icon position
 * 		.dijitTabStripSlideRightIcon - right arrow icon position
 * 
 * 		.tabStripButtonDisabled - styles for disabled tab strip buttons
 * 
 * Tab Button:
 * 		.dijitTabContainerTop-tabs .dijitTab     - styles for top tab button container
 * 		.dijitTabContainerBottom-tabs .dijitTab  - styles for bottom tab button container
 * 		.dijitTabContainerLeft-tabs .dijitTab    - styles for left tab button container
 * 		.dijitTabContainerRight-tabs .dijitTab   - styles for right tab button container
 * 
 * 		.dijitTabContainerTop-tabs .dijitTabChecked .dijitTab
 * 				- styles for selected status of top tab button
 * 		same to Bottom, Left, Right Tabs
 * 
 * 		.dijitTabHover .dijitTab   - styles when mouse hover on tab buttons
 * 		.dijitTabActive .dijitTab  - styles when mouse down on tab buttons
 * 		.dijitTabChecked .dijitTab  - styles when on buttons of selected tab
 * 
 * 		.dijitTabCloseButton - the close action buttons lie at the right top of each tab button on closable tabs
 * 		.dijitTabCloseButtonHover - styles when mouse hover on close action button
 * 		.dijitTabCloseButtonActive - styles when mouse down on close action button
 * 
 * Tab Button: (checked status)
 * 
 * Tab Content Container:
 * 		.dijitTabContainerTop-dijitContentPane
 * 		.dijitTabContainerBottom-dijitContentPane
 * 		.dijitTabContainerLeft-dijitContentPane
 * 		.dijitTabContainerRight-dijitContentPane - for background and padding
 * 
 * Nested Tabs:
 * 		.dijitTabContainerNested - Container for nested tabs
 * 		.dijitTabContainerTabListNested - tab list container for nested tabs
 */

@import "../../variables"

/************ some common features *************/

.{$theme-name} .dijitTabContainer {
	border-radius: $tab-wrapper-border-radius
}

.{$theme-name} .dijitTabPaneWrapper {
	background: $tab-wrapper-background
	border: $tab-wrapper-border
	margin: 0
	padding: 0
	border-radius: 0 0 $tab-wrapper-border-radius $tab-wrapper-border-radius
	box-shadow: $tab-wrapper-box-shadow
}

.{$theme-name} .dijitTabContainerTop-tabs,
.{$theme-name} .dijitTabContainerBottom-tabs,
.{$theme-name} .dijitTabContainerLeft-tabs,
.{$theme-name} .dijitTabContainerRight-tabs {
	border: 0
}

.{$theme-name} .dijitTabSpacer {
	display: none if !$tab-has-gutter
}

/* tabs */

.{$theme-name} .dijitTab {
	border: $tab-border
	background: $tab-background
	color: $tab-text-color
	text-shadow: $tab-text-shadow
	box-shadow: $tab-shadow
	border-radius: $tab-border-radius
	transition-property: background-color
	transition-duration: .35s
}

/* tabs: hover */

.{$theme-name} .dijitTabHover {
	border: $tab-hover-border
	background: $tab-hover-background
	color: $tab-hover-text-color
	text-shadow: $tab-hover-text-shadow
	transition-duration: .25s
}

/* tabs: active */

.{$theme-name} .dijitTabActive {
	border: $tab-active-border
	background: $tab-active-background
	color: $tab-active-text-color
	text-shadow: $tab-active-text-shadow
	transition-duration: .1s
}

/* tabs: checked */

.{$theme-name} .dijitTabChecked,
.{$theme-name} .dijitTabChecked.dijitTabHover,
.{$theme-name} .dijitTabChecked.dijitTabActive {
	border: $tab-checked-border
	background: $tab-checked-background
	color: $tab-checked-text-color
	text-shadow: $tab-checked-text-shadow
	box-shadow: $tab-checked-box-shadow
}

/* styles only when tab container has gutter */

if (!$tab-has-gutter) {
	.{$theme-name} .dijitTabChecked:after { // white overlay to cover part of the shadow
		background: $tab-checked-background
		content: ""
		display: block
		height: $tab-padding
		position: absolute
		width: 100%
	}
}

/* tabs: disabled */

.{$theme-name} .dijitTabDisabled {
	opacity:0.65
}

.{$theme-name} .tabStripButton {
	background-color: transparent
	border: none
}

/* tabs: close button */

.{$theme-name} .dijitTabCloseButton {
	background: url("../" + $tab-close-button-image) center top no-repeat
	width: $tab-close-button-height
	height: $tab-close-button-width
	border-radius: $tab-close-button-border-radius
	opacity: 0.35
}
.{$theme-name} .dijitTabCloseButtonHover {
	background-color: $tab-highlight-color
	background-position: center bottom
	opacity: 1
}
.{$theme-name} .dijitTabCloseButtonActive {
	opacity: 1
	background: $tab-close-button-active-background
}

/************* end common **************/


/*************** top tabs ***************/

.{$theme-name} .dijitTabListContainer-top{
	margin-top:1px if !$tab-has-gutter
}

.{$theme-name} .dijitTabContainerTop-tabs .dijitTab {
	top: 0px
	margin-right: $tab-spacing
	padding:$tab-top-padding
	text-align: center
	vertical-align: bottom
	border-top-width: 3px if $tab-checked-has-highlight-border
	border-bottom-width: 0 if !$tab-has-gutter	
}

if ($tab-checked-has-highlight-border) {
	.{$theme-name} .dijitTabContainerTop-tabs .dijitTabChecked {
		border-top-color: $tab-highlight-color
	}
}

if (!$tab-has-gutter) {
	.{$theme-name} .dijitTabContainerTop-tabs .dijitTabChecked:after {
		bottom: - $tab-padding
		left: 0
	}
}else{
	.{$theme-name} .dijitTabContainerTop-spacer {
		height: $tab-gutter-size
	}
}

/*************** end top tabs **************/

/*************** bottom tabs ***************/

.{$theme-name} .dijitTabListContainer-bottom{
	margin-top:-1px if !$tab-has-gutter
}

.{$theme-name} .dijitTabPaneWrapper.dijitTabContainerBottom-container{
	border-radius: $tab-wrapper-border-radius $tab-wrapper-border-radius 0 0
}

.{$theme-name} .dijitTabContainerBottom-tabs .dijitTab {
	top:0
	margin-right: $tab-spacing
	padding:$tab-bottom-padding
	text-align: center
	vertical-align: top
	border-bottom-width: 3px if $tab-checked-has-highlight-border
	border-top-width: 0 if !$tab-has-gutter
}

if ($tab-checked-has-highlight-border) {
	.{$theme-name} .dijitTabContainerBottom-tabs .dijitTabChecked {
		border-bottom-color: $tab-highlight-color 
	}
}

if (!$tab-has-gutter) {
	.{$theme-name} .dijitTabContainerBottom-tabs .dijitTabChecked:after {
		top: - $tab-padding
		left: 0
	}
}else{
	.{$theme-name} .dijitTabContainerBottom-spacer {
		height: $tab-gutter-size
	}
}

/************ end bottom tabs ************/

/*************** left tabs ***************/

.{$theme-name} .dijitTabPaneWrapper.dijitTabContainerLeft-container{
	border-radius: 0 $tab-wrapper-border-radius $tab-wrapper-border-radius 0
 }

.{$theme-name} .dijitTabContainerLeft-tabs .dijitTab {
	margin-bottom: $tab-spacing
	padding: $tab-left-padding
	text-align: center
	vertical-align: middle
	border-left-width: 3px if $tab-checked-has-highlight-border
	border-right-width: 0 if !$tab-has-gutter
}

if ($tab-checked-has-highlight-border) {
	.{$theme-name} .dijitTabContainerLeft-tabs .dijitTabChecked {
		border-left-color: $tab-highlight-color
	}
}

if (!$tab-has-gutter) {
	.{$theme-name} .dijitTabContainerLeft-tabs .dijitTabChecked:after {
		right: - $tab-padding
		top: 0
		height: 100%
		width: $tab-padding
	}
}else{
	.{$theme-name} .dijitTabContainerLeft-spacer {
		width: $tab-gutter-size
	}
}

/************** end left tabs *************/

/*************** right tabs ***************/

.{$theme-name} .dijitTabPaneWrapper.dijitTabContainerRight-container{
	border-radius: $tab-wrapper-border-radius 0 0 $tab-wrapper-border-radius
 }

.{$theme-name} .dijitTabContainerRight-tabs .dijitTab {
	margin-bottom: $tab-spacing
	padding: $tab-right-padding
	text-align: center
	vertical-align: middle
	border-right-width: 3px if $tab-checked-has-highlight-border
	border-left-width: 0 if !$tab-has-gutter
}

if ($tab-checked-has-highlight-border) {
	.{$theme-name} .dijitTabContainerRight-tabs .dijitTabChecked {
		border-right-color: $tab-highlight-color
	}
}

if (!$tab-has-gutter) {
	.{$theme-name} .dijitTabContainerRight-tabs .dijitTabChecked:after {
		left: - $tab-padding
		top: 0
		height: 100% 
		width: $tab-padding
	}
}else{
	.{$theme-name} .dijitTabContainerRight-spacer {
		width: $tab-gutter-size
	}
}

/************* end right tabs *************/

/************ left/right scroll buttons + menu button ***********/
.{$theme-name} .tabStripButton {
	background-color: transparent
	border: 0
	transition-property: background-color
}
.{$theme-name} .dijitTabListContainer-top .tabStripButton,
.{$theme-name} .dijitTabListContainer-bottom .tabStripButton {
	padding: $tab-padding $tab-padding + 2
	margin-left: $tab-spacing
	margin-right $tab-spacing
}

.{$theme-name} .tabStripButtonHover {
	border: $tab-hover-border
	background: $tab-hover-background
	transition-duration: .25s
}

.{$theme-name} .tabStripButtonActive {
	border: $tab-active-border
	background: $tab-active-background
	transition-duration: .1s
}

.{$theme-name} .dijitTabStripIcon {
	margin: 0 auto
	background-color: transparent
	width: 0
	height: 0
	border-bottom: $tab-arrow-thickness solid transparent
    border-top: $tab-arrow-thickness solid transparent
    border-right: $tab-arrow-thickness solid $tab-arrow-color
}

.{$theme-name} .dijitTabStripSlideRightIcon {
	border-left: $tab-arrow-thickness solid $tab-arrow-color
	border-right: 0
	border-top: $tab-arrow-thickness solid transparent
	border-bottom: $tab-arrow-thickness solid transparent
}

.{$theme-name} .dijitTabStripMenuIcon {
	border-bottom: 0
	border-top: $tab-arrow-thickness solid $tab-arrow-color
	border-right: $tab-arrow-thickness solid transparent
	border-left: $tab-arrow-thickness solid transparent
}

/* hover */

.{$theme-name} .tabStripButtonHover .dijitTabStripIcon  {
	border-right-color: $tab-arrow-hover-color
}

.{$theme-name} .tabStripButtonHover .dijitTabStripSlideRightIcon  {
	border-left-color: $tab-arrow-hover-color
	border-right: 0
}

.{$theme-name} .tabStripButtonHover .dijitTabStripMenuIcon  {
	border-top-color: $tab-arrow-hover-color
	border-right: $tab-arrow-thickness solid transparent
}

/* active */

.{$theme-name} .tabStripButtonActive .dijitTabStripIcon  {
	border-right-color: $tab-arrow-active-color
}

.{$theme-name} .tabStripButtonActive .dijitTabStripSlideRightIcon  {
	border-left-color: $tab-arrow-active-color
	border-right: 0
}

.{$theme-name} .tabStripButtonActive .dijitTabStripMenuIcon  {
	border-top-color: $tab-arrow-active-color
	border-right: $tab-arrow-thickness solid transparent
}

/* disabled */

.{$theme-name} .dijitTabListContainer-top .tabStripButtonDisabled,
.{$theme-name} .dijitTabListContainer-bottom .tabStripButtonDisabled {
	opacity:0.65
}

/*********** end left/right scroll buttons + menu button *********/

/*************** nested tabs ***************/

.{$theme-name} .dijitTabContainerNested .dijitTabListWrapper {
	height: auto
}

.{$theme-name} .dijitTabContainerTabListNested .dijitTab {
	color: $nestedtab-text-color
	text-shadow: $nestedtab-text-shadow
	background: $nestedtab-background
	border: $nestedtab-border
	margin: $tab-padding * 0.5
	box-shadow: $nestedtab-box-shadow
	border-radius: $nestedtab-border-radius
	transition-property: background-color, border-color
 	transition-duration: .3s
}

.{$theme-name} .dijitTabContainerTabListNested .dijitTabHover {
	color: $nestedtab-hover-text-color
	text-shadow: $nestedtab-hover-text-shadow
	border: $nestedtab-hover-border
	background: $nestedtab-hover-background
	box-shadow: $nestedtab-hover-box-shadow
	transition-duration: .25s
}

.{$theme-name} .dijitTabContainerTabListNested .dijitTabActive {
	color: $nestedtab-active-text-color
	text-shadow: $nestedtab-active-text-shadow
	background-color:$nestedtab-active-background
	border: $nestedtab-active-border
	box-shadow: $nestedtab-active-box-shadow
	transition-duration: .1s
}

.{$theme-name} .dijitTabContainerTabListNested .dijitTabChecked,
.{$theme-name} .dijitTabContainerTabListNested .dijitTabChecked.dijitTabHover,
.{$theme-name} .dijitTabContainerTabListNested .dijitTabChecked.dijitTabActive {
	color: $nestedtab-checked-text-color
	text-shadow: $nestedtab-checked-text-shadow
	border: $nestedtab-checked-border
	background: $nestedtab-checked-background
	box-shadow: $nestedtab-checked-box-shadow
}

if($nestedtab-has-arrow) {
	.{$theme-name} .dijitTabContainerTabListNested .dijitTabChecked:after {
		width: 0
		height: 0
		border-width: $tab-arrow-thickness
		border-style: solid
		border-color: transparent
	}
}

/************* nested top tabs *************/

.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerTop-tabs .dijitTab {
	padding: $nestedtab-top-padding
	margin-right: $nestedtab-spacing
	border-bottom: $nestedtab-underline-thickness solid $nestedtab-underline-normal-color if $nestedtab-has-underline
}

if ($nestedtab-has-underline) {
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerTop-tabs .dijitTabHover {
		border-bottom-color: $nestedtab-underline-hover-color
	}
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerTop-tabs .dijitTabActive {
		border-bottom-color: $nestedtab-underline-active-color
	}
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerTop-tabs .dijitTabChecked {
		border-bottom-color: $nestedtab-underline-checked-color
	}
}

if($nestedtab-has-arrow) {
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerTop-tabs .dijitTabChecked:after {
		border-top-color: $tab-highlight-color
		border-bottom: 0
		left:50%
		margin-left: - $tab-arrow-thickness
		bottom: - ($nestedtab-has-underline ? $tab-arrow-thickness + $nestedtab-underline-thickness : $tab-arrow-thickness) // add the thickness of the underline to the offset if the tab has underline 
	}
}

/************* nested bottom tabs *************/

.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerBottom-tabs .dijitTab {
	margin-right: $nestedtab-spacing
	padding: $nestedtab-bottom-paddin
	border-top: $nestedtab-underline-thickness solid $nestedtab-underline-normal-color if $nestedtab-has-underline
}

if ($nestedtab-has-underline) {
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerBottom-tabs .dijitTabHover {
		border-top-color: $nestedtab-underline-hover-color
	}
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerBottom-tabs .dijitTabActive {
		border-top-color: $nestedtab-underline-active-color
	}
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerBottom-tabs .dijitTabChecked {
		border-top-color: $nestedtab-underline-checked-color
	}
}

if($nestedtab-has-arrow) {
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerBottom-tabs .dijitTabChecked:after {
		border-bottom-color: $tab-highlight-color
		border-top: 0
		left:50%
		margin-left: - $tab-arrow-thickness
		top: - ($nestedtab-has-underline ? $tab-arrow-thickness + $nestedtab-underline-thickness : $tab-arrow-thickness) // add the thickness of the underline to the offset if the tab has underline 
	}
}

/************* nested left tabs *************/

.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerLeft-tabs .dijitTab {
	padding: $nestedtab-left-padding
	margin-bottom: $nestedtab-spacing
	border-right: $nestedtab-underline-thickness solid $nestedtab-underline-normal-color if $nestedtab-has-underline
}

if ($nestedtab-has-underline) {
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerLeft-tabs .dijitTabHover {
		border-right-color: $nestedtab-underline-hover-color
	}
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerLeft-tabs .dijitTabActive {
		border-right-color: $nestedtab-underline-active-color
	}
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerLeft-tabs .dijitTabChecked {
		border-right-color: $nestedtab-underline-checked-color
	}
}

if($nestedtab-has-arrow) {
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerLeft-tabs .dijitTabChecked:after {
		border-left-color: $tab-highlight-color
		border-right: 0
		top:50%
		margin-top: - $tab-arrow-thickness
		right: - ($nestedtab-has-underline ? $tab-arrow-thickness + $nestedtab-underline-thickness : $tab-arrow-thickness) // add the thickness of the underline to the offset if the tab has underline 
	}
}
/************* nested right tabs *************/

.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerRight-tabs .dijitTab {
	margin-bottom: $nestedtab-spacing
	padding: $nestedtab-right-padding
	border-left: $nestedtab-underline-thickness solid $nestedtab-underline-normal-color if $nestedtab-has-underline
}

if ($nestedtab-has-underline) {
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerRight-tabs .dijitTabHover {
		border-left-color: $nestedtab-underline-hover-color
	}
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerRight-tabs .dijitTabActive {
		border-left-color: $nestedtab-underline-active-color
	}
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerRight-tabs .dijitTabChecked {
		border-left-color: $nestedtab-underline-checked-color
	}
}

if($nestedtab-has-arrow) {
	.{$theme-name} .dijitTabContainerTabListNested.dijitTabContainerRight-tabs .dijitTabChecked:after {
		border-right-color: $tab-highlight-color
		border-left: 0
		top:50%
		margin-top: - $tab-arrow-thickness
		left: - ($nestedtab-has-underline ? $tab-arrow-thickness + $nestedtab-underline-thickness : $tab-arrow-thickness) // add the thickness of the underline to the offset if the tab has underline 
	}
}

.{$theme-name} .dijitTabPaneWrapperNested {
	border: none /* prevent double border */
	box-shadow: none
}