/* rtl support 

	IMPORTANT:
	WebKit places the scrollbars on the RIGHT, even when in RTL mode :(
	.dgrid-rtl is added to the domNode if the grid's isRTL is true
	.dgrid-rtl-nonwebkit is also added to the domNode if
		the grid's isRTL is true AND the client isn't WebKit
*/
icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.dgrid-rtl-nonwebkit .dgrid-header {
  right: 0;
  left: 17px;
}
.dgrid-rtl-nonwebkit .dgrid-header-scroll {
  left: 0px;
  right: auto;
}
.dgrid-rtl .dgrid-cell {
  text-align: right;
}
/* Reverse position of sort arrow */
.dgrid-rtl .dgrid-sort-arrow {
  float: left;
  margin: 0 4px;
}
/* Reverse arrows for tree expando states */
.dgrid-rtl .ui-icon-triangle-1-e {
  background-position: -96px -16px;
}
.dgrid-rtl .ui-icon-triangle-1-se {
  background-position: -80px -16px;
}
