@import "../../../variables"

.esriBasemapGallery {
	background: $map-basemap-gallery-background
	border: $map-basemap-gallery-border
	padding: $map-basemap-gallery-padding
	border-radius: $map-basemap-gallery-border-radius
	box-shadow: $map-basemap-gallery-box-shadow
}

.esriBasemapGalleryNode {
	float: left
	margin: $map-basemap-gallery-item-margin
}

.esriBasemapGalleryNode a {
	background: $map-basemap-gallery-item-background
	border: $map-basemap-gallery-item-border
	display: inline-block
	padding: $map-basemap-gallery-item-padding
	border-radius: $map-basemap-gallery-item-border-radius
	box-shadow: $map-basemap-gallery-item-box-shadow
	position: relative
}

.esriBasemapGallerySelectedNode a:after {
	background: url("../images/basemapSelected.png") no-repeat center center $map-basemap-gallery-highlight-color
	bottom: $map-basemap-gallery-item-padding
	content: ""
	display: block
	height: 20px
	position: absolute
	right: $map-basemap-gallery-item-padding
	width: 30px
}

.esriBasemapGalleryNode a img {
	vertical-align: middle
}

.esriBasemapGalleryLabelContainer {
	background: transparent
	text-align: center
	width: 100%
	overflow: hidden
	display: block
}

.esriBasemapGalleryThumbnail {
	height: $map-basemap-gallery-item-thumbnail-height
	width: $map-basemap-gallery-item-thumbnail-width
	border: $map-basemap-gallery-item-thumbnail-border
	border-radius: $map-basemap-gallery-item-thumbnail-border-radius
	box-shadow: $map-basemap-gallery-item-thumbnail-box-shadow
	margin: 0
}

.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail {
	background: $map-basemap-gallery-item-thumbnail-selected-background
	border: $map-basemap-gallery-item-thumbnail-selected-border
	border-radius: $map-basemap-gallery-item-thumbnail-selected-border-radius
	box-shadow: $map-basemap-gallery-item-thumbnail-selected-box-shadow
	margin: 0
}

.esriBasemapGalleryMessage {
}
