.BasemapToggle .toggleButton {
	padding: 4px;
	background: #666;
	background: rgba(102,102,102,0.80);
	background: #fff;
	border: 2px solid #666;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.BasemapToggle .basemapImage {
	width: 60px;
	height: 60px;
	overflow: hidden;
}

	.BasemapToggle .basemapImage img {
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		vertical-align: middle;
	}

.BasemapToggle .basemapTitle {
	color: #666;
	font-size: 12px;
	line-height: 14px;
	height: 14px;
	display: block;
	padding: 0;
	text-align: center;
	text-transform: capitalize;
}
