@import "../../../variables"

.esriBookmarks {
	background: $map-bookmarks-background
	border:$map-bookmarks-border
	border-radius: $map-bookmarks-border-radius
	box-shadow: $map-bookmarks-box-shadow
	padding: $map-bookmarks-padding	
}

.esriBookmarkTable {
	width: 100%
	margin: 0 auto
	border-collapse:collapse
	border-spacing: 0px
}

.esriBookmarkTable td {
	padding: 0
}

.esriBookmarkItem {
	color: $map-bookmarks-text-color
	text-shadow: $map-bookmarks-text-shadow
	padding: $map-bookmark-item-padding
	display: inline-block
	width: 100%
	background: $map-bookmark-item-background
	border: $map-bookmark-item-border
	box-shadow: $map-bookmark-item-box-shadow
}

.esriBookmarkItem > div {
	position: relative
}

.esriBookmarkItem.esriBookmarkHighlight {
	color: $map-bookmark-item-highlight-text-color
	text-shadow: $map-bookmark-item-highlight-text-shadow
	background: $map-bookmark-item-highlight-background
	border: $map-bookmark-item-highlight-border
	box-shadow: $map-bookmark-item-highlight-box-shadow
}

.esriBookmarkLabel {
	position: relative
	float: left
	overflow: hidden
	line-height: $line-height
	white-space: nowrap
	margin-left: $map-bookmark-item-label-margin-left
	text-align: left
	vertical-align: middle
	cursor: pointer
}

.esriBookmarkItem.esriAddBookmark {
	button-style()
	width: 8em
	text-align: center
	margin: 0 auto
	display: block
}

.esriBookmarkItem.esriAddBookmark:hover {
	button-hover-style()
}

.esriBookmarkItem.esriAddBookmark:active {
	button-active-style()
}

.esriBookmarkEditImage,
.esriBookmarkRemoveImage {
	float: right
	display: inline-block
	height: $line-height + $padding * 2
	width: @height
	line-height: @height
	text-align: center
	font-family: "FontAwesome"
	margin-top: - $padding
	cursor: pointer
}

.esriBookmarkEditImage:before {
	content: "\f040"
	color: $black-color
}

.esriBookmarkRemoveImage:before {
	content: "\f00d"
	color: $red-color
}

.esriBookmarkEditBox {
	line-height: $line-height
	position: absolute
	top: -1px !important						// minus the width of the top border
	left: $map-bookmark-item-label-margin-left !important			// to overwrite the left property that is dynamically added
}
