@import "../../../variables"

.esriMeasurement {
	background: $map-measurement-background
	padding: $map-measurement-padding
	border: $map-measurement-border
	border-radius: $map-measurement-border-radius
	box-shadow: $map-measurement-box-shadow
	color: $map-measurement-text-color
	text-shadow: $map-measurement-text-shadow
}

.esriMeasurement div:first-child {
	display: none !important								// hide the vertical bar between the combo buttons and the dropdown button
}

.distanceIcon {
	background-image: url(../images/Measure_Distance16.png)
	width: 16px
	height: 16px
}

.areaIcon {
	background-image: url(../images/Measure_Area16.png)
	width: 16px
	height: 16px
}

.locationIcon {
	background-image: url(../images/Measure_Point16.png)
	width: 16px
	height: 16px
}

.esriButton {
	float: left
}

.esriButton + .esriButton {
	margin-left: -1px				// minus the width of the left border
}

.esriButton .dijitButtonNode {
	button-style()
	float: left
	border-radius: 0
}

.esriButton:first-child .dijitButtonNode {
	border-radius: $button-border-radius 0 0 $button-border-radius
}

.esriButton:nth-child(3) .dijitButtonNode {
	border-radius: 0 $button-border-radius $button-border-radius 0
}

.esriButtonHover .dijitButtonNode {
	button-hover-style()
}

.esriButtonActive .dijitButtonNode {
	button-active-style()
}

.esriButtonChecked .dijitButtonNode {
	button-active-style()
	background: $map-measurement-button-checked-background
	color: $map-measurement-button-checked-text-color
}

.esriToggleButton .dijitButtonNode {
	button-style()
}

.esriToggleButtonHover .dijitButtonNode,
.esriToggleButtonOpened .dijitButtonNode {
	button-hover-style()
}

.esriToggleButtonDisabled .dijitButtonNode {
	button-disabled-style()
}

.esriUnitButton .dijitButtonText {
	font-size: 16px !important
}

.esriToggleButton .dijitButtonNode .dijitArrowButtonInner {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	text-decoration: inherit;
	vertical-align: bottom;
}

.esriToggleButton .dijitButtonNode .dijitArrowButtonInner:before {
	content: "\f0d7";
}

.resultLabel {
	margin-top: $map-measurement-result-label-margin-top
	margin-bottom: $map-measurement-result-label-margin-bottom
	border-bottom: $map-measurement-result-label-border-bottom
}

.result {
	padding: $map-measurement-results-padding
}

.unitDropDown {
}
