icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.esriOverviewMap {
  position: absolute;
  z-index: 99;
}
.esriOverviewMap .ovwContainer {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 2px;
  border: 1px solid #b4b4b4;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.esriOverviewMap .map {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.esriOverviewMap .ovwHighlight {
  position: absolute;
  display: none;
  z-index: 99;
  cursor: move;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.esriOverviewMap .ovwButton {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 99;
}
.esriOverviewMap .ovwMaximizer {
  display: none;
}
.esriOverviewMap .ovwDisabledButton {
  display: none !important;
}
.esriOverviewMap .ovwMaximize {
  background: url("../images/overview.png") 0px -130px;
}
.esriOverviewMap .ovwRestore {
  background: url("../images/overview.png") 0px -104px;
}
.esriOverviewMap.ovwTL {
  top: 4px;
  left: 4px;
}
.esriOverviewMap.ovwTR {
  top: 4px;
  right: 4px;
}
.esriOverviewMap.ovwBL {
  bottom: 4px;
  left: 4px;
}
.esriOverviewMap.ovwBR {
  bottom: 4px;
  right: 4px;
}
.esriOverviewMap.ovwTL .ovwContainer {
  top: 0px;
  left: 0px;
}
.esriOverviewMap.ovwTR .ovwContainer {
  top: 0px;
  right: 0px;
}
.esriOverviewMap.ovwBL .ovwContainer {
  bottom: 0px;
  left: 0px;
}
.esriOverviewMap.ovwBR .ovwContainer {
  bottom: 0px;
  right: 0px;
}
.esriOverviewMap.ovwTL .ovwShow,
.esriOverviewMap.ovwBR .ovwHide {
  background: url("../images/overview.png") 0px -26px;
}
.esriOverviewMap.ovwTR .ovwShow,
.esriOverviewMap.ovwBL .ovwHide {
  background: url("../images/overview.png") 0px 0px;
}
.esriOverviewMap.ovwBL .ovwShow,
.esriOverviewMap.ovwTR .ovwHide {
  background: url("../images/overview.png") 0px -78px;
}
.esriOverviewMap.ovwBR .ovwShow,
.esriOverviewMap.ovwTL .ovwHide {
  background: url("../images/overview.png") 0px -52px;
}
.esriOverviewMap .bingLogo-lg {
  display: none;
}
