icon-core-style {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-decoration: inherit;
  vertical-align: bottom;
}
.scalebar_top-left {
  left: 10px;
  top: 10px;
}
.scalebar_top-center {
  left: 50%;
  top: 10px;
}
.scalebar_top-right {
  right: 30px;
  top: 10px;
}
.scalebar_bottom-left {
  left: 25px;
  bottom: 25px;
}
.scalebar_bottom-center {
  left: 50%;
  bottom: 25px;
}
.scalebar_bottom-right {
  right: 100px;
  bottom: 25px;
}
.esriScalebar {
  z-index: 30;
  position: absolute;
  width: 0px;
  height: 20px;
}
.esriScalebarRuler {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 6px;
  background: #fff;
  border: 1px solid #444;
}
.esriScalebarRulerBlock {
  overflow: hidden;
  position: absolute;
  height: 50%;
  background: #444;
}
.upper_firstpiece {
  top: 0%;
  left: 0%;
  width: 25%;
}
.upper_secondpiece {
  top: 0%;
  left: 50%;
  width: 25%;
}
.lower_firstpiece {
  top: 50%;
  left: 25%;
  width: 25%;
}
.lower_secondpiece {
  top: 50%;
  left: 75%;
  width: 30%;
}
.esriScalebarLine {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 6px;
  border: 2px solid #444;
}
.esriScalebarMetricLineBackground {
  border: 4px solid #fff;
  position: absolute;
  left: -1px;
  bottom: 2px;
}
.esriScalebarMetricLine {
  border-top-style: none;
}
.esriScalebarEnglishLine {
  border-bottom-style: none;
  top: -$map-scalebar-line-thickness;
}
.esriScaleLabelDiv {
  position: relative;
  top: -5px;
  width: 100%;
  padding: 2px;
}
.scaleLabelDiv {
  position: relative;
  width: 100%;
  height: 5px;
}
.esriScalebarLabel {
  font-size: 11px;
  position: absolute;
  width: 10%;
  text-align: center;
  color: #666;
  font-weight: bolder;
  height: 5px;
  top: -1px;
}
.esriScalebarLineLabel {
  position: relative;
}
.esriScalebarFirstNumber {
  left: 45%;
}
.esriScalebarSecondNumber {
  left: 95%;
}
