@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url("dijit.css");
/*@import url("dijit_rtl.css");*/
@import url("document.css");

/* Form */
@import url("form/Common.css");
@import url("form/Common_rtl.css");
@import url("form/Button.css");
@import url("form/Button_rtl.css");
@import url("form/Checkbox.css");
@import url("form/RadioButton.css");
@import url("form/Select.css");
@import url("form/Slider.css");
@import url("form/Slider_rtl.css");
@import url("form/NumberSpinner.css");

/* Layout */
@import url("layout/ContentPane.css");
@import url("layout/BorderContainer.css");
@import url("layout/TabContainer.css");
@import url("layout/TabContainer_rtl.css");
@import url("layout/AccordionContainer.css");

/* Others */
@import url("Common.css");
@import url("Calendar.css");
@import url("Calendar_rtl.css");
@import url("ColorPalette.css");
@import url("Dialog.css");
@import url("Dialog_rtl.css");
@import url("Editor.css");
@import url("Editor_rtl.css");
@import url("InlineEditBox.css");
@import url("Menu.css");
@import url("Menu_rtl.css");
@import url("ProgressBar.css");
@import url("TimePicker.css");
@import url("TitlePane.css");
@import url("TitlePane_rtl.css");
@import url("Toolbar.css");
@import url("Toolbar_rtl.css");
@import url("Tree.css");

/* Icons */
@import url("icons/commonIcons.css");
@import url("icons/commonIcons_rtl.css");
@import url("icons/editorIcons.css");
@import url("icons/editorIcons_rtl.css");

/* RTL */
@import url("rtl.css");