//
// Copyright 2014 Esri
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

/* This stylesheet provides the structural CSS for the dgrid */

@import "../../variables";

.dgrid {
	position: relative;
	overflow: hidden; /* This is needed by IE to prevent crazy scrollbar flashing */
	border: $dgrid-border;
	height: $dgrid-height;
	display: block;
}

.dgrid-header {
	background-color: $primary-color;
	position: absolute;
}

.dgrid-header-scroll {
	position: absolute;
	top: 0;
	right: 0;
}

.dgrid-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.dgrid-footer-hidden {
	/* Hiding footer is much simpler; simply set its display to none. */
	display: none;
}

.dgrid-sortable {
	cursor: pointer;
}

.dgrid-header, .dgrid-header-row, .dgrid-footer {
	overflow: hidden;
	background-color: $primary-color;
}

.dgrid-row-table {
	border-collapse: collapse;
	border: none;
	table-layout: fixed;
	empty-cells: show;
	width: 100%;
	height: 100%;
}

.dgrid-cell {
	text-align: left;
	overflow: hidden;
	vertical-align: top;
	border: 1px solid $border-color;
	border-top-style: none;
	border-left-style: none;
	box-sizing: border-box;

	.dijit {
		width: auto;
	}
}

.dgrid-cell-padding {
	padding: $padding;
}

.dgrid-content {
	position: relative;
	height: 99%;
}

.dgrid-scroller {
	overflow-x: auto;
	overflow-y: scroll;
	position: absolute;
	top: 0px;
	margin-top: 25px; /* this will be adjusted programmatically to fit below the header*/
	bottom: 0px;
	width: 100%;
}

.dgrid-preload {
	/* Force IE6 to honor 0 height */
	font-size: 0;
	line-height: 0;
}

.dgrid-loading {
	position: relative;
	height: 100%;
}
.dgrid-above {
	position: absolute;
	bottom: 0;
}

.ui-icon {
	_icon-core-style();
}

.ui-icon-triangle-1-e {
	&:before {
		content: "\f0da";
	}
}

.ui-icon-triangle-1-se {
	&:before {
		content: "\f0dd";
	}
}

.dgrid-expando-icon {
	width: 16px;
	height: 16px;
}

.dgrid-tree-container {
	transition-duration: 0.3s;
	overflow: hidden;

	&.dgrid-tree-resetting {
		transition-duration: 0;
	}
}

/* Single Sort */
.dgrid-sort-arrow {
	&:before {
		content: "\f0d7";
	}
	display: block;
	float: right;
	margin: 0 $padding;
}

.dgrid-sort-up .dgrid-sort-arrow {
	&:before {
		content: "\f0d8";
	}
}

/* Selection */
.dgrid-selected {
	background-color: $container-background-color;
}

.dgrid-input {
	//width: 99%;
}

/* UA-specific hacks*/
html.has-mozilla .dgrid *:focus, html.has-opera .dgrid *:focus {
	/* firefox's focus doesn't work by default for divs prior to actually tabbing into it. This fixes that
	(we don't do any other browsers because we are trying to stay as close to native as possible) */ 
	outline: 1px dotted;
}
html.has-ie-6-7.has-no-quirks .dgrid-row-table {
	/* in IE7 this is needed instead of 100% to make it not create a horizontal scroll bar*/
	width: auto;
}
html.has-quirks .dgrid-row-table, html.has-ie-6 .dgrid-row-table {
	/* similar story, height looks too high */
	height: auto; 
}

html.has-quirks .dgrid-header-scroll,
html.has-ie-6 .dgrid-header-scroll {
	/* ensure that header scroll node can shrink to 0 height in IE6 & quirks */
	font-size: 0;
}

html.has-mozilla .dgrid-focus {
	/* fix row focus outline (prevents horizontal scroll in FF 3.6) */
	outline-offset: -1px;
}

/* will be used to calculate the width of the scrollbar */
.dgrid-scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

/* indicator of a successful load */
#dgrid-css-dgrid-loaded {
	display: none;
}