<table class="content-table">
	<thead>
		<tr>
			<th style="width: 200px">Dijit Name</th>
			<th>Dijit</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<span class="secondary">dijit/layout/</span>BorderContainer <span class="secondary">(gutters: true)</span><br /><br />
				<span class="secondary">dijit/layout/</span>ContentPane
			<td>
				<div data-dojo-attach-point="borderContainer" style="width: 600px; height: 300px;">
				</div>
			</td>
		</tr>
		<tr>
			<td><span class="secondary">dijit/layout/</span>TabContainer <span class="secondary">(tabPosition: "top-h")</span></td>
			<td>
				<div data-dojo-attach-point="tabContainerTop">
				</div>
			</td>
		</tr>
		<tr>
			<td><span class="secondary">dijit/layout/</span>TabContainer <span class="secondary">(tabPosition: "left-h")</span></td>
			<td>
				<div data-dojo-attach-point="tabContainerLeft">
				</div>
			</td>
		</tr>
		<tr>
			<td><span class="secondary">dijit/layout/</span>TabContainer <span class="secondary">(tabPosition: "right-h")</span></td>
			<td>
				<div data-dojo-attach-point="tabContainerRight">
				</div>
			</td>
		</tr>
		<tr>
			<td><span class="secondary">dijit/layout/</span>TabContainer <span class="secondary">(tabPosition: "bottom")</span></td>
			<td>
				<div data-dojo-attach-point="tabContainerBottom">
				</div>
			</td>
		</tr>
		<tr>
			<td><span class="secondary">dijit/layout/</span>AccordionContainer</td>
			<td>
				<div style="width: 300px; height: 300px">
					<div data-dojo-type="dijit/layout/AccordionContainer" style="height: 300px;" data-dojo-attach-point="Accordion">
						<div data-dojo-type="dijit/layout/ContentPane" title="content pane 1">
							some content
						</div>
						<div data-dojo-type="dijit/layout/ContentPane" title="content pane 2" selected="true">
							some content
						</div>
						<div data-dojo-type="dijit/layout/ContentPane" title="content pane 3">
							some content
						</div>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
