//
// Copyright 2014 Esri
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

/* Accordion
 * 
 * Styling AccordionContainer basically means styling the accordion pane (dijitAccordionInnerContainer)
 * and the title inside of it (dijitAccordionTitle).   There are 4 basic states to style:
 * 
 * 1. closed pane (and default styling): 
 * 		.dijitAccordionInnerContainer - container for each accordion child
 * 		.dijitAccordionTitle - title for each accordion child
 *
 * 2. active closed pane (ie, mouse down on a title bar)
 * 		.dijitAccordionInnerContainerActive - for background-color, border
 * 		.dijitAccordionInnerContainerActive dijitAccordionTitle - for text color
 * 
 * 3. open pane (expanded child)
 *		.dijitAccordionChildWrapper - wraps around the child widget (typically ContentPane)
 *			setting a margin so that there's blue trim all the way around the child
 *
 * 		These rules need to override the closed pane active:
 *
 * 		.dijitAccordionInnerContainerSelected - for background-color, border
 * 		.dijitAccordionInnerContainerSelected .dijitAccordionTitle - for text color
 * 
 * 4. hovered pane, open or closed
 * 		The selectors below affect hovering over both a closed pane (ie, hovering a title bar),
 * 		and hovering over an open pane.   Also, treat mouse down on an open pane as a hover:
 *
 * 		.dijitAccordionInnerContainerHover, .dijitAccordionInnerContainerSelectedActive - for background-color, border
 * 		.dijitAccordionInnerContainerHover .dijitAccordionTitle - for text color
 */

@import "../../variables";

.dijitAccordionContainer {
	border: 0 none;
	border-radius: $accordion-border-radius;
}

.dijitAccordionInnerContainer {
	background: $accordion-background;
	border: $accordion-border;
	border-radius: $accordion-border-radius;
	transition-property: background-color, border;
	transition-duration: .3s;
	transition-timing-function: linear;

	+.dijitAccordionInnerContainer {
		margin-top: $accordion-spacing;
		position: relative;
	}
}

/* title bar */

.dijitAccordionTitle {
	button-style();
	border: 0 none;
	border-radius: $accordion-border-radius;

	.arrowTextUp,
	.arrowTextDown {
		display: none;
		float: right;
		_icon-core-style();
		text-align: center;
		font-size:0px;
		&:before {
			content:"\f078";
			font-size: 12px;
		}
	}
	.arrowTextUp {
		display: block;
		&:before {
			content: "\f077";
		}
	}
}

/* Hover */

.dijitAccordionInnerContainerHover .dijitAccordionTitle {
	button-hover-style();
}

/* Active */

.dijitAccordionInnerContainerActive .dijitAccordionTitle {
	button-active-style();
}

/* Selected */

.dijitAccordionInnerContainerSelected {
	border: 0 none;
	.dijitAccordionTitle {
		color: $accordion-title-bar-checked-text-color;
		text-shadow: $accordion-title-bar-checked-text-shadow;
		background: $accordion-title-bar-checked-background;
		border-bottom: $accordion-border if $accordion-content-border[0] == 0 || $accordion-content-border[0] == "none";
		box-shadow: $accordion-title-bar-checked-box-shadow;
		border-radius: $accordion-border-radius $accordion-border-radius 0 0;

		.arrowTextUp {
			display: none;
		}
		.arrowTextDown {
			display: block;
		}
	}
}

/* content wrapper */

.dijitAccordionContainer .dijitAccordionChildWrapper {
	background-color: $accordion-content-background;
	border: $accordion-content-border;
	border-top: 0 none;
	position: relative;
	z-index: 1;
	clear: both;
	border-radius: 0 0 $accordion-border-radius $accordion-border-radius;
}


/* if the spacing between panes is 0 */

if($accordion-spacing[0] <= "0") {
	.dijitAccordionInnerContainer {
		border-radius: 0;
		
		.dijitAccordionTitle {
			border-radius: 0;
		}

		&:not(:last-child) {
			.dijitAccordionChildWrapper {
				border-radius: 0;
			}
		}

		+.dijitAccordionInnerContainer {
			border-top: 0 none;
		}
		+.dijitAccordionInnerContainerSelected:last-child {
			.dijitAccordionTitle {
				border-radius: 0;
			}
		}

		&:first-child,
		&:first-child .dijitAccordionTitle {
			border-radius: $accordion-border-radius $accordion-border-radius 0 0;
		}
		&:last-child,
		&:last-child .dijitAccordionTitle {
			border-radius: 0 0 $accordion-border-radius $accordion-border-radius;
		}
	}	
}