//
// Copyright 2014 Esri
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

@import "../../variables";

.dijitEditorIcon {
	_icon-core-style();
	width: 18px;
	height: 18px;
	line-height: @height;
	text-align: center;
}

/*
.dijitDisabled .dijitEditorIcon {
	// Does not do anything
}
*/
.dijitEditorIconSep {}
.dijitEditorIconSave {
	&:before {
		content: "\f0c7"; 
	}
}
.dijitEditorIconPrint {
	&:before {
		content: "\f02f"; 
	}
}
.dijitEditorIconCut {
	&:before {
		content: "\f0c4"; 
	}
}
.dijitEditorIconCopy {
	&:before {
		content: "\f0c5"; 
	}
}
.dijitEditorIconPaste {
	&:before {
		content: "\f0ea"; 
	}
}
.dijitEditorIconDelete {
	&:before {
		content: "\f00d"; 
	}
}
.dijitEditorIconCancel {
	&:before {
		content: "\f00d"; // Should get a better icon  
	}
}
.dijitEditorIconUndo { 
	&:before {
		content: "\f0e2"; 
	}
}
.dijitEditorIconRedo {
	&:before {
		content: "\f01e"; 
	}
}
.dijitEditorIconSelectAll {
	&:before {
		content: "\f15c"; 
	}
}
.dijitEditorIconBold {
	&:before {
		content: "\f032"; 
	}
}
.dijitEditorIconItalic {
	&:before {
		content: "\f033"; 
	}
}
.dijitEditorIconUnderline {
	&:before {
		content: "\f0cd"; 
	}
}
.dijitEditorIconStrikethrough {
	&:before {
		content: "\f0cc"; 
	}
}
.dijitEditorIconSuperscript {
	&:before {
		content: "\f12b"; 
	}
}
.dijitEditorIconSubscript {
	&:before {
		content: "\f12c"; 
	}
}
.dijitEditorIconJustifyCenter {
	&:before {
		content: "\f037"; 
	}
}
.dijitEditorIconJustifyFull {
	&:before {
		content: "\f039"; 
	}
}
.dijitEditorIconJustifyLeft {
	&:before {
		content: "\f036"; 
	}
}
.dijitEditorIconJustifyRight {
	&:before {
		content: "\f038"; 
	}
}
.dijitEditorIconIndent {
	&:before {
		content: "\f03c"; 
	}
}
.dijitEditorIconOutdent {
	&:before {
		content: "\f03b"; 
	}
}
.dijitEditorIconListBulletIndent {
	&:before {
		content: "\f03c"; // Should get a better icon 
	}
}
.dijitEditorIconListBulletOutdent {
	&:before {
		content: "\f03b"; // Should get a better icon 
	}
}
.dijitEditorIconListNumIndent {
	&:before {
		content: "\f03c"; // Should get a better icon 
	}
}
.dijitEditorIconListNumOutdent {
	&:before {
		content: "\f03b"; // Should get a better icon 
	}
}
.dijitEditorIconTabIndent {
	&:before {
		content: "\f061";
	}
}
.dijitEditorIconLeftToRight {
	&:before {
		content: "\f0ec"; // Should get a better icon 
	}
}
.dijitEditorIconRightToLeft, .dijitEditorIconToggleDir {
	&:before {
		content: "\f0ec"; // Should get a better icon 
	}
}
.dijitEditorIconBackColor {
	&:before {
		content: "\f009"; // Should get a better icon
	}
}
.dijitEditorIconForeColor {
	&:before {
		content: "\f031"; // Should get a better icon
	}
}
.dijitEditorIconHiliteColor {
	&:before {
		content: "\f00a"; // Should get a better icon 
	}
}
.dijitEditorIconNewPage {
	&:before {
		content: "\f016";
	}
}
.dijitEditorIconInsertImage {
	&:before {
		content: "\f03e";
	}
}
.dijitEditorIconInsertTable {
	&:before {
		content: "\f0ce";
	}
}
.dijitEditorIconSpace {
	// Empty
}
.dijitEditorIconInsertHorizontalRule {
	&:before {
		content: "\f068";
	}
}
.dijitEditorIconInsertOrderedList {
	&:before {
		content: "\f0cb"; 
	}
}
.dijitEditorIconInsertUnorderedList {
	&:before {
		content: "\f0ca"; 
	}
}
.dijitEditorIconCreateLink {
	&:before {
		content: "\f0c1"; 
	}
}
.dijitEditorIconUnlink {
	&:before {
		content: "\f127"; 
	}
}
.dijitEditorIconViewSource {
	&:before {
		content: "\f121"; 
	}
}
.dijitEditorIconRemoveFormat {
	&:before {
		content: "\f12d"; 
	}
}
.dijitEditorIconFullScreen {
	&:before {
		content: "\f0b2"; 
	}
}
.dijitEditorIconWikiword {
	&:before {
		content: "\f044"; // Should get a better icon 
	}
}
